.zg-tabs {
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-left: -44px;
  margin-right: -44px;
  padding-left: 44px;
  padding-right: 44px;
  @include media-breakpoint-up(lg) {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.zg-tab {
  display: inline-flex;
  align-items: start;
  padding: 0;
  margin-right: 40px;
  background-color: transparent !important;
  @include media-breakpoint-up(lg) {
    margin-right: 0;
    margin-bottom: 24px;
  }

  &:hover,
  &:focus,
  &.active {
    .zg-tab__title,
    .zg-tab__label {
      background-color: $primary;
    }
  }

  &__title {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    padding: 8px;
    letter-spacing: -0.01em;
    background-color: $white;
    color: $black;
    border-radius: 40px;
    white-space: nowrap;
    min-width: fit-content;
    transition: background-color .3s ease-in-out;

    @include media-breakpoint-up(md) {
      font-size: 28px;
    }
  }

  &__label {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    border-radius: 22px;
    background-color: $white;
    color: $black;
    padding: 2px 7px;
    margin-left: 4px;
    transition: background-color .3s ease-in-out;
  }
}
