---
---
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
         new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
         j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
         'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
         })(window,document,'script','dataLayer','GTM-56J7JTD');
      </script>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Welcome to RSK & RIF Webinars!">
      <meta name="author" content="RSK">
      <title>Webinars</title>
      <!-- og info -->
      <meta property="og:title" content="Webinars">
      <meta property="og:description" content="Welcome to RSK & RIF Webinars!">
      <meta property="og:image" content="{{ site.url }}/assets/img/logos/rsk-rif-logos-unfurl-og.jpeg">
      <meta property="og:url" content="{{ site.url }}/webinars/">
      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="Webinars">
      <meta name="twitter:description" content="Welcome to RSK & RIF Webinars!">
      <meta name="twitter:image" content="{{ site.url }}/assets/img/logos/rsk-rif-logos-unfurl-twitter.jpeg">
      <!-- Favicons -->
      <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
      <link rel="manifest" href="img/favicons/site.webmanifest">
      <link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#000000">
      <link rel="shortcut icon" href="img/favicons/favicon.ico">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700,900&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800&display=swap" rel="stylesheet">
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Libraries CSS Files -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">
      <!-- Main Stylesheet File -->
      <link href="css/styles.css" rel="stylesheet">
      <meta name="robots" content="noindex">
   </head>
   <body>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-56J7JTD"
         height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      {% include header.html %}
      <!-- Page Content -->
      <!-- home -->
      <section id="home">
         <div class="container-fluid h-100">
            <div class="row h-100">
               <div class="container h-100">
                  <div class="row h-100">
                     <div id="home-text" class="col-lg-12 my-auto">
                        <h1><span class="bold rsk_green">Webinars</span>
                        </h1>
                        <p class="mb-5"><span class="bold">Welcome to RSK & RIF Webinars!</span> Now you can watch and learn more about Blockchain! Check the latest news, information, tools, tutorials and workshops around <span class="bold">RSK, RIF, Blockchain, Bitcoin and the Internet of Value</span>.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <!-- Calendar -->
      {% assign events = site.data.webinars.events | where_exp: "event", "event.status != 'cancelled'" %}
      {% assign past_events = events | where_exp: "event", "event._isPast == true" | sort: 'timestamp' | reverse %}
      {% assign future_events = events | where_exp: "event", "event._isPast == false" | sort: 'timestamp' %}

      <section id="calendar">
         <img class="circle-blue" src="img/circles/circle-blue.png">
         <div class="container">
            <div class="row mb-3">
               <div class="col-lg-6">
                  <h2><span class="bold rsk_green">Calendar</span></h2>
               </div>
            </div>

            <div class="row">
               <!-- Event grid -->
               <div class="grid-nofilters">
                  <div class="row">
               {% for event in future_events %}
                  <!-- Event -->
                  <div
                     id="event-id-{{ event.id }}"
                     class="col-lg-4 eventos tiempo {{ event.tags }}"
                     data-timestamp="{{ event.timestamp }}">
                     {% if event._permalink %}
                     <a href="{{ event._permalink }}"
                        class="event-inner">
                     {% else %}
                     <a href="{{ event.videoStreamUrl }}"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="event-inner">
                     {% endif %}
                        <div class="image-group" style="background-image: url('{{ event.image }}');">
                           <div class="event-type">{{ event.category }}</div>
                        </div>
                        <div class="info-group">
                           <div class="title-group">
                              {{ event.title }}
                              <br>
                              {{ event.subtitle }}
                           </div>
                           <div class="desc-group">
                              <span class="bold">
                              {% if locationCategory == "online" %}
                                 ONLINE EVENT
                              {% elsif locationCategory == "physical" %}
                                 IN-PERSON EVENT
                              {% elsif locationCategory == "onlineAndPhysical" %}
                                 ONLINE &amp; IN-PERSON EVENT
                              {% endif %}
                              </span>
                              <span>
                                 <i class="fa fa-language" aria-hidden="true"></i>
                                 <span class="text display-language">{{ event.language }}</span>
                              </span>
                              <span>
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <span class="text display-date"></span>
                              </span>
                              <span>
                                 <i class="fa fa-clock" aria-hidden="true"></i>
                                 <span class="text display-time"></span>
                                 <span class="text display-tz"></span>
                              </span>
                              <span>
                                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                                 <span class="text display-space">{{ event.location }}</span>
                              </span>
                           </div>
                        </div>
                        <div class="button-group">More info +</div>
                     </a>
                  </div>

                  <!-- /Event -->
               {% endfor %}
                  </div>
               </div>
               <!-- /Event grid -->
            </div>
         </div>
      </section>

      <!-- ical -->
      <section id="add-calendar">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 my-auto text-center">
                  <a
                     href="/webinars/calendar.ical"
                     target="_blank"
                     rel="noreferrer noopener">
                     <img src="img/calendar-image.png" class="calendar-image">
                     <h4>
                        <span class="rsk_black">Add to your</span>
                        <span class="rsk_green bold">Calendar</span>
                     </h4>
                  </a>
               </div>
            </div>
         </div>
         <img class="circle-blue" src="img/circles/circle-blue.png">
      </section>

      <!-- youtube -->
      <section id="youtube">
         <img class="circle-green" src="img/circles/circle-green.png">
         <img class="semi-circle-right" src="img/circles/semi-circle-right.png">
         <img class="semi-circle-left" src="img/circles/semi-circle-left.png">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 my-auto text-center">
                  <a
                     href="https://www.youtube.com/rsksmart"
                     target="_blank"
                     rel="noreferrer noopener">
                     <h4>
                        <span class="rsk_black">Access all our past Webinars</span>
                        <br>
                        <span class="rsk_black">on</span>
                        <span class="rsk_green bold">YouTube</span>
                     </h4>
                     <i class="fab fa-youtube"></i>
                  </a>
               </div>
            </div>
         </div>
      </section>

      <!-- past events calendar -->
      <section id="calendar-past">
         <img class="circle-blue" src="img/circles/circle-blue.png">
         <div class="container">
            <div class="row mb-3">
               <div class="col-lg-6">
                  <h2><span class="bold rsk_green">Past events</span></h2>
               </div>
            </div>
            <!-- Event selection -->
            <div class="row mb-5">
               <div class="col">
                  <div class="filters">
                     <div class="ui-group">
                        <h3 class="title-sm">Recent</h3>
                        <select class="filter-select" value-group="language">
                           <option disabled="disabled">Select Recency</option>
                           <option value="">All</option>
                           <option value=".recent" selected="true">Most recent only</option>
                        </select>
                     </div>
                     <div class="ui-group">
                        <h3 class="title-sm">Language</h3>
                        <select class="filter-select" value-group="language">
                           <option selected="true" disabled="disabled">Select Language</option>
                           <option value="">All</option>
                           <option value=".idioma-english">English</option>
                           <option value=".idioma-spanish">Español</option>
                           <option value=".idioma-portuguese">Português</option>
                        </select>
                     </div>
                     <div class="ui-group">
                        <h3 class="title-sm">Audience</h3>
                        <select class="filter-select" value-group="audience">
                           <option selected="true" disabled="disabled">Select Audience</option>
                           <option value="">All</option>
                           <option value=".audiencia-general">General</option>
                           <option value=".audiencia-developers">Developers</option>
                           <option value=".audiencia-enterprise">Enterprise</option>
                           <option value=".audiencia-startups">Startups &amp; Entrepreneurs</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row">
               <!-- Past event grid -->
               <div class="grid">
                  <div class="row">
               {% for event in past_events %}
                  <!-- Past event -->

                  <div
                     id="event-id-{{ event.id }}"
                     class="col-lg-4 eventos eventos-past tiempo {{ event.tags }}"
                     data-timestamp="{{ event.timestamp }}">
                     <div class="event-inner">
                        <div class="image-group" style="background-image: url('{{ event.image }}');">
                           <div class="event-type">{{ event.category }}</div>
                        </div>
                        <div class="info-group">
                           <div class="title-group">
                              {{ event.title }}
                              <br>
                              {{ event.subtitle }}
                           </div>
                           <div class="desc-group">
                              <span class="bold">
                              </span>
                              <span>
                                 <i class="fa fa-video" aria-hidden="true"></i>
                                 <span class="text display-recorded-video-url">
                                    {% if event.recordedVideoUrl != "" %}
                                    <a href="{{ event.recordedVideoUrl }}"
                                       rel="noreferrer noopener"
                                       target="_blank">
                                       View Recording
                                    </a>
                                    {% else %}
                                    <span>
                                       Recording not available
                                    </span>
                                    {% endif %}
                                 </span>
                              </span>
                              <span>
                                 <i class="fa fa-language" aria-hidden="true"></i>
                                 <span class="text display-language">{{ event.language }}</span>
                              </span>
                              <span>
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <span class="text display-date"></span>
                              </span>
                              {% assign resourceCount = event.resources | size %}
                              {% if resourceCount > 0 %}
                              <span>
                                 <i class="fa fa-link" aria-hidden="true"></i>
                                 <span class="text">Resources</span>
                              </span>
                              <ul class="text display-resource">
                                 {% for resource in event.resources %}
                                    <li>
                                       <a href="{{ resource.url }}"
                                          rel="noreferrer noopener"
                                          target="_blank">
                                          {{ resource.label }}
                                       </a>
                                    </li>
                                 {% endfor %}
                              </ul>
                              {% endif %}
                           </div>
                        </div>
                        <div
                           class="button-group"
                           data-event-id="{{ event.id }}">
                           {% if event._permalink %}
                           <a href="{{ event._permalink }}">
                              More info +
                           </a>
                           {% endif %}
                        </div>
                     </div>
                  </div>

                  <!-- /Past event -->
               {% endfor %}
                  </div>
               </div>
               <!-- /Past event grid -->
            </div>
         </div>
      </section>

      <!-- scope -->
      <section id="brands">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 my-auto text-center">
                  <img src="img/rsk-rif-iov.png" class="img-fluid three-brands">
               </div>
            </div>
         </div>
      </section>
      {% include footer.html %}
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="js/isotope.pkgd.min.js"></script>
      <script src="js/main.js"></script>
   </body>
</html>