.subscribe-form {

  input[type="email"] {
    @extend .form-control;
  }

  label {
    @extend .visually-hidden;
  }

  ul {
    list-style: none;
  }

  &__btn {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #000000;
    border-radius: 40px;
    letter-spacing: -0.01em;
    padding: 8px 12px;
  }
}

//Radio btn
.zg-radio-wrap {
  --gutter: 16px;
  overflow-y: hidden;
  overflow-x: auto;
  margin-left: calc(var(--gutter) * -1);
  margin-right: calc(var(--gutter) * -1);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  padding-bottom: 10px;
  @include media-breakpoint-up(md) {
    --gutter: 44px;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
      background: $black;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba($primary, 0.5);
      border-radius: 16px;
      transition: background 0.3s;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba($primary, 0.7);
    }
  }
  @include media-breakpoint-up(lg) {
    --gutter: 48px;
  }
}

.zg-radio {
  flex-shrink: 0;
  cursor: pointer;
  --bg: #{$white};
  display: inline-flex;
  align-items: flex-start;

  input {
    display: none;
  }

  & > span {
    background-color: var(--bg);
    color: $black;
  }

  :checked ~ span {
    --bg: #{$primary};
  }
}

.zg-radio-label {
  border-radius: 40px;
  height: 48px;
  padding: 8px;
  font: 700 28px/1.14 $font-family-base;
  letter-spacing: -0.01em;
}
