<div class="container the-stack">
  <div class="row rif_blue_text">
    <div class="col">
      <div class="rns-index-box">
        <a href="https://github.com/rsksmart/rlogin-sample-apps/tree/main/basic-dapp">dApps with no back-end</a>
        <br />
        <br />
        <p>use <i>rLogin modal</i> to operate with user's compatible wallets</p>
      </div>
    </div>
    <div class="col">
      <div class="rns-index-box">
        <a href="https://github.com/rsksmart/rlogin-sample-apps/blob/main/permissioned-app">dApps requesting user's specific info</a>
        <br />
        <br />
        <p>use <i>rLogin + DID Auth + RIF Data Vault</i> to request specific Verifiable Credentials to the user</p>
      </div>
    </div>
    <div class="col">
      <div class="rns-index-box">
        <a href="/guides/rlogin/">rLogin DApp Guide</a>
        <br />
        <br />
        <p>Build a DApp with rLogin</p>
      </div>
    </div>
  </div>
</div>
