<div class="container the-stack">
  <div class="row rif_blue_text">
    <div class="col">
      <div class="rns-index-box">
        <a href="/rif/identity/rlogin/integrate/dapps">dApps with no back-end</a>
        <br />
        <br />
        <p>use <i>rLogin modal</i> to operate with user's compatible wallets</p>
      </div>
    </div>
    <div class="col">
      <div class="rns-index-box">
        <a href="/rif/identity/rlogin/integrate/back-end">dApps with back-end</a>
        <br />
        <br />
        <p>use <i>rLogin + DID Auth</i> to integrate a challenge-response authentication</P>
      </div>
    </div>
    <div class="col">
      <div class="rns-index-box">
        <a href="/rif/identity/rlogin/integrate/vcs">dApps requesting user's specific info</a>
        <br />
        <br />
        <p>use <i>rLogin + DID Auth + RIF Data Vault</i> to request specific Verifiable Credentials to the user</p>
      </div>
    </div>
  </div>
</div>
