/*font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;*/
:root {
    --logo: url(../img/rsk_logo_reverse.svg);
    --toggler: url(../img/burger_dark_two.svg);
    --primary-color: #000000;
    /*black */
    --secondary-color: #FFFFFF;
    /* white */
    --tertiary-color: #00b520;
    /* RSK Green */
    --primary-bg: #141414;
    /* body background color*/
    --secondary-bg: #383838;
    /* solid grey background for content boxes */
    --tertiary-bg: rgba(56, 56, 56, 0.6);
    /*grey 60% opacity*/
    --quaternary-bg: rgba(56, 56, 56, 0.99);
    /* grey 99% opacidad*/
    --primary-bg-img: url("../img/main-bg.png");
    --tips-bg: #FFFFFF;
    --tips-title-bg: #969696;
    --tips-border-color: transparent;
    --tips-content-border-top-color: transparent;
    --external-link-icon: url(../img/ext-link-white.svg);
    --internal-link-icon: url(../img/link-solid-white.svg);
    --table-filled-link-bg: #FFFFFF;
    --table-filled-link-color: #000000;
    --table-filled-external-link-icon: url(../img/ext-link-white.svg);
    --homepage-video-bg-img: url(../img/home-video-bg.jpg);
}

[data-theme="light"] {
    --logo: url(../img/rsk_logo.svg);
    --toggler: url(../img/burger_light_two.svg);
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --tertiary-color: #00b520;
    --primary-bg: #FFFFFF;
    --secondary-bg: #f5f5f5;
    --tertiary-bg: rgba(245, 245, 245, 0.6);
    --quaternary-bg: rgba(255, 255, 255, 0.99);
    --tips-bg: transparent;
    --tips-title-bg: transparent;
    --tips-border-color: #000000;
    --tips-content-border-top-color: #000000;
    --internal-link-icon: url(../img/link-solid-black.svg);
    --external-link-icon: url(../img/ext-link-black.svg);
    --table-filled-external-link-icon: url(../img/ext-link-white.svg);
}

html {
    scroll-behavior: smooth
}



/* SWITCH THEME*/
.theme-switch-wrapper {
    width: 45px;
    height: 25px;
}

.theme-switch-wrapper .theme-switch input {
    display: none;
}

.theme-switch-wrapper .theme-switch .slider.round {
    border-radius: 19px;
    width: 45px;
    height: 25px;
}

.theme-switch-wrapper .theme-switch .slider {
    background-color: var(--secondary-color);
    bottom: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.theme-switch-wrapper .theme-switch .slider:before {
    content: "";
    position: absolute;
    height: 19px;
    width: 19px;
    background-color: #000000;
    bottom: 3px;
    right: 3px;
    transition: 0.4s;
    border-radius: 50%;
}

.theme-switch-wrapper .theme-switch input:checked+.slider:before {
    transform: translateX(-19px);
    background-color: #FFFFFF;
}

/* ENDS SWITCH THEME*/
body {
    background-image: var(--primary-bg-img);
    background-repeat: repeat-y;
    background-size: cover;
    background-position-x: left;
    padding-bottom: 0px;
    background-position-x: left;
    background-color: var(--primary-bg);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--secondary-color);
    padding-bottom: 0px !important;
}

header {
    position: relative;
    z-index: 99;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1,
h2,
h3 {
    font-family: "Quicksand", sans-serif;
}

h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h4 {
    color: var(--secondary-color);
}

h3 {
    color: var(--tertiary-color);
    margin: 30px 0;
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
}

h3,
h4 {
    font-size: 1.5rem;
}

/* CUSTOM MARGINS*/
.custom-mb-5 {
    margin-bottom: 3rem;
}

/* LINKS*/
a {
    color: var(--secondary-color);
}

a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.topic-content a {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 0 8px;
    position: relative;
    display: inline-block;
}

.topic-content a:hover {
    color: #FFFFFF;
    background-color: var(--tertiary-color);
    text-decoration: none;
}

.topic-content a[target='_blank'] {
    margin-right: 25px;
}

.topic-content a[target='_blank']:after {
    content: '';
    position: absolute;
    left: calc(100% + 5px);
    width: 15px;
    height: 15px;
    background: var(--external-link-icon);
    background-repeat: no-repeat;
    background-size: 15px;
    top: 0;
}

.topic-content a:hover[target='_blank']:after {
    background: url(../img/ext-link-green.svg);
}

.topic-content .item a[target='_blank']:after {
    content: none;
}

#fullCarousel .item:before{
 content: "";
    position: absolute;
    top: 0;
    left: 30px;
    width: calc(100% - 60px);
    height: 100%;
    background-image: linear-gradient(120deg, #000000, transparent);
    opacity: .9;
    }

/* END LINKS*/
li {
    color: var(--secondary-color);
}

.col_menu {
    background: var(--tertiary-bg);
    padding: 40px 0;
}

.col_menu h2 {
    margin-top: 1vh;
    margin-bottom: 40px;
}

.content-box {
    background: var(--secondary-bg);
    padding: 1.2rem 2rem;
}

@media (max-width: 991px) {
    .content-box {
        padding: 1.2rem 15px;
    }
}

.navbar-toggler {
    padding: .25rem 0rem;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0);
    position: relative;
    z-index: 12;
    outline: none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: var(--toggler);
}

.container {
    max-width: 1660px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1660px;
    }
}

@media (max-width: 991px) {
    header .container {
        padding-right: 15px;
    }
}

@media (max-width: 1710px) {
    .container {
        padding-right: 75px;
    }
}

@media (max-width: 991px) {
    .container {
        padding-right: 15px;
    }
}

.logo {
    width: 150px;
    height: 83px;
    transition: all 0.5s ease;
    position: relative;
    z-index: 12;
    background-image: var(--logo);
    background-size: contain;
    background-repeat: no-repeat;
    top: -20px;
}

nav {
    z-index: 11;
    padding: 0 !important;
}

.navbar-expand-xl .navbar-nav .nav-link {
    padding: 15px 10px;
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link a {
    padding: 5px;
}

.navbar-dark .navbar-nav .nav-link.selected a,
.navbar-dark .navbar-nav .nav-link a:hover {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding: .5rem 1rem;
    }
}

@media (min-width: 992px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 1300px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        font-size: 0.9rem;
    }
}

.form-control {border: solid 1px var(--secondary-color);}
.form-control-sm {border-radius:0rem;}
.form-control {background-color:transparent;}
.input-group-append {
    margin-left: -1px;
   
}

.input-group>.input-group-append>.btn{ width:32px; height:31px;   border: solid 1px var(--secondary-color);
    border-radius: 0px;}
.fa-search:before {color: var(--secondary-color); }
.fa-search:hover:before {color: var(--tertiary-color); }
btn:focus, a:focus
{
         outline: none;
}
input[type="search"]:focus {
outline: none;
box-shadow:none !important;
border: solid 1px var(--secondary-color);
background:transparent;
color: var(--secondary-color);
}

input[type="search"]{color: var(--secondary-color);}

/*LEFT NAV MENU*/

.toggle-nav-column-visibility {
    cursor: pointer;
}

.inner-nav-left {
    height: 350px;
    overflow-y: hidden;
    font-size: 12px;
}


.inner-nav-left ul>li a,
.toggle-nav-column-visibility .text, .return-link a {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 700;
    display:inline-block;
    margin-bottom:10px;
}

.toggle-nav-column-visibility, .return-link a {
    padding-left: 18px;
}

.toggle-nav-column-visibility .text:hover, .return-link a:hover {
    color: var(--tertiary-color);
}

.inner-nav-left ul>li>ul a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom:0px;
}

.inner-nav-left ul {
    list-style: none;
    padding-left: 5px;
   
}

.inner-nav-left ul>li>ul {
    padding-left: 15px;
    display: none;
}

.inner-nav-left ul>li.deployed>ul {
    display: block;
}

.inner-nav-left a {
    text-decoration: none;
}

.inner-nav-left a:hover {
    color: var(--tertiary-color);
}


.inner-nav-left li {
    margin-bottom: 5px;
}

.inner-nav-left .external-icon {
    width: 15px;
    height: 14px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: -5px;
}

.inner-nav-left .caret-icon {
    width: 10px;
    height: 14px;
    display: inline-block;
    cursor: pointer;
}

.inner-nav-left .caret-icon:hover,
.inner-nav-left a.active {
    color: var(--tertiary-color);
}

.inner-nav-left .caret-icon>i {
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

.inner-nav-left .deployed>.caret-icon>i {
    transform: rotate(90deg);
}

.inner-nav-left a {
    margin-left: 15px;
}

.inner-nav-left .hassub>a {
    margin-left: 0
}

.inner-nav-left a.external {
    margin-left: 0
}


.caret-icon+.external>.external-icon {
    display: none;
}

/*custom scroll */
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: var(--secondary-color);
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
    background-color: var(--secondary-color);
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: var(--secondary-color);
}

/* end custom scroll */
.left {
    float: left;
}

.right {
    float: right;
}

.green {
    color: var(--tertiary-color);
}

.content {
    padding: 1.2rem 2rem;
}

.on_this_page {
    list-style-type: none;
    padding-left: 0px;
}

.on_this_page li {
    display: inline-block;
}

.on_this_page li::after {
    content: "|";
    margin-right: 7px;
    margin-left: 7px;
}

.on_this_page li:last-child::after {
    display: none;
}

.on_this_page li a {
    font-size: 0.9rem;
}

.on_this_page li a:hover {
    color: var(--tertiary-color);
    text-decoration: none
}

.big_separator {
    height: 7px !important;
    background: #000000;
    padding-bottom: 1px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

.small_separator {
    height: 2px !important;
    background: #000000;
    padding-bottom: 1px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

.content-box img {
    width: 100%;
    border: solid 15px #000000;
    margin: 30px auto;
}

.small_separator+img,
.big_separator+img,
img+.big_separator,
img+.small_separator,
.content-box img+.content-box img {
    margin: 0 auto 30px;
}

.tips {
    background-color: var(--tips-bg);
    border: 1px solid var(--tips-border-color);
    border-left: solid 5px #3498db;
    width: calc(100% + 5px);
    position: relative;
    left: -5px;
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
}

.tips-title {
    background-color: var(--tips-title-bg);
    font-weight: 700;
    color: var(--secondary-color);
    padding: 5px 15px;
}

.tips-content {
    padding: 5px 15px;
    color: #969696;
    border-top: 1px solid var(--tips-content-border-top-color);
}

.badge-tips {
    padding: 0.3rem 1rem;
    font-size: 100%;
    font-weight: 400;
    border: solid 1px #969696;
    border-radius: .3rem;
}

.badge-tips:hover {
    background-color: #969696;
}

.badge-tips a {
    color: #969696;
    background-color: transparent;
}

.badge-tips:hover a {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

.related-topics {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 0.5rem 1rem 0.5rem 0;
    clear: both;
    float: left;
}

.related-topics a {
    color: #3498db;
    display: block;
    font-style: italic;
    background-color: transparent;
}

.related-topics a:hover {
    background-color: #3498db;
    color: #FFFFFF;
    text-decoration: none;
}

.carousel-inner {
    border: 4px solid #000;
    border-radius: 5px;
    padding: 3vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.carousel-inner .carousel-item {
    max-width: 300px;
}

.carousel-inner .carousel-item img {
    width: 100%;
}

.change_theme {
    cursor: pointer;
}

/* ACTIONS BUTTONS */
.st-btn {
    border: none;
    border-radius: 5px;
}

.share-buttons-container {
    position: fixed;
    right: -300px;
    top: 330px;
    transition: all 0.5s ease;
    z-index: 98;
}

.sharethis-inline-share-buttons {
    transform: rotate(90deg);
}

.share-buttons-container.share-reveal {
    right: -55px;
}

.st-btn img {
    border: unset;
    margin: unset;
    transform: rotate(-90deg);
}

@media (max-width: 991px) {
    .sharethis-inline-share-buttons {
        transform: none;
    }

    .st-btn img {
        transform: none;
    }

    .share-buttons-container {
        bottom: 50px;
        top: unset;
    }

    .share-buttons-container.share-reveal {
        right: 115px;
        bottom: 50px;
        top: unset;
    }
}

/* SIDEBARS */
.sidebar {
    height: 100%;
    width: 525px;
    position: fixed;
    z-index: 2247483640;
    color: black;
    top: 0;
    right: -600px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 30px 0 0 15px;
    border-left: 1px solid #333;
    box-shadow: -12px 0 18px 0 rgba(50, 50, 50, .3);
}

@media (max-width: 526px) {
    .sidebar {
        width: 100vw;
    }
}

.sidebar.sidebar-open {
    right: 0px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
}

.twitter-feed-container {
    max-height: 95vh;
    overflow-y: auto
}

/*overwrite hotjar styling*/
#_hj-f5b2a1eb-9b07_feedback[data-device="phone"][data-minimized-position^="middle_"] #_hj-f5b2a1eb-9b07_feedback_minimized,
#_hj-f5b2a1eb-9b07_feedback[data-viewmode="desktop"][data-minimized-position="middle_right"] #_hj-f5b2a1eb-9b07_feedback_minimized {
    top: unset !important;
    bottom: 10vh !important;
}

@media (max-width: 991px) {
    ._hj-f5b2a1eb-9b07_widget {
        z-index: 99 !important;
    }

    #_hj-f5b2a1eb-9b07_feedback[data-device="phone"][data-minimized-position^="middle_"] #_hj-f5b2a1eb-9b07_feedback_minimized,
    #_hj-f5b2a1eb-9b07_feedback[data-viewmode="desktop"][data-minimized-position="middle_right"] #_hj-f5b2a1eb-9b07_feedback_minimized {
        top: unset !important;
        bottom: -85px !important;
        left: -53px;
        transform: rotate(90deg);
    }
}

#_hj-f5b2a1eb-9b07_feedback[data-minimized-position="middle_right"] ._hj-f5b2a1eb-9b07_feedback_minimized_label {
    border-radius: 10px 0 0 10px !important;
}

#_hj-f5b2a1eb-9b07_feedback ._hj-f5b2a1eb-9b07_feedback_minimized_label {
    background: var(--tertiary-color) !important;
}

#_hj-f5b2a1eb-9b07_feedback._hj-f5b2a1eb-9b07_widget {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700 !important;
}

#_hj-f5b2a1eb-9b07_feedback_open_close_phone {
    background-color: var(--tertiary-color) !important;
}

/* AcTIONS BUTTONS STYLES*/
.chat-btn,
.twitter-btn,
.share-redes {
    background-color: var(--tertiary-color);
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    position: fixed;
    right: 0px;
    z-index: 99;
    background-size: 25px;
    background-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.chat-btn {
    background-image: url(../img/icons/chat.svg);
    top: 230px;
}

.twitter-btn {
    background-image: url(../img/icons/twitter.svg);
    top: 280px;
}

.share-redes {
    background-image: url(../img/icons/share.svg);
    top: 330px;
}

.twitter-btn.disable, .chat-btn.disable, #_hj_feedback_container.disable{opacity:0.3; pointer-events: none;}

@media (max-width: 991px) {

    .chat-btn,
    .twitter-btn,
    .share-redes {
        bottom: 0;
        top: unset;
        /*transform: rotate(90deg);*/
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .chat-btn {
        right: 255px;
    }

    .twitter-btn {
        right: 185px;
    }

    .share-redes {
        right: 115px;
    }
}

.main_content {
    padding-bottom: 100px;
}

.beta_content {
    width: 100%;
    padding: 0 30px;
}

/* sticky elements */
header.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--quaternary-bg);
    border-bottom: solid 2px var(--primary-color);
}

.sticky .logo {
    width: 80px;
    height: 45px;
    top: 0;
}

.sticky-top {
    z-index: 98;
}

.header-inner,
#siteBreadcrumb,
#page-metadata {
    transition: all 0.5s ease;
}

#page-metadata a:hover {
   color: var(--tertiary-color);
}

@media (max-width: 991px) {
    #page-metadata {
        margin-bottom: 16px;
    }
}

.sticky .theme-switch-wrapper .theme-switch .slider {
    right: 2rem;
    top: 8px;
}

.sticky .custom-mb-5 {
    margin-bottom: 0px !important;
}

#beta_content_container.sticky,
.header-inner.sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 50;
    border-top: 2px solid var(--primary-color);
}

.sticky #siteBreadcrumb,
.sticky #page-metadata {
    background: var(--secondary-bg);
    border-bottom: 2px solid var(--primary-color);
}

.sticky #siteBreadcrumb {
    padding: 0.5rem 0 0 2rem !important;
}

.sticky #page-metadata {
    padding: 0.5rem 2rem 0 0 !important;
}

.page-title {
    transition: all 0.5s ease;
}

.sticky .p-0 {
    padding: 0.5rem 2rem 0 !important;
}

.page-title.sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 50;
    margin-bottom: 0px;
    border-bottom: 2px solid var(--primary-color);
}

.page-title h1 {
    transition: all 0.5s ease;
}

@media (min-width: 1301px) {
    .col_menu.sticky-top {
        top: 58px;
    }

    .header-inner.sticky,
    #beta_content_container.sticky {
        top: 56px;
    }
}

@media (min-width: 992px) {
    .page-title.sticky h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 1300px) {
    .col_menu.sticky-top {
        top: 55px;
    }

    .header-inner.sticky,
    #beta_content_container.sticky {
        top: 54px;
    }
}

@media (max-width: 991px) {
    .col_menu.sticky-top {
        position: relative;
    }

    .header-inner.sticky {
        position: relative;
    }
}

/* ends sticky elements */
/*TEXT IN COLUMNS*/
@media (min-width: 992px) {
    .two_columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 3em;
        -moz-column-gap: 3em;
        column-gap: 3em;
    }

    .three_columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 3em;
        -moz-column-gap: 3em;
        column-gap: 3em;
    }
}

/*LISTS*/
/*ordered lists*/
ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    max-width: 100%;
    padding-left: 40px;
}

ol li {
    counter-increment: my-awesome-counter;
    position: relative;
}

ol li::before {
    content: counter(my-awesome-counter) ". ";
    font-weight: bold;
    padding-right: 5px;
    position: absolute;
    left: -35px;
    width: 30px;
    text-align: right;
}

/* MAIN NAV SLIDE RIGHT ON MOBILE */
@media (max-width: 1199px) {
    .navbar-nav {
        margin-top: 155px;
        transition: all 0.5s ease;
        max-height: 70vh;
        overflow-y: auto;
    }

    .sticky .navbar-nav {
        margin-top: 75px;
    }

    .navbar-collapse {
        background: var(--primary-color);
        position: fixed;
        top: 0px;
        height: 100vh;
        left: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 50%;
        transition: all 0.5s ease;
    }

    .navbar-collapse.collapsing {
        height: 100vh !important;
        margin-right: 50%;
        transition: all 0.5s ease;
        display: block;
    }

    .navbar-collapse.show {
        left: 50%;
        top: 0;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        width: 100%;
    }

    .navbar-collapse.show {
        left: 0;
    }
}

/* RESPONSIVE TABLES */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 50px auto;
}

/* Zebra striping */
tr {
    color: #FFFFFF;
}

.table-filled-bg-row a {
    color: var(--table-filled-link-color);
    background-color: var(--table-filled-link-bg);
}

.table-filled-bg-row a[target='_blank']:after {
    background: var(--table-filled-external-link-icon);
}

.table-filled-bg-row tr:nth-of-type(odd) {
    background: #202225;
}

.table-empty-bg-row tr:nth-of-type(odd) {
    background: var(--secondary-bg);
    color: var(--secondary-color);
}

.table-filled-bg-row tr:nth-of-type(even) {
    background: #18191c;
}

.table-empty-bg-row tr:nth-of-type(even) {
    background: var(--secondary-bg);
    color: var(--secondary-color);
}

.table-filled-bg-row th {
    background: #505050;
    color: #FFFFFF;
    font-weight: bold;
}

.table-empty-bg-row th {
    background: #18191c;
    color: #FFFFFF;
}

td,
th {
    padding: 10px;
    border: none;
    text-align: left;
    font-size: 16px;
}

.table-empty-bg-row td,
.table-empty-bg-row th {
    border: 1px solid #18191c;
}

.table-filled-bg-row .regular-table-header {
    border-top: solid 1px #18191c;
}

.table-empty-bg-row .regular-table-header {
    border-top: solid 2px #CCCCCC;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table {
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr.regular-table-header {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-filled-bg-row tr {
        border: 1px solid #ccc;
    }

    .table-empty-bg-row tr {
        border: 1px solid #ccc;
    }

    .table-empty-bg-row td,
    .table-empty-bg-row th {
        border-bottom: 1px solid #CCCCCC;
        border-top: none;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0px;
        left: 0px;
        width: 45%;
        height: 100%;
        padding: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);
        color: #FFFFFF;
        font-weight: bold;
    }

    .table-empty-bg-row td:before {
        background-color: #18191c;
    }
}

/* responsive tables ends */
/* SLIDERS */
.owl-carousel .owl-item img {
    border: none;
    margin: 0 auto;
    transition: all 0.5s ease;
    width: 92px;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    top: 25%;
    width: 100%;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background-color: var(--secondary-bg);
    height: 60px;
    width: 30px;
    font-size: 60px;
    outline: none;
    color: var(--secondary-color);
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background-color: var(--secondary-bg);
    color: var(--secondary-color);
}

.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
    position: relative;
    top: -20px;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: -25px;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: -25px;
}

@media (max-width: 991px) {
    .owl-carousel .owl-nav button.owl-prev {
        left: -20px;
    }

    .owl-carousel .owl-nav button.owl-next {
        right: -20px;
    }
}

/* magnify carousel*/
#magnifyCarousel.owl-carousel .owl-stage-outer {
    padding: 50px 0;
}

#magnifyCarousel.owl-carousel {
    border: solid 2px var(--secondary-color)
}

#magnifyCarousel.owl-carousel .owl-item {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    padding: 0 40px;
}

#magnifyCarousel.owl-carousel .owl-item .company-name {
    position: absolute;
    bottom: -12px;
    left: 0;
    opacity: 0;
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    transition: all 0.5s ease;
}

#magnifyCarousel.owl-carousel .owl-item a {
    background-color: transparent;
    width: 100%;
}

#magnifyCarousel.owl-carousel .owl-item a:hover {
    background-color: transparent;
}

#magnifyCarousel.owl-carousel .owl-item.active.center {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    z-index: 2;
}

#magnifyCarousel.owl-carousel .owl-item.active.center .company-name {
    opacity: 1;
    background-color: var(--secondary-bg)
}

@media (max-width: 601px) {
    #magnifyCarousel.owl-carousel .owl-item.active.center .company-name {
        width: 50%;
        left: 25%;
    }
}

#magnifyCarousel {
    height: 190px;
    margin-bottom: 30px;
}

/*full carousel*/
#fullCarousel.owl-carousel .owl-item .item {
    height: 250px;
    width: calc(100% - 60px);
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

#fullCarousel {
    height: 250px;
    margin-bottom: 60px;
}

#fullCarousel.owl-theme .owl-nav {
    top: 30%;
}

#fullCarousel.owl-carousel .owl-nav button.owl-next,
#fullCarousel.owl-carousel .owl-nav button.owl-prev {
    background-color: unset
}

#fullCarousel.owl-carousel .owl-nav button.owl-next:before,
#fullCarousel.owl-carousel .owl-nav button.owl-next:after,
#fullCarousel.owl-carousel .owl-nav button.owl-prev:before,
#fullCarousel.owl-carousel .owl-nav button.owl-prev:after {
    height: 95px;
    display: block;
    width: 2px;
    background: var(--secondary-color);
    content: '';
    position: absolute;
}

#fullCarousel.owl-carousel .owl-nav button.owl-next:before,
#fullCarousel.owl-carousel .owl-nav button.owl-next:after {
    left: 8px;
}

#fullCarousel.owl-carousel .owl-nav button.owl-prev:before,
#fullCarousel.owl-carousel .owl-nav button.owl-prev:after {
    left: 16px;
}

#fullCarousel.owl-carousel .owl-nav button.owl-next:before,
#fullCarousel.owl-carousel .owl-nav button.owl-prev:before {
    top: -92px;
}

#fullCarousel.owl-carousel .owl-nav button.owl-next:after,
#fullCarousel.owl-carousel .owl-nav button.owl-prev:after {
    bottom: -100px;
}

/* CODE*/
.highlight {
    margin: 30px auto;
    padding: 10px;
    background-color: #b3b3b3;
}

/*FOOTER*/
#footer {
    font-size: 16px;
    font-weight: 300;
    position: relative;
    z-index: 100;
}

.powered_by {
    width: 250px;
    height: auto;
    margin-bottom: 30px;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #000000;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info p {
    line-height: 28px;
    margin-bottom: 0;
    color: #FFFFFF;
    max-width: 265px;
}

#footer .footer-top .social-links {
    margin-top: 50px;
    float: right;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #FFFFFF;
    color: #000000;
    line-height: 1;
    padding: 6px 0;
    margin-right: 8px;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #FFFFFF;
    color: #000000;
}

#footer li:hover>a {
    font-weight: 300 !important;
}

#footer li:hover>span {
    font-weight: 300 !important;
}

#footer li:hover {
    font-weight: 300 !important;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #413e66;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 6px 0;
    margin-bottom: 4px;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
    color: #FFFFFF;
}

#footer .footer-top .footer-links ul a {
    color: #FFFFFF;
     !important;
}

#footer .footer-top .footer-links ul a:hover {
    color: #FFFFFF !important;
    text-decoration: none;
}

#footer .footer-top .footer-links ul li:hover .bold {
    font-weight: 700 !important;
}

#footer .footer-top .footer-links ul a {
    color: #FFFFFF !important;
}

#footer .footer-top .footer-links .sub-item-footer {
    padding: 0 0 0px 15px !important;
    font-style: italic;
    margin-bottom: 3px;
}

.negbottom {
    margin-bottom: 7px !important;
    line-height: 20px;
}

.lastcol ul li {
    padding: 6px 0;
    margin-bottom: 0px !important;
}

.lastcol-lastitem {
    display: block;
    margin-bottom: 18px;
}

.mb-30 {
    display: block;
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .copyright {
    text-align: left;
    padding-top: 30px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 0px;
    margin: 30px 0px 0px 0px;
}

#footer .credits {
    text-align: right;
    font-size: 12px;
    padding-top: 4px;
    color: #00b520;
    padding: 0px;
    margin: 30px 0px 0px 0px;
}

#footer .credits a {
    color: #1bb1dc;
}

#footer .credits a:hover {
    color: #0a98c0;
}

.footer-button {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600 !important;
    border: 0;
    padding: 8px 30px;
    color: #fff !important;
    font-size: 14px;
    transition: 0.3s;
    background: #00b520;
}

.footer-button:hover {
    text-decoration: none;
    font-weight: 600 !important;
}

#footer .footer-top .footer-links ul a.footer-button:hover {
    font-weight: 600 !important;
}

.negletterspacing {
    letter-spacing: -2px;
}

@media (max-width: 991px) {
    #footer .footer-top .footer-info p {
        max-width: inherit;
    }

    #footer .footer-top .social-links {
        float: left;
    }

    .pl-0-mobile {
        padding-left: 0px;
    }

    #footer .footer-top {
        padding: 60px 15px 30px 15px;
    }

    #footer .footer-top .social-links a {
        margin-bottom: 10px;
    }

    #footer .footer-top .footer-links {
        margin-bottom: inherit;
    }

    #footer .credits {
        text-align: left;
    }
}

@media (max-width: 768px) {
    #footer .footer-top .social-links {
        margin-top: 50px;
        float: left;
    }
}

@media (max-width: 576px) {
    #footer .footer-top .footer-links ul li:first-child {
        padding-top: 0;
        color: #FFFFFF;
    }
}

/* HOME PAGE STYLES*/
.site-presentation h1 {
    color: var(--tertiary-color);
    font-size: 3rem;
}

.site-presentation p {
    font-size: 1.5rem;
    padding-right: 10rem;
}



@media (max-width: 1200px) {
    .site-presentation p {
        padding-right: 15px;
    }
}

.site-presentation {
    padding: 4rem 3rem;
}

@media (max-width: 1200px) {
    .site-presentation {
        padding: 4rem 15px;
    }
}

.homepage-video {
    background-image: var(--homepage-video-bg-img);
    background-size: cover;
    background-position: center;
    display: flex;
}

.homepage-video a {
    display: flex;
    margin: auto;
}

.fa-play {
    color: var(--tertiary-color);
    margin: auto;
    font-size: 5rem;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    display: inline-block;
    border-radius: 120px;
    border: solid 5px var(--tertiary-color);
    box-shadow: 0px 0px 0px var(--tertiary-color);
    padding: 0.5em 0.6em;
    outline: none;
    display: flex;
}

@media (max-width: 991px) {
    .fa-play {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

.fa-play:hover {
    box-shadow: 0px 0px 30px var(--tertiary-color);
}

.homepage.content-box {
    background: var(--tertiary-bg);
    padding: 2rem 3rem;
    margin-bottom: 60px;
}

@media (max-width: 991px) {
    .homepage.content-box {
        padding: 1.2rem 15px;
    }
}

.homepage.content-box.site-presentation-box {
    padding: 0 15px;
}

.homepage .site-presentation a {
    display: inline;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
    padding: 5px 15px
}

.homepage .site-presentation a:hover {
    background-color: var(--tertiary-color);
    color: #FFFFFF;
}

.homepage.topic-content a {
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    padding: 5px 8px;
    font-weight: bold;
    width: calc(100% - 30px);
    margin-left: 30px;
}

.homepage.topic-content a:before {
    content: '';
    position: absolute;
    left: -25px;
    width: 15px;
    height: 15px;
    background: var(--internal-link-icon);
    background-repeat: no-repeat;
    background-size: 15px;
    top: calc(50% - 5px);
}

.homepage.topic-content a:hover:before {
    background: url(../img/link-solid-green.svg);
}

.homepage.topic-content a[target='_blank'] {
    margin-right: unset;
}

.homepage.topic-content a[target='_blank']:after {
    content: unset;
}

.homepage.topic-content a[target='_blank']:before {
    background: var(--external-link-icon);
}

.topic-content a:hover[target='_blank']:before {
    background: url(../img/ext-link-green.svg);
}

.col-lg-6.column-gap-right,
.col-lg-6.column-gap-left {
    max-width: calc(50% - 15px);
}

@media (max-width: 991px) {

    .col-lg-6.column-gap-right,
    .col-lg-6.column-gap-left {
        max-width: unset;
    }
}

.pr-3rem-15 {
    padding-right: calc(3rem + 15px);
}

.pl-3rem-15 {
    padding-left: calc(3rem + 15px);
}

@media (max-width: 991px) {

    .pr-3rem-15,
    .pl-3rem-15 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*MODAL*/
.modal-open .modal {
    background: rgba(0, 0, 0, 0.8) !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 80%;
        margin: 1.75rem auto;
    }
}