html {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif!important;
  color: #000!important;
  font-size: 16px!important;
  line-height: 30px!important;
}

.btn:focus {
  outline: 0!important;
  box-shadow: inset 0 -1px 0 transparent;
  border: none;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
  border: none;
}

.scrollup {
  position: fixed;
  bottom: 50px;
  right: -10px;
  color: #000;
  font-size: 14px;
  transform: rotate(-90deg);
  font-family: 'Quicksand', sans-serif;
  opacity: 0;
  transition: all 0.5s ease;
}

.scrollup.header-scrolled {
  opacity: 1;
}

.scrollup:hover {
  text-decoration: none;
  color: #000;
}


/* nav */

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.logo {
  width: 150px;
  height: auto;
  transition: all 0.5s ease;
}

.nav-link {
  color: white!important;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  padding: 10px 15px!important;
}

.navbar-dark .navbar-nav .active>.nav-link {
  font-weight: 700;
}

.navbar-nav {
  padding-top: 15px;
}

.navbar {
  transition: all 0.5s ease;
}

.navbar.header-scrolled {
  background: #00B520 !important;
}

.logo.header-scrolled {
  width: 90px!important;
}

#languages .btn {
  line-height: 30px!important;
  font-weight: bold;
}

#languages .dropdown-menu {
  background: rgba(124, 112, 112, 0.5);
  border: none;
}

#languages .dropdown-menu.header-scrolled {
  background: #00B520 !important;
  border: none;
}

#languages .dropdown-menu .dropdown-item {
  color: #FFFFFF;
}

#languages .dropdown-menu .dropdown-item:hover {
  background: transparent!important;
}

.ruso .nav-link {
  font-size: 12px;
  padding: 10px 5px!important;
}

.ruso .scrollup {
  bottom: 100px;
  right: -90px;
}

.ruso .container-arrow {
  font-size: 25px
}

.portugues .nav-link{
  font-size: 14px;
  padding: 10px 5px!important;
}
.espagnol .nav-link {
  font-size: 16px;
  padding: 10px 5px!important;
}

.portugues .scrollup {
  right: -20px;
}

.corean .nav-link {
  font-size: 12px;
  padding: 10px 10px!important;
}

.japones .nav-link {
  font-size: 14px;
  padding: 10px 15px!important;
}

.japones .container-arrow {
  font-size: 28px;
}
 .espagnol .container-arrow {
    font-size: 28px;
  }


/*sections */

#home {
  height: calc( 100vh + 200px);
  background: url("../img/in2.jpg") right 5% top no-repeat;
  background-size: cover;
  color: white;
}

#home_mobile {
  display: none;
}

#why {
  padding-bottom: 100px;
  background-color: #00b520;
  color: white;
}

#process {
  position: relative;
  font-weight: 300;
  padding-bottom: 200px;
}

#projects {
  position: relative;
  font-weight: 300;
  padding-bottom: 200px;
}

#faqs {
  padding-bottom: 200px;
  position: relative;
  font-weight: 300;
}

#submit {
  background-color: #009DC3;
  color: white;
  padding-bottom: 200px;
  position: relative;
  font-weight: 300;
}

#rewards {
  padding-bottom: 200px;
  background-color: #00B520;
  color: #FFFFFF;
}


/*shapes*/

.home_bottom_shape {
  width: 100%;
  height: 200px;
  background: url(../img/green_shape.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  display: block;
  position: relative;
  top: -195px;
}

.process_top_shape {
  width: 100%;
  height: 200px;
  background: url(../img/white_shape.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  display: block;
  position: absolute;
  top: -100px;
}

.projects_top_shape {
  width: 100%;
  height: 200px;
  background: url(../img/white_shape.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  display: block;
  position: absolute;
  top: -100px;
}

.process_bottom_shape {
  width: 100%;
  height: 200px;
  background: url(../img/green_bottom_shape.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  display: block;
  position: absolute;
  bottom: -5px;
}

.faqs_top_shape {
  width: 100%;
  height: 200px;
  background: url(../img/participate_top_shape.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: block;
  position: absolute;
  top: -150px;
}


/*header*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  font-size: 47px;
  margin-bottom: 30px;
}

h1,
h2 {
  font-weight: 400;
}

h4,
h5,
h6 {
  font-weight: 700;
}

h4 {
  color: #00B520;
}

h6 {
  color: #009DC3;
}


/*carousel*/

.owl-theme .owl-nav {
  margin-top: -120px!important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #F26122!important;
}

.owl-carousel .owl-item {
  opacity: 0.2;
  transition: opacity 0.5s ease;
}

.owl-carousel .owl-item:hover {
  opacity: 1;
}

.owl-item.active.center {
  opacity: 1;
}

.company-name {
  opacity: 0;
  transition: opacity 0.5s ease;
  position: relative;
  top: -20px;
  font-weight: 600;
  color: #F26122!important;
  font-size: 15px!important;
  display: block;
  width: 100%;
}

.company-name:hover {
  text-decoration: none;
}

.rubro-name {
  opacity: 0;
  transition: opacity 0.5s ease;
  position: relative;
  top: -30px;
  display: block;
  width: 100%;
  font-size: 12px!important;
  line-height: 15px;
}

.rubro-name:hover {
  text-decoration: none;
}

.orange_link {
  text-decoration: none;
}

.orange_link:hover {
  text-decoration: none;
  color: #F26122;
}

.white_link {
  text-decoration: none;
  color: #FFFFFF;
}

.white_link:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.owl-carousel .owl-item:hover>.item>.company-name {
  opacity: 1;
}

.owl-item.active.center>.item>.company-name {
  opacity: 1;
}

.owl-carousel .owl-item:hover>.item>.rubro-name {
  opacity: 1;
}

.owl-item.active.center>.item>.rubro-name {
  opacity: 1;
}

.owl-carousel .owl-nav .owl-prev {
  margin-left: -6px!important;
  position: relative;
  top: 80px;
}

.owl-carousel .owl-nav .owl-next {
  margin-right: 30px!important;
  position: relative;
  top: 80px;
}

.controls {
  display: flex;
}

.controls p {
  font-size: 9px;
  display: inline-block;
  margin-bottom: 0px;
}

.slider-labels {
  justify-content: space-between;
  margin-bottom: 40px;
}

.slider-labels,
.slider .controls {
  display: flex;
  margin-top: 100px;
}

.slider .controls p {
  margin: 0;
  font-size: 14px;
}

.slider-title {
  margin: 0;
  color: #F26122;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
}

.slider .controls p {
  margin-right: 10px;
}

.owl-btn {
  margin-left: 10px;
  margin-left: 10px;
  background-color: #000;
  opacity: .15;
  color: #fff;
  padding: 0 15px;
  border-radius: 20px;
}

.owl-btn:hover {
  opacity: 1;
  color: #fff;
  text-decoration: none;
}

.slider {
  margin-bottom: 100px;
}

.rsk-btn:hover,
.rsk-btn:active {
  background-color: #00B520!important;
}

.rif-btn:hover,
.rif-btn:active {
  background-color: #009DC3!important;
}

.owl-carousel .item {
  width: 140px;
  height: 220px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.owl-carousel .item img {
  width: 100%;
  align-self: flex-end;
}

.owl-carousel .item a {
  align-self: flex-end;
  margin: 0 auto;
  font-size: 14px;
  color: #000;
  text-align: center;
}

#square-fix {
  padding: 0 30px;
}

.owl-nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 30%;
  margin: 0;
}

.owl-prev span,
.owl-next span {
  display: none;
}

.owl-prev::after,
.owl-next::after {
  transform: scale(0.6);
  position: absolute;
  top: 0;
}

.owl-prev::after {
  content: url('../img/prev-arrow.png');
  width: 32px;
  height: 36px;
}

.owl-next::after {
  content: url('../img/next-arrow.png');
}

#stats-carousel.owl-carousel .item img {
  max-width: 90px;
  max-height: 90px;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.owl-theme .owl-nav .owl-prev:hover,
.owl-theme .owl-nav .owl-next:hover {
  background: none;
}

.owl-dots {
  margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #F26122;
}


/*tipos*/

.home-title {
  font-size: 47px;
  font-family: 'Quicksand', sans-serif;
  line-height: 1;
  font-weight: bold;
}

.home-bajada {
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 30px;
}

.home-aclaration {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.why-title {
  font-size: 21px;
  font-family: 'Quicksand', sans-serif;
  display: block;
  margin-bottom: 15px;
}

#why ul {
  padding-left: 18px;
}

.bold {
  font-weight: 700;
}

.rsk_blue {
  color: #009DC3;
}

.rsk_blue_two {
  color: #2C9DC3;
}

.rsk_green {
  color: #00B520;
}

.rsk_orange {
  color: #F26122;
}

.rsk_turquoise {
  color: #2ECBFF;
}

.rsk_turquoise:hover {
  color: #2ECBFF;
  text-decoration: none;
}

.rsk_bg_green {
  background-color: #00B520;
  color: white;
}

.rsk_bg_orange {
  background-color: #F26122;
  color: white;
}

.smarty_image {
  max-width: 340px;
  position: relative;
  top: -10px;
}

.process-subtitle {
  font-size: 32px;
  display: block;
  font-family: 'Quicksand', sans-serif;
  line-height: 45px;
}

.process-subtitle_two {
  font-size: 21px;
  display: block;
  font-family: 'Quicksand', sans-serif;
  line-height: 45px;
}

.process_list {
  padding-left: 20px;
}

.process_list>li {
  max-width: 425px;
}


/* arrow graph */

.container-arrow {
  padding: 15px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 35px;
  line-height: 40px;
}

.step-1 {
  background-image: url(../img/green_arrow_shape.svg);
  background-size: contain;
  height: 178px;
  background-repeat: no-repeat;
}

.step-2 {
  background-image: url(../img/orange_arrow_shape.svg);
  background-size: contain;
  height: 178px;
  background-repeat: no-repeat;
}

.step-3 {
  background-image: url(../img/blue_arrow_shape.svg);
  background-size: contain;
  height: 178px;
  background-repeat: no-repeat;
}

.step-4 {
  background-image: url(../img/green_arrow_shape.svg);
  background-size: contain;
  height: 178px;
  background-repeat: no-repeat;
}

.step-1:hover,
.step-2:hover,
.step-3:hover,
.step-4:hover {
  cursor: pointer;
}

.step-1-explain,
.step-2-explain,
.step-3-explain,
.step-4-explain {
  display: block;
  margin-bottom: 15px;
}

.step-1-explain:hover,
.step-4-explain:hover {
  cursor: pointer;
}

.arrow-text {
  padding-left: 60px;
  padding-top: 45px!important;
}

.step-block-1,
.step-block-2,
.step-block-3,
.step-block-4 {
  opacity: 1;
  transition: all 0.5s ease;
}

.half_opacity {
  opacity: 0.2;
}

.step-block-1 a p {
  color: #000000!important;
}

.step-block-4 a p {
  color: #000000!important;
}

.step-block-1 a:hover {
  text-decoration: none;
  cursor: pointer;
}

.step-block-4 a:hover {
  text-decoration: none;
  cursor: pointer;
}

.process_illust {
  max-width: 380px;
  height: auto;
}

.mt-4 {
  margin-top: 2rem!important;
}

.process_link {
  font-weight: bold;
  color: white;
}

.process_link:hover {
  color: white;
  text-decoration: none;
}

.process_button {
  line-height: 25px;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  display: inline-block;
  background: #2C9DC3;
  border: 1px solid white;
  border-radius: 50px;
  padding: 2px 15px;
  margin-right: 15px;
}

.process_button:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.rsk_icon,
.finger_icon {
  margin-top: 8px;
  max-width: 65px;
  height: auto;
}

.why_button {
  line-height: 25px;
  font-weight: 700;
  font-size: 14px;
  color: #00B520;
  background: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 2px 15px;
  margin-right: 15px;
}

.why_button:hover {
  text-decoration: none;
  color: #00B520;
}

#rewards_aclaration p {
  color: #808080;
  font-size: 11px;
  line-height: 20px;
  display: block;
  margin-bottom: 0px;
}

.rewards_illust {
  max-width: 75%;
  height: auto;
}

.rewards_list {
  padding-left: 20px;
}

.top30 {
  margin-top: 30px;
}

.bitcoin_image {
  max-width: 100px;
  float: right;
  top: 10px;
  position: relative;
}

.card-button {
  font-family: 'Quicksand', sans-serif;
  border-radius: 35px;
  -webkit-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: .1s ease all;
}

.card-button:hover {
  -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
}

.card-button-top {
  padding: 30px;
  font-size: 19px;
  line-height: 25px;
}

.card-button-bottom {
  padding: 15px 30px;
}

.card-button-bottom {
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}

.card-button-link:hover {
  text-decoration: none;
}

.faqs_button {
  line-height: 25px;
  font-weight: 600;
  font-size: 14px;
  color: #F26122;
  display: inline-block;
  background: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 0 10px;
  margin-right: 15px;
}

.faqs_button:hover {
  text-decoration: none;
  color: #F26122;
}

.question-group {
  display: block;
  font-size: 22px;
  min-height: 175px;
}

.question-block {
  display: block;
}

.question-line {
  margin-bottom: 15px;
  padding: 15px;
  border: 2px solid #00B520;
  display: inline-block;
  max-width: 75%;
  position: relative;
  background: #ffffff;
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.question-line:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 10px;
  width: 0;
  height: 0;
  border: 28px solid transparent;
  border-right-color: #FFFFFF;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -20px;
}

.question-line:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 8px;
  width: 0;
  height: 0;
  border: 19px solid transparent;
  border-right-color: #00B520;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -20px;
}

.answer-block {
  display: block;
}

.answer-line {
  border: 1px solid #00B520;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #00B520;
  color: #FFFFFF;
  display: inline-block;
  float: right;
  max-width: 95%;
  margin-bottom: 30px;
  position: relative;
  border-radius: 15px;
}

.answer-line:after {
  content: '';
  position: absolute;
  right: 6px;
  top: 10px;
  width: 0;
  height: 0;
  border: 28px solid transparent;
  border-left-color: #00b520;
  border-right: 0;
  border-top: 0;
  margin-top: -11px;
  margin-right: -22px;
}


/* submit */

.form-control {
  background: transparent!important;
  color: #FFFFFF;
  border: solid 2px #FFFFFF;
  border-radius: 15px;
  margin-bottom: 15px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #FFFFFF!important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #FFFFFF!important;
}

::placeholder {
  color: #FFFFFF!important;
}

input[type=text]:focus,
input[type=url]:focus,
input[type=email]:focus,
textarea[type=text]:focus {
  border: 3px solid white;
  color: white;
}

.submit_form_button {
  line-height: 25px;
  font-weight: 600;
  font-size: 14px;
  color: #2C9DC3!important;
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid white;
  border-radius: 50px;
  padding: 2px 15px;
  margin-right: 15px;
  cursor: pointer;
}

.sub_form_button:hover {
  text-decoration: none;
  color: #2C9DC3!important;
}

.counter-container {
  float: right;
  font-size: 14px;
}

.clone .disabled {
  pointer-events: none;
  cursor: default;
}

#home p a {
  color: white;
}

#home p a:hover {
  text-decoration: none;
}


/*buttons*/

.green-button {
  background: #00B520;
}

.orange-button {
  background: #F26122;
}

.blue-button {
  background: #009DC3;
}

.green-button,
.orange-button,
.blue-button {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 50px;
  padding: 8px 30px;
  color: #fff !important;
  font-size: 18px;
  transition: 0.3s;
  margin-right: 30px;
}

.green-button:hover,
.orange-button:hover,
.blue-button:hover {
  text-decoration: none;
}

.footer-button {
  font-family: 'Open Sans', sans-serif!important;
  font-weight: 600;
  border: 0;
  padding: 8px 30px;
  color: #fff !important;
  font-size: 14px;
  transition: 0.3s;
  background: #00B520;
}

.japones .footer-button {
  padding: 8px 10px;
}

.footer-button:hover {
  text-decoration: none;
}

.rounded {
  border-radius: 50px!important;
}


/*columns*/

#why .left-col,
#process .left-col {
  padding-right: 60px;
}

#why .right-col,
#process .right-col {
  padding-left: 60px;
}

.why_col_icon {
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
  display: flex;
  align-self: flex-start;
}

.why_col_content {
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.custom-mt {
  padding-top: 65px;
}

#why p {
  font-weight: 300;
}


/*footer*/

#footer {
  font-size: 16px;
  font-weight: 300;
  margin-top: -200px;
}

#footer::before {
  content: '';
  width: 100%;
  height: 200px;
  background: url(../img/black_shape.png);
  background-position: center top;
  position: relative;
  z-index: 0;
  background-size: cover;
  top: 134px;
  display: block;
}

.powered_by {
  width: 250px;
  height: auto;
  margin-bottom: 30px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: black;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info p {
  line-height: 28px;
  margin-bottom: 0;
  color: white;
}

#footer .footer-top .social-links {
  margin-top: 30px;
  float: right;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: white;
  color: black;
  line-height: 1;
  padding: 6px 0;
  margin-right: 8px;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: white;
  color: black;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #413e66;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 6px 0;
  margin-bottom: 8px;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
  color: white;
}

#footer .footer-top .footer-links ul a {
  color: white;
}

#footer .footer-top .footer-links ul li a {
  line-height: 20px;
  display: block;
}

#footer .footer-top .footer-links ul a:hover {
  color: white;
  text-decoration: none;
}

#footer .footer-top .footer-links .sub-item-footer {
  padding: 0 0 0px 15px !important;
  font-style: italic;
  margin-bottom: 6px;
}

.negbottom {
  margin-bottom: 0px!important;
}

.mb-30 {
  display: block;
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: left;
  padding-top: 30px;
  color: white;
  font-size: 12px;
  padding: 0px;
  margin: 30px 0px 0px 0px;
}

#footer .credits {
  text-align: right;
  font-size: 12px;
  padding-top: 4px;
  color: #00B520;
  padding: 0px;
  margin: 30px 0px 0px 0px;
}

#footer .credits a {
  color: #1bb1dc;
}

#footer .credits a:hover {
  color: #0a98c0;
}


/* media queries*/

@media screen and (min-width: 1900px) {
  .home_bottom_shape {
    background-size: cover;
    background-position: top right;
    top: -195px;
  }
  .process_bottom_shape {
    background-size: cover;
    height: 250px;
    background-position: bottom left;
    bottom: -5px;
  }
  .faqs_top_shape {
    top: -185px;
  }
  #footer::before {
    top: 50px;
  }
}

@media screen and (min-width: 2560px) {
  .home_bottom_shape {
    background-size: 150%;
    background-position: top left;
    top: -300px;
  }
}

@media screen and (min-width: 3200px) {
  .home_bottom_shape {
    background-size: 150%;
    background-position: top left;
    top: -190px;
  }
}

@media screen and (min-width: 3840px) {
  .home_bottom_shape {
    background-size: 150%;
    background-position: top left;
    top: -190px;
  }
}

@media screen and (min-width: 1600px) {
  .projects_top_shape {
    background-size: cover;
  }
  .process_top_shape {
    background-size: cover;
  }
}

@media (max-width: 1200px) {
	.espagnol .nav-link {
  font-size: 12px;}
  .container-arrow {
    font-size: 25px;
    line-height: 28px;
  }
  .ruso .container-arrow {
    font-size: 16px;
  }
  .japones .container-arrow {
    font-size: 16px;
  }
  .process_illust {
    max-width: 335px;
    height: auto;
  }
  #rewards {
    padding-bottom: 120px;
  }
  .question-group {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  #languages .dropdown-menu {
  background: transparent;}
  .ruso #home-text,
  .corean #home-text,
  .japones #home-text,
  .espagnol #home-text {
    max-width: 100%;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .custom-toggler .navbar-toggler-icon.header-scrolled {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .nav-link {
    color: #FFF!important;
    padding: 5px 15px!important;
    font-size:16px!important;
  }
  .falsebreak {
    display: none;
  }
  #home {
    height: 100vh;
    background-size: cover;
    background: url(../img/in2.jpg) center bottom no-repeat;
  }
  #home-text {
    max-width: 50%;
    margin-top: 215px!important;
  }
  .home-title {}
  .home-bajada {
    font-size: 25px;
  }
  #why {
    padding-top: 100px;
  }
  .equaltoicon {
    margin-top: 25px;
  }
  .label15 {
    margin-top: 15px;
  }
  .colbottmarg {
    margin-bottom: 3rem!important;
  }
  .process_bottom_shape {
    bottom: -5px;
    background-size: cover;
    background-position: top right;
  }
  .process_illust {
    display: none;
  }
  .step-1,
  .step-2,
  .step-3,
  .step-4 {
    height: 115px;
  }
  .container-arrow {
    font-size: 20px;
  }
  .arrow-text {
    padding-left: 40px;
    padding-top: 25px!important;
  }
  .projects_top_shape {
    background-size: cover;
  }
  .process_top_shape {
    background-size: cover;
  }
  #process .right-col {
    padding-left: 15px;
  }
  #process .left-col {
    padding-right: 15px;
  }
  .faqs_subtitle_mobile {
    line-height: 30px;
    margin-bottom: 15px;
  }
  .faqs_top_shape {}
  .faqs_bottom_shape {
    display: block;
    top: -150px;
  }
  .why_col_icon {
    -ms-flex: inherit;
    flex: inherit;
    max-width: 100%;
    justify-content: left;
  }
  .why_col_content {
    -ms-flex: inherit;
    flex: inherit;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .custom-mt {
    padding-top: 15px;
  }
  .rsk_icon,
  .finger_icon {
    margin-bottom: 15px;
  }
  .rewards_illust {
    max-width: 50%;
  }
  #process-text {
    display: none;
  }
  #rewards {
    padding-bottom: 100px;
  }
  .owl-nav {
    display: none;
  }
  h5 {
    color: #00B520;
  }
  .home_mobile_bold {
    font-weight: 700;
    color: #00B520!important;
  }
  .home_mobile_bold:hover {
    text-decoration: none;
  }
  #why,
  {
    padding-top: 70px;
  }
  #why .right-col {
    padding-left: 15px;
  }
  #why .left-col {
    padding-right: 15px;
  }
  .img-partners-left,
  .img-partners-right {
    max-width: 75%;
  }
  .img-partners-left,
  .img-partners-right {
    float: inherit;
    padding: 15px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
  }
  .img-partners-left {
    padding-left: 0px;
  }
  .img-partners-right {
    padding-right: 0px;
  }
  .follow-us {
    position: inherit;
    width: calc( 100% - 30px);
    margin-top: 30px;
  }
  #footer .footer-top .social-links {
    float: left;
  }
  .pl-0-mobile {
    padding-left: 0px;
  }
  #footer .footer-top {
    padding: 60px 15px 30px 15px;
  }
  #footer .footer-top .social-links a {
    margin-bottom: 10px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: inherit;
  }
  #footer .credits {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .ruso .container-arrow {
    font-size: 22px;
  }
  .japones .container-arrow {
    font-size: 24px;
  }
  .espagnol .container-arrow {
    font-size: 28px;
  }
  .home-title {}
  .home-bajada {
    font-size: 25px;
  }
  .step-1 {
    background-image: url(../img/green_arrow_shape_mobile.svg);
    background-size: cover;
  }
  .step-2 {
    background-image: url(../img/blue_arrow_shape_mobile.svg);
    background-size: cover;
  }
  .step-3 {
    background-image: url(../img/orange_arrow_shape_mobile.svg);
    background-size: cover;
  }
  .step-4 {
    background-image: url(../img/green_arrow_shape_mobile.svg);
    background-size: cover;
  }
  .step-1,
  .step-2,
  .step-3,
  .step-4 {
    height: 174px;
  }
  .container-arrow {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }
  .arrow-text {
    padding-left: 0px;
    padding-top: 60px!important;
  }
}

@media (max-width: 576px) {
  .ruso .scrollup {
    bottom: 100px;
    right: -80px;
  }
  .scrollup {
    font-size: 12px;
    right: -26px;
  }
  #process {
    padding-bottom: 50px;
  }
  #projects {
    padding-bottom: 50px;
  }
  .orange-button,
  .blue-button {
    display: block;
    margin-bottom: 30px;
    width: 165px;
    text-align: center;
  }
  .question-group {
    font-size: 16px;
  }
  .increase-padding {
    padding-left: 30px;
    padding-right: 30px;
  }
  .step-1 {
    background-size: contain;
    background-position: center;
  }
  .step-2 {
    background-size: contain;
    background-position: center;
  }
  .step-3 {
    background-size: contain;
    background-position: center;
  }
  .step-4 {
    background-size: contain;
    background-position: center;
  }
  .step-1,
  .step-2,
  .step-3,
  .step-4 {
    height: auto;
  }
  .container-arrow {
    font-size: 25px;
    line-height: 30px;
  }
  .arrow-text {
    padding-left: 0px;
    padding-top: 40px!important;
    padding-bottom: 30px;
  }
}