<div class="page-metadata">
    <!--time role="presentation" datetime="{{ page.last_modified_at }}T00:00:00.000Z">{{ page.last_modified_at | date: '%Y-%m-%d' }}</time> | -->
    {% assign words = content | number_of_words %}{% assign minutes = words | divided_by:180.0 %} {{ minutes | ceil }}' to read |
    <a href="https://github.com/{{ site.repository }}/edit/master/{{ page.path }}" target="_blank">Edit</a> |
    <div class="dropdown" style="display: inline-block">
       <a href="#" id="share-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Share</a>
       <ul class="dropdown-menu" aria-labelledby="share-menu" style="padding: 5px">
          <li><a class="share-twitter" data-bi-name="twitter" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2F{{ site.domain }}{{ page.url }}&amp;text={{ page.title }}&amp;tw_p=tweetbutton&amp;url=https%3A%2F%2F{{ site.domain }}{{ page.url }}" target="_blank" rel="noopener noreferrer"><span class="docon docon-brand-twitter" aria-hidden="true"></span>Twitter</a></li>
          <li><a class="share-linkedin" data-bi-name="linkedin" href="https://www.linkedin.com/cws/share?url=https%3A%2F%2F{{ site.domain }}{{ page.url }}" target="_blank" rel="noopener noreferrer"><span class="docon docon-brand-linkedin" aria-hidden="true"></span>LinkedIn</a></li>
          <li><a class="share-facebook" data-bi-name="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F{{ site.domain }}{{ page.url }}" target="_blank" rel="noopener noreferrer"><span class="docon docon-brand-facebook" aria-hidden="true"></span>Facebook</a></li>
          <li><a class="share-email" data-bi-name="email" href="mailto:?subject={{ page.title }}&amp;body={{ page.title }}%0A%0Ahttps%3A%2F%2F{{ site.domain }}{{ page.url }}" target="_blank" rel="noopener noreferrer"><span class="docon docon-mail-message-fill" aria-hidden="true"></span>Email</a></li>
          <li><a class="share-link" data-bi-name="link" href="#" onclick="var el = $(document.createElement('input'));$('body').append(el);el.val('{{ site.url }}{{ page.url }}').select();document.execCommand('copy');$(el).remove(); return false;"><span class="docon docon-clipboard-message-fill" aria-hidden="true"></span>Copy link</a></li>
       </ul>
    </div> |
    <button id="theme-toggler" type="button" name="dark_light"  title="Toggle dark/light mode">Dark</button>
 </div>