<div class="alert alert-info" role="alert">
    <li>
       <a href="https://docs.soliditylang.org/en/v0.8.20/using-the-compiler.html#target-options" style="color: black!important;text-decoration: underline;">
        ⚠️ For Solidity releases >=0.8.20, you must use the EVM version prior to the Shanghai fork. 
           Click to see possible target options.
       </a>
   </li>
   <li>
       <a href="https://dev.rootstock.io/guides/two-way-peg-app/" style="color: black!important;text-decoration: underline;">
        📣 2 Way Peg App v1.3.0 is now live! See how to get started using hardware and software wallets to perform peg-ins and pegouts. 
       </a>
   </li>
</div>