<!-- footer -->
<footer id="footer" class="section-bg">
   <div class="footer-top">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <img src="/assets/img/powered_by_iov.svg" class="img-fluid powered_by">
            </div>
         </div>
         <div class="row">
            <div class="col-lg-4">
               <div class="footer-info">
                  <p>Rsk is the most secure smart contract network in the world and enables decentralized applications secured by the Bitcoin Network to empower people and improve the quality of life of millions.</p>
                  <br>
                  <a href="/" target="_self" class="footer-button rounded" title="Start now">Start now</a>
               </div>
            </div>
            <div class="col-lg-8">
               <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6">
                     <div class="footer-links">
                        <ul>
                           <li class="negbottom">Whitepapers</li>
                           <li class="sub-item-footer"><a target="_blank" rel="noopener noreferrer" href="https://rsk.co/Whitepapers/RSK_White_Paper-ORIGINAL.pdf">Original</a></li>
                           <li class="sub-item-footer"><a target="_blank" rel="noopener noreferrer" href="https://rsk.co/Whitepapers/RSK-White-Paper-Updated.pdf">Updated</a></li>
                           <li class="sub-item-footer"><a target="_blank" rel="noopener noreferrer" href="https://docs.rifos.org/rif-whitepaper-en.pdf">RIF</a></li>
                           <li><a target="_blank" rel="noopener noreferrer" href="https://rsk.co/development-roadmap.html">Roadmap</a></li>
                           <li><a target="_blank" rel="noopener noreferrer" href="https://explorer.rsk.co/">Explorer</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6">
                     <div class="footer-links">
                        <ul>
                           <li><a target="_blank" rel="noopener noreferrer" href="https://mining.rsk.co/">Merged Mining</a></li>
                           <li><a target="_blank" rel="noopener noreferrer" href="https://www.rsk.co/bounty-program/">Bounty Program</a></li>
                           <li><a target="_blank" rel="noopener noreferrer" href="https://grants.rsk.co">Grants Program</a></li>
                           <li><a target="_blank" rel="noopener noreferrer" href="https://fund.rsk.co">Ecosystem Fund</a></li>
                           <li><a target="_blank" rel="noopener noreferrer" href="https://studio.rsk.co">Innovation Studio</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6">
                     <div class="footer-links">
                        <ul>
                           <li><a target="_blank" rel="noopener noreferrer" href="https://www.rsk.co/openfinance/">Open Finance</a></li>
                           <li><a target="_blank" rel="noopener noreferrer" href="https://rsk.co/Use-cases.html">Use cases</a></li>
                           <li><a target="_blank" rel="noopener noreferrer" href="https://rsk.co/faqs.html">Faqs</a></li>
                           <li><a target="_blank" rel="noopener noreferrer" href="https://blog.rsk.co/">Blog</a></li>
                           <li><a target="_blank" rel="noopener noreferrer" href="https://rsk.co/Brand_Guidelines/RSK_BrandManual_V6.pdf">Brand Guidelines</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6">
                     <div class="footer-links lastcol">
                        <ul>
                           <li><a target="_blank" rel="noopener noreferrer" class="bold" href="https://rsk.co/terms-conditions.html">Terms &amp; Conditions</a></li>
                           <li><a target="_blank" rel="noopener noreferrer" class="bold" href="https://rsk.co/privacy-policy.html">Privacy Policy</a></li>
                           <li><a target="_blank" rel="noopener noreferrer" class="bold" href="https://www.iovlabs.org">About IOVlabs</a></li>
                           <li><a target="_blank" rel="noopener noreferrer" class="bold lastcol-lastitem" href="https://www.iovlabs.org/contact.html">Contact IOVlabs</a></li>
                           <a href="/" target="_self" class="footer-button" title="Documentation">Documentation</a>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="social-links">
                  <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/rsksmart" class="twitter"><i class="fab fa-twitter"></i></a>
                  <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/rsksmart" class="facebook"><i class="fab fa-youtube"></i></a>
                  <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/RSKsmart/" class="linkedin"><i class="fab fa-facebook"></i></a>
                  <a target="_blank" rel="noopener noreferrer" href="https://gitter.im/rsksmart" class="instagram"><i class="fab fa-gitter"></i></a>
                  <a target="_blank" rel="noopener noreferrer" href="https://www.reddit.com/r/rootstock/" class="instagram"><i class="fab fa-reddit"></i></a>
                  <a target="_blank" rel="noopener noreferrer" href="https://t.me/rskofficialcommunity" class="instagram"><i class="fab fa-telegram"></i></a>
                  <a target="_blank" rel="noopener noreferrer" href="https://medium.com/@RSKNews" class="instagram"><i class="fab fa-medium"></i></a>
                  <a target="_blank" rel="noopener noreferrer" href="https://t.me/rsksmartcontract" class="instagram"><i class="fab fa-telegram"></i></a>
                  <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/rsksmart/" class=""><i class="fab fa-instagram"></i></a>
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-6 col-xs-12 pl-0-mobile">
                  <p class="copyright">Copyright © 2015 - 2020 RSK Labs. All rights reserved.</p>
               </div>
               <div class="col-md-6 col-xs-12 pl-0-mobile">
                  <p class="credits"> RSK Public Key (2ED3 E888 0384 D3D9 70B6  A612 BEBC A6A9 63F6 1479)</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- #footer -->