<!-- footer -->
<footer id="footer" class="section-bg">
   <div class="footer-top">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <img src="/assets/img/powered_by_iov.svg" class="img-fluid powered_by">
            </div>
         </div>
         <div class="row">
            <div class="col-lg-4">
               <div class="footer-info">
                  <p>Rsk is the most secure smart contract network in the world and enables decentralized applications secured by the Bitcoin Network to empower people and improve the quality of life of millions.</p>
                  <br>
                  <a href="https://developers.rsk.co/" rel="nofollow noopener noreferrer" target="_blank" class="footer-button rounded" title="Start now">Start now</a>
               </div>
            </div>
            <div class="col-lg-8">
               <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6">
                     <div class="footer-links">
                        <ul>
                           <li class="negbottom">Whitepapers</li>
                           <li class="sub-item-footer"><a href="https://rsk.co/Whitepapers/RSK_White_Paper-ORIGINAL.pdf" rel="nofollow noopener noreferrer" target="_blank">Original</a></li>
                           <li class="sub-item-footer"><a href="https://rsk.co/Whitepapers/RSK-White-Paper-Updated.pdf" rel="nofollow noopener noreferrer" target="_blank">Updated</a></li>
                           <li class="sub-item-footer"><a href="https://docs.rifos.org/rif-whitepaper-en.pdf" rel="nofollow noopener noreferrer" target="_blank">RIF</a></li>
                           <li><a href="https://rsk.co/development-roadmap.html" rel="nofollow noopener noreferrer" target="_blank">Roadmap</a></li>
                           <li><a href="https://explorer.rsk.co/" rel="nofollow noopener noreferrer" target="_blank">Explorer</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6">
                     <div class="footer-links">
                        <ul>
                           <li><a href="https://mining.rsk.co/" rel="nofollow noopener noreferrer" target="_blank">Merged Mining</a></li>
                           <li><a href="https://www.rsk.co/bounty-program/index" rel="nofollow noopener noreferrer" target="_blank">Bounty Program</a></li>
                           <li><a href="https://grants.rsk.co" rel="nofollow noopener noreferrer" target="_blank">Grants Program</a></li>
                           <li><a href="https://fund.rsk.co" rel="nofollow noopener noreferrer" target="_blank">Ecosystem Fund</a></li>
                           <li><a href="https://studio.rsk.co" rel="nofollow noopener noreferrer" target="_blank">Innovation Studio</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6">
                     <div class="footer-links">
                        <ul>
                           <li><a href="https://rsk.co/defi" rel="noopener noreferrer" target="_blank">DeFi</a></li>
                           <li><a href="https://rsk.co/Use-cases.html" rel="nofollow noopener noreferrer" target="_blank">Use cases</a></li>
                           <li><a href="https://rsk.co/faqs.html" rel="nofollow noopener noreferrer" target="_blank">Faqs</a></li>
                           <li><a href="https://blog.rsk.co/" rel="nofollow noopener noreferrer" target="_blank">Blog</a></li>
                           <li><a href="https://rsk.co/Brand_Guidelines/RSK_BrandManual_V6.pdf" rel="nofollow noopener noreferrer" target="_blank">Brand Guidelines</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6">
                     <div class="footer-links lastcol">
                        <ul>
                           <li><a class="bold" href="https://rsk.co/terms-conditions.html" rel="nofollow noopener noreferrer" target="_blank">Terms &amp; Conditions</a></li>
                           <li><a class="bold" href="https://rsk.co/privacy-policy.html" rel="nofollow noopener noreferrer" target="_blank">Privacy Policy</a></li>
                           <li><a class="bold" href="https://www.iovlabs.org" rel="nofollow noopener noreferrer" target="_blank">About IOVlabs</a></li>
                           <li><a class="bold lastcol-lastitem" href="https://www.iovlabs.org/contact.html" rel="nofollow noopener noreferrer" target="_blank">Contact IOVlabs</a></li>
                           <a href="https://developers.doc.rsk.co/docs" rel="nofollow noopener noreferrer" target="_blank" class="footer-button" title="Documentation">Documentation</a>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="social-links">
                  <a href="https://twitter.com/rsksmart" rel="nofollow noopener noreferrer" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.youtube.com/rsksmart" rel="nofollow noopener noreferrer" target="_blank" class="facebook"><i class="fab fa-youtube"></i></a>
                  <a href="https://www.facebook.com/RSKsmart/" rel="nofollow noopener noreferrer" target="_blank" class="linkedin"><i class="fab fa-facebook"></i></a>
                  <a href="https://gitter.im/rsksmart" rel="nofollow noopener noreferrer" target="_blank" class="instagram"><i class="fab fa-gitter"></i></a>
                  <a href="https://www.reddit.com/r/rootstock/" rel="nofollow noopener noreferrer" target="_blank" class="instagram"><i class="fab fa-reddit"></i></a>
                  <a href="https://t.me/rskofficialcommunity" rel="nofollow noopener noreferrer" target="_blank" class="instagram"><i class="fab fa-telegram"></i></a>
                  <a href="https://medium.com/@RSKNews" rel="nofollow noopener noreferrer" target="_blank" class="instagram"><i class="fab fa-medium"></i></a>
                  <a href="https://t.me/rsksmartcontract" rel="nofollow noopener noreferrer" target="_blank" class="instagram"><i class="fab fa-telegram"></i></a>
                  <a href="https://www.instagram.com/rsksmart/" rel="nofollow noopener noreferrer" target="_blank" class=""><i class="fab fa-instagram"></i></a>
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-6 col-xs-12 pl-0-mobile">
                  <p class="copyright">Copyright © 2015 - 2020 RSK Labs. All rights reserved.</p>
               </div>
               <div class="col-md-6 col-xs-12 pl-0-mobile">
                  <p class="credits"> RSK Public Key (2ED3 E888 0384 D3D9 70B6  A612 BEBC A6A9 63F6 1479)</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- #footer -->