<div class="row header-inner">
    <div class="col-lg-3">
       <!--<input class="search-input" type="text" placeholder="Search" />-->

       <!-- mobile dropdown left column -->
       <div class="mobile-left-menu">
          <button class="btn btn-outline-secondary dropdown-toggle rsk_blue" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu <i class="fas fa-chevron-down"></i></button>
          <div class="dropdown-menu drop-mobile-left-menu">
             <div class="mobile_accordion">
                {% include nav-page-menu.html %}
             </div>
          </div>
       </div>
    </div>
    <div class="col-lg-6">
       <!-- {% include nav-breadcrumbs-actions.html %} -->
       <nav id="siteBreadcrumb" class="show active-parent">
          <ol class="breadcrumb">
         </ol>
       </nav>
    </div>
    <div class="col-lg-3 input-col">
       {% include actionbar.html %}
    </div>
 </div>