<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="https://rsk.co"><img id="logo" src="/assets/img/rsk_logo.svg" class="logo" alt="RSK Developers Portal"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Platforms
                        </a>
                        <div class="dropdown-menu bold" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="https://rsk.co/rsk-blockchain/">RSK Blockchain</a>
                            <a class="dropdown-item" href="https://www.rifos.org/">RSK Infrastructure Framework (RIF)</a>
                            <a class="dropdown-item" href="https://rsk.co/enterprise/">RSK Enterprise Cloud</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle lang_nav" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Build
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="https://developers.rsk.co/the-stack/">The Stack</a>
                            <a class="dropdown-item" href="https://developers.rsk.co/">Dev Portal</a>
                            <a class="dropdown-item" href="https://rsk.co/development-roadmap">Roadmap</a>
                            <a class="dropdown-item" href="https://explorer.rsk.co/">Explorer</a>
                            <a class="dropdown-item" href="https://stats.rsk.co/">Stats</a>
                            <a class="dropdown-item" href="http://rskgasstation.info">Gas Station</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle lang_nav" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Learn
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="https://developers.rsk.co/webinars/">Webinars</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle lang_nav" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Use
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="https://developers.rsk.co/defi">Open Finance</a>
                            <a class="dropdown-item" href="https://developers.rsk.co/wallet/rwallet/">rWallet</a>
                            <a class="dropdown-item" href="https://www.rifos.org/nameservice/index">RIF Name Service</a>
                            <a class="dropdown-item" href="https://marketplace.rifos.org/">RIF Marketplace</a>
                            <a class="dropdown-item" href="https://www.taringa.net/">Taringa!</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle lang_nav" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Community
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="https://open-rsk-dev.slack.com/join/shared_invite/zt-j83py4k0-kFQh8gKjT1JjVClMcumeWQ#/">Slack</a>
                            <a class="dropdown-item" href="https://github.com/rsksmart">GitHub</a>
                            <a class="dropdown-item" href="https://research.rsk.dev/">Forum</a>
                            <a class="dropdown-item" href="https://fund.rsk.co/">Ecosystem Fund</a>
                            <a class="dropdown-item" href="https://developers.rsk.co/grants/">Grants</a>
                            <a class="dropdown-item" href="https://rsk.co/bounty-program/">Bounty Program</a>
                            <a class="dropdown-item" href="https://blog.rsk.co/">Blog</a>
                            <a class="dropdown-item" href="https://medium.com/iovlabs-innovation-stories" target="_blank" rel="noopener noreferrer">Medium</a>
                            <a class="dropdown-item" href="https://www.iovlabs.org/press.html">News</a>
                        </div>
                    </li>
      </ul>
    </div>
  </div>
</nav>
