<!-- jQuery library -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<!-- Popper JS -->
<script src="/assets/js/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Custom Scrollbars -->
<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Refs para sliders -->
<script src="/assets/vendor/carousel/owl.carousel.min.js"></script>
<!-- Main js-->
<script src="/assets/js/scripts.js"></script>


<!-- chat -->
<script>
    ((window.gitter = {}).chat = {}).options = {
        room: 'rsksmart/getting-started',
        activationElement: '.chat-btn',
        // targetElement: '.my-special-target-element'
    };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

