<nav class="breadcrumbs bootstrap hidden-sm-down">
	<ol class="breadcrumb list-unstyled" vocab="http://schema.org/" typeof="BreadcrumbList">
		{% for crumb in breadcrumbs %} 
			{% if forloop.last %}
				<li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
					<span property="name">{{ crumb.title }}</span>
					<meta property="position" content="{{ crumb.position }}" />
				</li>
				{% continue %}
			{% endif %}
			<li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
				<a property="item" typeof="WebPage" href="{{ crumb.url | relative_url }}">
					<span property="name">{{ crumb.title }}</span>
					<meta property="position" content="{{ crumb.position }}" />
				</a>
			</li>
		{% endfor %}

		{% assign count = breadcrumbs | size %}
		{% if count == 0 %}
			<li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
				<span property="name">RNS</span>
				<meta property="position" content="{{ crumb.position }}" />
			</li>
		{% endif %}
	</ol>
</nav>
