<div class="col-lg-3 menu_content d-none d-lg-block ">
    <div class="col_menu sticky-top">
        <div class="col-12">
            <h2>RSK DOCUMENTATION</h2>
            <ul>
                <li><a href="/">Back to Home</a>
                </li>
            </ul>
            <div class="inner-nav-left mCustomScrollbar" data-mcs-theme="dark">
                <ul>
                    <li>
                        <a href="/quick-start/step1-install-rsk-local-node/">Quick Start</a>
                    </li>
                    <ul>
                        <li><a href="/quick-start/step1-install-rsk-local-node/">Step 1 - Install RSK Local Node</a></li>
                        <li><a href="/quick-start/step2-install-truffle-and-ganache/">Step 2 - Install Truffle & Ganache</a></li>
                        <li><a href="/quick-start/step3-edit-smart-contract/">Step 3 - Edit Smart Contract</a></li>
                        <li><a href="/quick-start/step4-compile-and-deploy/">Step 4 - Compile & Deploy</a></li>
                        <li><a href="/quick-start/step5-run-smart-contract/">Step 5 - Run Smart Contract</a></li>
                    </ul>
                    <li><a href="#">Webinars</a></li>
                    <li><a href="#">The Stack</a></li>
                    <li><a href="#">RSK Blockchain</a></li>
                    <li><a href="#">RSK Infrastructure Framework</a></li>
                    <li><a href="#">Develop</a></li>
                    <li><a href="#">Engage</a></li>
                    <li><a href="#">Roadmap</a></li>
                    <li><a href="#">Contribute</a></li>
                    <li><a href="#">Grants</a></li>
                    <li><a href="#">DeFi for Bitcoin</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
