{% if site.root or true %}
<nav class="breadcrumbs bootstrap hidden-sm-down">
	<div class="actions">
		<a href="https://github.com/{{ site.repository }}/edit/master/{{ page.path }}">Edit</a> | 
		<a href="#" onclick="$('body').toggleClass('dark');if($(this).text() ==='Dark'){$(this).text('Light')}else{$(this).text('Dark')} return false;">Dark</a> | 
		<a href="#" onclick="$('#sharing-menu').toggle();return false;">Share</a> |
		<div class="dropdown-menu" id="sharing-menu" role="menu" style="display:none;">
			<ul data-bi-name="share-links">
				<li><a class="share-twitter" data-bi-name="twitter" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2F{{ site.domain }}{{ page.url }}&amp;text={{ page.title }}&amp;tw_p=tweetbutton&amp;url=https%3A%2F%2F{{ site.domain }}{{ page.url }}"><span class="docon docon-brand-twitter" aria-hidden="true"></span>Twitter</a></li>
				<li><a class="share-linkedin" data-bi-name="linkedin" href="https://www.linkedin.com/cws/share?url=https%3A%2F%2F{{ site.domain }}{{ page.url }}"><span class="docon docon-brand-linkedin" aria-hidden="true"></span>LinkedIn</a></li>
				<li><a class="share-facebook" data-bi-name="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F{{ site.domain }}{{ page.url }}"><span class="docon docon-brand-facebook" aria-hidden="true"></span>Facebook</a></li>
				<li><a class="share-email" data-bi-name="email" href="mailto:?subject={{ page.title }}&amp;body={{ page.title }}%0A%0Ahttps%3A%2F%2F{{ site.domain }}{{ page.url }}"><span class="docon docon-mail-message-fill" aria-hidden="true"></span>Email</a></li>
				<li><a class="share-link" data-bi-name="link" href="#" onclick="var el = $(document.createElement('input'));$('body').append(el);el.val('https://{{ site.domain }}{{ page.url }}').select();document.execCommand('copy');$(el).remove(); return false;"><span class="docon docon-clipboard-message-fill" aria-hidden="true"></span>Copy link</a></li>
			</ul>
		</div>
		<!--{{ site.github.contributors }}-->
	</div>
   <ol class="breadcrumb list-unstyled" vocab="http://schema.org/" typeof="BreadcrumbList">

      {% for crumb in breadcrumbs %} 
         {% if forloop.first and site.breadcrumbs.root.image %}
         <li class="breadcrumb-item breadcrumb-item-icon" property="itemListElement" typeof="ListItem">
            <a property="item" typeof="WebPage" href="{{ crumb.url | relative_url }}">
               <span class="icon" property="name">{% include nav-breadcrumb-icon.svg %}</span>
               <meta property="position" content="{{ crumb.position }}" />
            </a>
         </li>
         {% continue %} 
      {% endif %} 
      {% if forloop.last %}
      <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
         <span property="name">{{ crumb.title }}</span>
         <meta property="position" content="{{ crumb.position }}" />
      </li>
      {% continue %} {% endif %}
      <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
         <a property="item" typeof="WebPage" href="{{ crumb.url | relative_url }}">
            <span property="name">{{ crumb.title }}</span>
            <meta property="position" content="{{ crumb.position }}" />
         </a>
      </li>
      {% endfor %}

   </ol>
</nav>



<style>
   nav.breadcrumbs.bootstrap ol,
	nav.breadcrumbs.bootstrap ul   {
      margin-left: 0
   }

   nav.breadcrumbs.bootstrap .breadcrumb {
      font-size: 1rem;
      padding: 0.75rem 1rem;
      margin-bottom: 1rem;
      list-style: none;
      background-color: #f1f2ed;
      border-radius: 0.25rem;
	  color: #295d76;
   }
   
   nav.breadcrumbs.bootstrap .actions {
      float: right;
	  padding: 12px 20px 0 0;
	  font-size: 16px;
	  color: #295d76;
   }

   nav.breadcrumbs.bootstrap .breadcrumb::after,
	nav.breadcrumbs.bootstrap .actions::after   {
      content: "";
      display: table;
      clear: both;
   }

   nav.breadcrumbs.bootstrap .breadcrumb-item {
      float: none;
   }
   
   @media (min-width: 768px){
	   nav.breadcrumbs.bootstrap .breadcrumb-item {
		  float: left;
	   }
	}
   
   nav.breadcrumbs.bootstrap .breadcrumb-item+.breadcrumb-item::before {
      display: inline-block;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: #818a91;
      content: "/";
   }

   nav.breadcrumbs.bootstrap .breadcrumb-item+.breadcrumb-item:hover::before {
      text-decoration: underline;
   }

   nav.breadcrumbs.bootstrap .breadcrumb-item+.breadcrumb-item:hover::before {
      text-decoration: none;
   }

   nav.breadcrumbs.bootstrap .breadcrumb-item-active {
      color: #818a91;
   }

   nav.breadcrumbs.bootstrap .breadcrumb .icon {
      display: inline-block;
   }

   nav.breadcrumbs.bootstrap .breadcrumb .icon svg {
      height: 0.8rem;
      width: 0.8rem;
   }
</style>
{% endif %} 
