<div class="row rif_blue_text">
  <div class="col">
    <div class="rns-integrate-box">
      <a href="/rif/rns/integrate/integrate-dapp">Integrate your dApp</a>
      <br />
      <br />
      <ul>
        <li>Using browser wallets</li>
        <li>Gifting subdomains</li>
        <li>Authenticating</li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="rns-integrate-box">
      <a href="/rif/rns/integrate/integrate-wallet">Integrate your wallet</a>
      <br />
      <br />
      <ul>
        <li>Register subdomains for newcomers</li>
        <li>Allow users to create subdomains dynamically</li>
      </ul>
    </div>
  </div>
</div>
