<div class="container p-0 mb-2">
    <form class="form-inline" action="/search/" method="GET">
        <input class="form-control form-control-sm mr-sm-2" type="search" class="search-input" type="text" id="q" name="q" placeholder="Search" style="border-top: none; border-left: none; border-right: none;" />
        <!-- <input class="form-control-sm mr-sm-2" type="text" id="search-input" aria-label="Search" placeholder="search..."> -->
        <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit" style="border-radius: 50px;">Search</button>
      </form>
</div>