<head>
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="RSK is the first open source Smart Contract platform secured by the Bitcoin Network. RSK adds value and expand functionality to the Bitcoin ecosystem by providing smart contracts and greater scalability.">
    <meta name="author" content="RSK Developers Portal">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <title>{{ page.title }} - RSK Developers Portal</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favic/ns/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Custom Scrollbar -->
    <link rel="stylesheet" href="/assets/css/jquery.mCustomScrollbar.css">
    <!-- CDN with Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet"> 
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
    <!-- refs para sliders -->
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet">
    <!-- hotjar -->
    <script>
        (function(h, o, t, j, a, r) {

            h.hj = h.hj || function() {
                (h.hj.q = h.hj.q || []).push(arguments)
            };

            h._hjSettings = { hjid: 1829216, hjsv: 6 };

            a = o.getElementsByTagName('head')[0];

            r = o.createElement('script');
            r.async = 1;

            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;

            a.appendChild(r);

        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <script>
        var currentTheme = localStorage.getItem('theme');
        if (currentTheme)
            document.documentElement.setAttribute('data-theme', currentTheme);
    </script>
    <!-- CSS customized -->
    <link href="/assets/css/code.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/assets/css/styles-slider.css"> -->
    <link rel="stylesheet" href="/assets/revamp/css/styles.css">
    <!-- store theme in cookie -->
    <!-- share this -->
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5f3c2ef9623f390012b96afe&product=inline-share-buttons" async="async"></script>
</head>
