<!-- Actions buttons and slide navs -->
<div class="chat-btn"></div>
<div class="twitter-btn" onclick="openNav()"></div>
<div class="share-redes"></div>
<div class="share-buttons-container">
    <div class="sharethis-inline-share-buttons"></div>
</div>
<div id="twitter-sidebar" class="sidebar">
    <div class="gitter-chat-embed-action-bar"><a class="gitter-chat-embed-action-bar-item gitter-chat-embed-action-bar-item-pop-out" aria-label="Open Twitter" href="https://twitter.com/rsksmart" target="_blank" rel="noopener"></a><button class="gitter-chat-embed-action-bar-item gitter-chat-embed-action-bar-item-collapse-chat" aria-label="Collapse Twiiter Feed" onclick="closeNav()"></button></div>
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a> -->
    <div class="twitter-feed-container">
        <a class="twitter-timeline" href="https://twitter.com/RSKsmart?ref_src=twsrc%5Etfw">Tweets by RSKsmart</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
<header class="mb-5 mt-5">
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-xl navbar">
            <a class="navbar-brand" href="/">
                <div id="logo" class="logo"></div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="main-menu" class="navbar-nav ml-auto">
                    <li class="nav-link">
                        <a href="/">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="/fullinternal">Products<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-link">
                        <a href="/develop/apps/integrate/">Develop</a>
                    </li>
                    <li class="nav-link">
                        <a href="/rif/marketplace/services/">Services</a>
                    </li>
                    <li class="nav-link">
                        <a target="_blank" rel="noopener noreferrer" href="https://rsk.co/defi">DeFi</a>
                    </li>
                    <li class="nav-link">
                        <a href="/quick-start/step1-install-rsk-local-node/">Getting Started</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Community</a>
                    </li>
                </ul>
                {% include revamp/search.html %}
                <span class="d-lg-none">
                   {% include revamp/nav-page-menu.html %} 
                </span>
            </div>
        </nav>
    </div>
</header>

