<div id="options">
    <div class="row">
        <div class="col-md-4">
            <div class="option-set" data-group="guide">
                <input class="styled-checkbox" type="checkbox" value=".guide1" id="guide1" /><label for="guide1">guide1</label><br>
                <input class="styled-checkbox" type="checkbox" value=".guide2" id="guide2" /><label for="guide2">guide2</label><br>
                <input class="styled-checkbox" type="checkbox" value=".guide3" id="guide3" /><label for="guide3">guide3</label><br>
                <input class="styled-checkbox" type="checkbox" value=".guide4" id="guide4" /><label for="guide4">guide4</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="option-set" data-group="howto">
                <input class="styled-checkbox" type="checkbox" value=".howto1" id="howto1" /><label for="howto1">howto1</label><br>
                <input class="styled-checkbox" type="checkbox" value=".howto2" id="howto2" /><label for="howto2">howto2</label><br>
                <input class="styled-checkbox" type="checkbox" value=".howto3" id="howto3" /><label for="howto3">howto3</label><br>
                <input class="styled-checkbox" type="checkbox" value=".howto4" id="howto4" /><label for="howto4">howto4</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="option-set" data-group="video">
                <input class="styled-checkbox" type="checkbox" value=".video1" id="video1" /><label for="video1">video1</label>
            </div>
        </div>
    </div>
</div>