<div id="options">
    <div class="row">
        <div class="col-md-4">
            <div class="option-set" data-group="guide">

            	<div class="filter-cat mb-3" data-toggle="collapse" href="#guides-filters" role="button" aria-expanded="false" aria-controls="collapseExample">GUIDES</div>
<div class="collapse pb-3" id="guides-filters">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".guide1" id="guide1">
                    <label class="custom-control-label" for="guide1">Guide 1</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".guide2" id="guide2">
                    <label class="custom-control-label" for="guide2">Guide 2</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".guide3" id="guide3">
                    <label class="custom-control-label" for="guide3">Guide 3</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".guide4" id="guide4">
                    <label class="custom-control-label" for="guide4">Guide 4</label>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-4">
        	<div class="option-set" data-group="tutorial">
            <div class="filter-cat mb-3" data-toggle="collapse" href="#tutorials-filters" role="button" aria-expanded="false" aria-controls="collapseExample">TUTORIALS</div>
<div class="collapse pb-3" id="tutorials-filters">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".tutorial1" id="tutorial1">
                    <label class="custom-control-label" for="tutorial1">Tutorial 1</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".tutorial2" id="tutorial2">
                    <label class="custom-control-label" for="tutorial2">Tutorial 2</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".tutorial3" id="tutorial3">
                    <label class="custom-control-label" for="tutorial3">Tutorial 3</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".tutorial4" id="tutorial4">
                    <label class="custom-control-label" for="tutorial4">Tutorial 4</label>
                </div>
            </div>
            </div>
        </div>
       
        <div class="col-md-4">
            <div class="option-set" data-group="video">
            	<div class="filter-cat mb-3" data-toggle="collapse" href="#videos-filters" role="button" aria-expanded="false" aria-controls="collapseExample">VIDEOS</div>
<div class="collapse pb-3" id="videos-filters">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".video1" id="video1">
                    <label class="custom-control-label" for="video1">Video 1</label>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>