<div id="options">
    <div class="row">
        <div class="col-md-4">
            <div class="option-set" data-group="guide">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".guide1" id="guide1">
                    <label class="custom-control-label" for="guide1">Guide 1</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".guide2" id="guide2">
                    <label class="custom-control-label" for="guide2">Guide 2</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".guide3" id="guide3">
                    <label class="custom-control-label" for="guide3">Guide 3</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".guide4" id="guide4">
                    <label class="custom-control-label" for="guide4">Guide 4</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="option-set" data-group="howto">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".howto1" id="howto1">
                    <label class="custom-control-label" for="howto1">howto1</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".howto2" id="howto2">
                    <label class="custom-control-label" for="howto2">howto2</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".howto3" id="howto3">
                    <label class="custom-control-label" for="howto3">howto3</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".howto4" id="howto4">
                    <label class="custom-control-label" for="howto4">howto4</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="option-set" data-group="video">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" value=".video1" id="video1">
                    <label class="custom-control-label" for="video1">video1</label>
                </div>
            </div>
        </div>
    </div>
</div>