// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "override-bootstrap.scss";

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/offcanvas";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

@import '../components/header/styles.scss';
@import '../components/footer/styles.scss';
@import '../components/search/styles.scss';
@import '../components/sidebar/styles.scss';
@import '../components/sidebar/navigation/styles.scss';
@import '../components/before-content/styles.scss';
@import '../components/meta/styles.scss';
@import '../components/breadcrumbs/styles.scss';
@import '../components/articlesNavigation/styles.scss';

@import 'global/typography.scss';
@import 'global/fonts.scss';
@import 'global/button.scss';
@import 'global/forms.scss';
@import 'global/main.scss';

@import 'components/card.scss';
@import 'components/tabs.scss';

@import "../layouts/main/styles.scss";

@import "pages/newsletter.scss";
@import "webinars/styles.scss";
