<footer id="footer" class="section-bg">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="../img/powered_by_iov.svg" class="img-fluid powered_by">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-info">
                        <p>RSKは、世界で最も安全なスマートコントラクトネットワークであり、ビットコインのネットワークによって保護された分散型アプリケーションによって、人々の能力を引き出し、数百万人もの生活の質を向上させることができます。</p>
                        <br>
                        <a href="/" target="_self" class="footer-button rounded" title="Start now">今すぐ開始します</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="footer-links">
                                <ul>
                                    <li class="negbottom">ホワイトペーパー</li>
                                    <li class="sub-item-footer"><a href="https://rsk.co/ja/Whitepapers/RSK_White_Paper-original-ja.pdf">当初の</a></li>
                                    <li class="sub-item-footer"><a href="https://rsk.co/ja/Whitepapers/RSK-White-Paper-Updated-ja.pdf">更新</a></li>
                                    <li class="sub-item-footer"><a href="https://docs.rifos.org/rif-whitepaper-ja.pdf">RIF</a></li>
                                    <li><a href="https://rsk.co/ja/development-roadmap">Roadmap</a></li>
                                    <li><a href="https://explorer.rsk.co/">Explorer</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="footer-links">
                                <ul>
                                    <li><a href="https://mining.rsk.co/ja/index.html">マージ・マイニング</a></li>
                                    <li><a href="https://rsk.co//bounty-program/ja/index.html">Bounty Program</a></li>
                                    <li><a href="https://developers.rsk.co/grants/ja/">Grants Program</a></li>
                                    <li><a href="https://fund.rsk.co/ja/index.html">Ecosystem Fund</a></li>
                                    <li><a href="https://studio.rsk.co/ja/index.html">Innovation Studio</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="footer-links">
                                <ul>
                                    <li><a href="/defi" target="_blank" rel="noopener noreferrer">Open Finance</a></li>
                                    <li><a href="https://rsk.co/ja/Use-cases">活用事例</a></li>
                                    <li><a href="https://rsk.co/ja/faqs">よくある質問</a></li>
                                    <li><a href="https://blog.rsk.co/ja/">ブログ</a></li>
                                    <li><a class="negletterspacing" href="https://rsk.co/ja/Brand_Guidelines/RSK_BrandManual_V6_ja-jp.pdf">ブランドのガイドライン</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="footer-links lastcol">
                                <ul>
                                    <li><a class="bold" href="https://rsk.co/ja/terms-conditions">利用規約</a></li>
                                    <li><a class="bold" href="https://rsk.co/ja/privacy-policy">プライバシーポリシー</a></li>
                                    <li><a class="bold" href="https://www.iovlabs.org/ja/index.html">IOVlabsについて</a></li>
                                    <li><a class="bold lastcol-lastitem" href="https://www.iovlabs.org/ja/contact.html">IOVlabsに連絡する</a></li>
                                    <a href="/" target="_self" class="footer-button" title="Documentation">ドキュメンテーション</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="social-links">
                        <a href="https://twitter.com/rsksmart" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/rsksmart" class="facebook"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.facebook.com/RSKsmart/" class="linkedin"><i class="fab fa-facebook"></i></a>
                        <a href="https://gitter.im/rsksmart" class="instagram"><i class="fab fa-gitter"></i></a>
                        <a href="https://www.reddit.com/r/rootstock/" class="instagram"><i class="fab fa-reddit"></i></a>
                        <a href="https://t.me/rskofficialcommunity" class="instagram"><i class="fab fa-telegram"></i></a>
                        <a href="https://medium.com/@RSKNews" class="instagram"><i class="fab fa-medium"></i></a>
                        <a href="https://t.me/rsksmartcontract" class="instagram"><i class="fab fa-telegram"></i></a>
                        <a href="https://www.instagram.com/rsksmart/" class=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-xs-12 pl-0-mobile">
                        <p class="copyright">Copyright © 2015 - 2020 RSK Labs.禁無断転載</p>
                    </div>
                    <div class="col-md-6 col-xs-12 pl-0-mobile">
                        <p class="credits">RSK 公開鍵 (2ED3 E888 0384 D3D9 70B6 A612 BEBC A6A9 63F6 1479)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>