<footer id="footer" class="section-bg">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="../img/powered_by_iov.svg" class="img-fluid powered_by">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-info">
                        <p>RSK является самой защищенной сетью смарт-контрактов в мире, где децентрализованные приложения, защищенные сетью Биткойна, помогают расширить возможности и улучшить качество жизни миллионов людей.
                        </p>
                        <br>
                        <a href="/" target="_self" class="footer-button rounded" title="Start now">Начать сейчас</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="footer-links">
                                <ul>
                                    <li class="negbottom">Проектные документы</li>
                                    <li class="sub-item-footer"><a target="_blank" rel="noopener noreferrer" href="https://rsk.co/ru/Whitepapers/RSK_White_Paper-original-ru.pdf">Оригинальная версия</a></li>
                                    <li class="sub-item-footer"><a target="_blank" rel="noopener noreferrer" href="https://rsk.co/ru/Whitepapers/RSK-White-Paper-Updated-ru.pdf">Обновление</a></li>
                                    <li class="sub-item-footer"><a target="_blank" rel="noopener noreferrer" href="https://docs.rifos.org/rif-whitepaper-ru.pdf">RIF</a></li>
                                    <li><a target="_blank" rel="noopener noreferrer" href="https://rsk.co/ru/development-roadmap">Roadmap</a></li>
                                    <li><a target="_blank" rel="noopener noreferrer" href="https://explorer.rsk.co/">Explorer</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="footer-links">
                                <ul>
                                    <li><a target="_blank" rel="noopener noreferrer" href="https://mining.rsk.co/ru/index.html">Слитный майнинг</a></li>
                                    <li><a target="_blank" rel="noopener noreferrer" href="https://rsk.co/bounty-program/ru/index.html">Bounty Program</a></li>
                                    <li><a target="_blank" rel="noopener noreferrer" href="https://developers.rsk.co/grants/ru/">Grants Program</a></li>
                                    <li><a target="_blank" rel="noopener noreferrer" href="https://fund.rsk.co/ru/index.html">Экосистемный фонд</a></li>
                                    <li><a target="_blank" rel="noopener noreferrer" href="https://studio.rsk.co/ru/index.html">Инновационная студия</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="footer-links">
                                <ul>
                                    <li><a target="_blank" rel="noopener noreferrer" href="https://rsk.co/defi">Open Finance</a></li>
                                    <li><a target="_blank" rel="noopener noreferrer" href="https://rsk.co/ru/Use-cases">Сценарии использования</a></li>
                                    <li><a target="_blank" rel="noopener noreferrer" href="https://rsk.co/ru/faqs">Ответы на часто задаваемые вопросы</a></li>
                                    <li><a target="_blank" rel="noopener noreferrer" href="https://blog.rsk.co/ru/">Блог</a></li>
                                    <li><a target="_blank" rel="noopener noreferrer" href="https://rsk.co/ru/Brand_Guidelines/RSK_BrandManual_V6_ru-ru.pdf">Руководство по использованию корпоративного стиля</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="footer-links lastcol">
                                <ul>
                                    <li><a target="_blank" rel="noopener noreferrer" class="bold" href="https://rsk.co/ru/terms-conditions">Правила и условия</a></li>
                                    <li><a target="_blank" rel="noopener noreferrer" class="bold" href="https://rsk.co/ru/privacy-policy">Политика конфиденциальности</a></li>
                                    <li><a target="_blank" rel="noopener noreferrer" class="bold" href="https://www.iovlabs.org/ru/index.html">О IOVlabs</a></li>
                                    <li><a target="_blank" rel="noopener noreferrer" class="bold lastcol-lastitem" href="https://www.iovlabs.org/ru/contact.html">Как связаться с IOVlabs</a></li>
                                    <a href="/" target="_self" class="footer-button" title="Documentation">Документация</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="social-links">
                        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/rsksmart" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/rsksmart" class="facebook"><i class="fab fa-youtube"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/RSKsmart/" class="linkedin"><i class="fab fa-facebook"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="/slack/" class="instagram"><i class="fab fa-slack"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.reddit.com/r/rootstock/" class="instagram"><i class="fab fa-reddit"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://t.me/rskofficialcommunity" class="instagram"><i class="fab fa-telegram"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://medium.com/@RSKNews" class="instagram"><i class="fab fa-medium"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://t.me/rsksmartcontract" class="instagram"><i class="fab fa-telegram"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/rsksmart/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-xs-12 pl-0-mobile">
                        <p class="copyright">Copyright © 2015 - 2020 RSK Labs. Все права защищены.</p>
                    </div>
                    <div class="col-md-6 col-xs-12 pl-0-mobile">
                        <p class="credits">Открытый ключ RSK (2ED3 E888 0384 D3D9 70B6 A612 BEBC A6A9 63F6 1479)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>