html {
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  color: #000;
  font-size: 16px !important;
  line-height: 25px !important;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

#theme-toggler {
  font-size: 12px;
  font-weight: bold;
  color: #00b520 !important;
  border: none;
  background-color: transparent;
}

.navbar {
  z-index: 99 !important;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.bg-dark {
  background-color: transparent !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url('../img/burger_light.svg');
}

.logo {
  width: 150px;
  max-width: 150px;
  height: auto;
  transition: all 0.5s ease;
}

.nav-link {
  color: black !important;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  padding: 10px 15px !important;
}

.nav-link:hover {
  color: black !important;
}

.navbar-dark .navbar-nav .active > .nav-link {
  font-weight: 700;
}

.navbar-nav {
  padding-top: 15px;
}

.navbar {
  transition: all 0.5s ease;
}

.navbar.header-scrolled {
  background: white !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 5px rgba(0, 0, 0, 0.075);
}

.navbar.header-scrolled::after {
  top: -50px;
  height: 0px;
}

.logo.header-scrolled {
  width: 90px !important;
}



@media (min-width:992px) {
.dropdown>.dropdown-menu {
  transform: scale(0);
  transition: 0.3s all ease-in-out;
  display: block;
  border: 1px solid #00B520;
}

.dropdown:hover>.dropdown-menu {
  transform: scale(1);
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
}

.dropdown-toggle::after {
    content: "";
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    vertical-align: .100em;
}

.dropdown-item.active{
  background-color: transparent;
  color:#212529;
  font-weight: 700;
}


.noevent {
    pointer-events: none;
    cursor: default!important;
}

.badge-secondary {
  margin-right: 15px;
}

/*sections */

#home {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.btn-outline-secondary {
  font-weight: bold;
  border: none;
}

.btn-outline-secondary .parag {
  color: black;
}

.btn-outline-secondary:hover {
  background: transparent;
  color: #ccc;
  opacity: 1;
}

.btn-outline-secondary:active {
  outline: none !important;
  border: none !important;
}

.btn-outline-secondary:focus {
  outline: none !important;
}

.show > .btn-outline-secondary.dropdown-toggle {
  color: #ccc;
  background-color: #fff;
  border-color: transparent;
}

.mobile-left-menu .dropdown-menu {
  min-width: 16rem;
}

.mobile-left-menu .dropdown-toggle::after {
  display: none;
}

.fa-chevron-down:before {
  content: '\f078';
  position: relative;
  top: 3px;
  margin-left: 5px;
}

.input-col {
  padding-left: 30px;
}

.mobile-left-menu {
  display: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mobile-left-menu .dropdown-item {
  white-space: normal;
}

.drop-mobile-left-menu {
  width: 100%;
  margin-top: 230px;
  padding: 15px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.drop-mobile-left-menu.show {
  border: 1px #008cff solid;
}

.second_level {
  padding-left: 45px !important;
}

::-webkit-input-placeholder {
  /* Edge */
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #008cff !important;
  font-size: 18px;
  transition: 0.3s;
  text-transform: capitalize !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #008cff !important;
  font-size: 18px;
  transition: 0.3s;
  text-transform: capitalize !important;
}

::placeholder {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #008cff !important;
  font-size: 18px;
  transition: 0.3s;
  text-transform: capitalize !important;
}

/* left col desktop */

.main-left-col {
  border-right: solid 1px #ccc;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.menu-container {
  color: #6c757d;
  width: 100%;
  padding-bottom: 100px;
  font-family: 'Open Sans', sans-serif;
  padding-right: 15px;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 0px;
  display: inline-block;
}

.menu-container a {
  display: block;
  width: 100%;
}

.menu-container a.index {
  font-family: 'Quicksand', sans-serif !important;
  color: #008cff !important;
  font-weight: bold !important;
  padding: 0 0 10px 0;
  font-size: 15px;
}

.toggle-nav-column-visibility {
  margin: 0 0 30px 0;
  cursor: pointer;
}

.menu-container > div > a:hover {
  color: black !important;
}

.menu-container a:hover {
  text-decoration: none;
}

.menu-container ul {
  list-style: none;
  padding-left: 10px;
}

.menu-container li {
  padding-bottom: 3px;
}

.rotate-chevron > a {
  padding-bottom: 3px;
}

.exclude-doc-from-breadcrumbs {
  padding-left: 0px !important;
}

.first_level > ul {
  padding-left: 0px !important;
}

.hide {
  display: none;
}

.fa-chevron-right {
  float: right;
}

.fa-chevron-right:before {
  content: ' + ' !important;
}

.rotate-chevron > .fa-chevron-right:before {
  content: ' _ ' !important;
}

li > a {
  color: #666666 !important;
}

.menu-container li:hover > a,
.menu-container li.current > a {
  font-weight: bold !important;
  color: black !important;
}

.menu-container li:hover > span,
.menu-container li.current > span {
  color: black !important;
}

.menu-container li > .fa {
  position: relative;
  top: 3px;
  color: #666666;
}

/*.rotate-chevron > a{color:black!important; font-weight:bold;}
.rotate-chevron > a::before{background: black;}*/

.rotate-chevron > span {
  top: -3px !important;
}

.menu-container .first_level > a {
  font-family: 'Quicksand', sans-serif !important;
  color: #666666 !important;
  font-weight: bold !important;
  padding: 7px 0;
  display: block;
  font-size: 13px;
}

.menu-container a[target='_blank']:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../img/ext-link.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  margin-left: 5px;
  margin-bottom: 3px;
}

.menu-container a[target='_blank']:hover:after {
  background: url(../img/ext-link-hover.svg);
}

.menu-container .first_level > .fa {
  position: relative;
  top: 10px;
  color: #666666;
}

.menu-container .first_level > a[target='_blank']:hover:after {
  background: url(../img/first-level-ext-link-hover.svg);
}

.menu-container .first_level > a::before {
  content: '\A';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ccc;
  display: inline-block;
  margin: 0 10px 0 0;
}

.menu-container .first_level:hover > a {
  color: #008cff !important;
}

.menu-container .first_level:hover > a::before {
  background: #008cff;
}

.menu-container .first_level:hover > span {
  color: #008cff !important;
}

/*.first_level.rotate-chevron > a{color:#008CFF!important;}
.first_level.rotate-chevron > a::before{background: #008CFF;}*/

.menu-container .first_level.rotate-chevron > span {
  top: 5px !important;
}

.menu-container .first_level.current > a,
.menu-container .first_level.current > span {
  color: #008cff !important;
}

.menu-container .first_level.current > a::before {
  content: '\A';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #008cff !important;
  display: inline-block;
  margin: 0 10px 0 0;
}

.subnav {
  display: block;
}

.subnav > ul {
  display: none;
}

.subnav-reveal {
  display: block !important;
}

.open > ul {
  display: block !important;
}

/* central column*/

.header-inner {
  min-height: 51px;
}

.breadcrumb {
  background: transparent;
  color: #cccccc;
  padding: 5px 10px;
  font-size: 12px;
}

.breadcrumb li a {
  padding-top: 8px;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  color: #cccccc !important;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
}

.breadcrumb li:last-child a {
  font-weight: bold !important;
  color: black !important;
}

.breadcrumb .active a {
  font-weight: bold;
  color: black;
}

.breadcrumb li a:hover {
  color: black;
}

.highlight {
  margin: 30px 0;
  padding: 0px;
  background-color: #cccccc;
}

.highlight .highlight {
  padding: 15px;
}

.main-central-col li > a {
  color: #00b520;
}
.main-central-col li:hover > a {
  color: #00b520;
}

pre {
  white-space: pre-wrap;
  padding: 5px;
}

code {
  display: inline;
  font-size: 16px !important;
}

.main-central-col {
  padding: 0px 30px;
}

.main-central-col img {
  margin-bottom: 30px;
  margin-top: 15px;
  border: none !important;
  background: transparent !important;
}


#results-container a[target='_blank']:after {
  content: '';
  width: 0px;
  height: 0px;
}

/* right column*/

.main-right-col {
  padding-left: 30px;
  border-left: solid 1px #cccccc;
}

.table-of-content {
  color: #ccc;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.table-of-content .selected-chapter {
  color: #00b520;
  font-weight: 700;
}

.inner-right-column {
  padding-left: 15px;
}

.next-button {
  display: block;
  text-align: center;
}

.next-button-mobile {
  display: none;
}

/*header*/

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  display: block;
  padding-bottom: 15px;
  font-size: 22px;
}

h2 {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: bold;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 15px 0;
}

h3 {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: bold;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 15px 0;
}

h4 {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: bold;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 15px 0;
}

h5 {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: bold;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 15px 0;
}

h6 {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: bold;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 15px 0;
}

/*tipos*/

.content p {
  font-size: 14px;
  line-height: 20px;
}

.bold {
  font-weight: 700;
}

.rsk_blue {
  color: #008cff !important;
}

.rsk_green {
  color: #00b520 !important;
}

.rsk_orange {
  color: #f26122;
}

.title-section {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  display: block;
  padding-bottom: 15px;
  font-size: 22px;
}

.main-central-col p {
  font-size: 16px;
}

.page-metadata,
.page-metadata a {
  font-size: 12px;
  font-weight: bold;
  color: #00b520 !important;
  text-align: right;
}

.main-central-col p a,
.main-central-col a {
  font-size: 16px;
  font-weight: bold;
  color: #00b520 !important;
}

.main-central-col p a:hover,
.main-central-col a:hover,
.main-central-col > li a:hover {
  color: #00b520 !important;
}

.subtitle_seccion {
  font-weight: bold;
  display: block;
}

/*images*/

img {
  max-width: 100%;
}

/*videos*/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lumino-video-container{
  padding-top: 10px;
  margin-bottom: 25px;
}

/* prev-next-links */

.prev-next-links {
  display: block;
  width: auto;
  overflow: hidden;
}

/*buttons*/

.green-button {
  display: inline-block;
  margin: 4px 10px 0 0;
  background: #00b520;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 50px;
  padding: 8px 30px;
  color: #fff !important;
  font-size: 18px;
  transition: 0.3s;
  margin-right: 30px;
}

.green-button:hover {
  color: #fff !important;
  text-decoration: none;
  -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  cursor: pointer;
}

.main-central-col .green-button {
  color: white !important;
}

.main-central-col .green-button:hover {
  color: white !important;
}

.rounded {
  border-radius: 50px !important;
}

.scrollup {
  position: fixed;
  bottom: 50px;
  left: 10px;
  color: #666;
  font-size: 14px;
  transform: rotate(-90deg);
  font-family: 'Quicksand', sans-serif;
  transition: all 0.5s ease;
}

/* prev-next-links */

.prev-next-links {
  display: block;
  width: auto;
  overflow: hidden;
}

.prev-next-links .prev,
.prev-next-links .next {
  display: block;
  margin: 1em 0;
}

.prev-next-links .prev {
  float: left;
}

.prev-next-links .next {
  float: right;
  margin-right: 7px;
}

/*footer*/

#footer {
  font-size: 16px;
  font-weight: 300;
}

.powered_by {
  width: 250px;
  height: auto;
  margin-bottom: 30px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: black;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info p {
  line-height: 28px;
  margin-bottom: 0;
  color: white;
  max-width: 265px;
}

#footer .footer-top .social-links {
  margin-top: 50px;
  float: right;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: white;
  color: black;
  line-height: 1;
  padding: 6px 0;
  margin-right: 8px;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: white;
  color: black;
}

#footer li:hover > a {
  font-weight: 300 !important;
}

#footer li:hover > span {
  font-weight: 300 !important;
}

#footer li:hover {
  font-weight: 300 !important;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #413e66;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 6px 0;
  margin-bottom: 4px;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
  color: white;
}

#footer .footer-top .footer-links ul a {
  color: white !important;
}

#footer .footer-top .footer-links ul a:hover {
  color: white !important;
  text-decoration: none;
}

#footer .footer-top .footer-links ul li:hover .bold {
  font-weight: 700 !important;
}

#footer .footer-top .footer-links ul a {
  color: white !important;
}

#footer .footer-top .footer-links .sub-item-footer {
  padding: 0 0 0px 15px !important;
  font-style: italic;
  margin-bottom: 3px;
}

.negbottom {
  margin-bottom: 7px !important;
  line-height: 20px;
}

.lastcol ul li {
  padding: 6px 0;
  margin-bottom: 0px !important;
}

.lastcol-lastitem {
  display: block;
  margin-bottom: 18px;
}

.mb-30 {
  display: block;
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: left;
  padding-top: 30px;
  color: white;
  font-size: 12px;
  padding: 0px;
  margin: 30px 0px 0px 0px;
}

#footer .credits {
  text-align: right;
  font-size: 12px;
  padding-top: 4px;
  color: #00b520;
  padding: 0px;
  margin: 30px 0px 0px 0px;
}

#footer .credits a {
  color: #1bb1dc;
}

#footer .credits a:hover {
  color: #0a98c0;
}

.footer-button {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
  border: 0;
  padding: 8px 30px;
  color: #fff !important;
  font-size: 14px;
  transition: 0.3s;
  background: #00b520;
}

.footer-button:hover {
  text-decoration: none;
  font-weight: 600 !important;
}

#footer .footer-top .footer-links ul a.footer-button:hover {
  font-weight: 600 !important;
}

.negletterspacing {
  letter-spacing: -2px;
}

/* specifics */

/*carousel*/

.owl-carousel {
  background: white;
}

.owl-carousel .owl-item {
  opacity: 0.2;
  transition: opacity 0.5s ease;
}

.owl-carousel .owl-item:hover {
  opacity: 1;
}

.owl-item.active.center {
  opacity: 1;
}

.company-name {
  opacity: 0;
  transition: opacity 0.5s ease;
  position: relative;
  top: -20px;
}

.company-name:hover {
  text-decoration: none;
}

.owl-carousel .owl-item:hover > .item > .company-name {
  opacity: 1;
}

.owl-item.active.center > .item > .company-name {
  opacity: 1;
}

.owl-theme .owl-nav {
  margin-top: -90px !important;
}

.owl-carousel .owl-nav .owl-prev {
  margin-left: -6px !important;
  position: relative;
  top: 80px;
}

.owl-carousel .owl-nav .owl-next {
  margin-right: 30px !important;
  position: relative;
  top: 80px;
}

.controls {
  display: flex;
}

.controls p {
  font-size: 9px;
  display: inline-block;
  margin-bottom: 0px;
}

.slider-labels {
  justify-content: space-between;
  margin-bottom: 40px;
}

.slider-labels,
.slider .controls {
  display: flex;
  margin-top: 100px;
}

.slider .controls p {
  margin: 0;
  font-size: 14px;
}

.slider-title {
  margin: 0;
  color: #f26122;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
}

.slider .controls p {
  margin-right: 10px;
}

.owl-btn {
  margin-left: 10px;
  margin-left: 10px;
  background-color: #000;
  opacity: 0.15;
  color: #fff;
  padding: 0 15px;
  border-radius: 20px;
}

.owl-btn:hover {
  opacity: 1;
  color: #fff;
  text-decoration: none;
}

.slider {
  margin-bottom: 100px;
}

.rsk-btn:hover,
.rsk-btn:active {
  background-color: #00b520 !important;
}

.rif-btn:hover,
.rif-btn:active {
  background-color: #008cff !important;
}

.owl-carousel .item {
  width: 140px;
  height: 220px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.owl-carousel .item img {
  width: 100%;
  align-self: flex-end;
}

.owl-carousel .item a {
  align-self: flex-end;
  margin: 0 auto;
  font-size: 14px;
  color: #000;
  text-align: center;
}

.owl-nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 30%;
  margin: 0;
}

.owl-prev span,
.owl-next span {
  display: none;
}

.owl-prev::after,
.owl-next::after {
  transform: scale(0.6);
  position: absolute;
  top: 0;
}

.owl-prev::after {
  content: url('../img/prev-arrow.png');
  width: 32px;
  height: 36px;
}

.owl-next::after {
  content: url('../img/next-arrow.png');
}

#stats-carousel.owl-carousel .item img {
  max-width: 90px;
  max-height: 90px;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.owl-theme .owl-nav .owl-prev:hover,
.owl-theme .owl-nav .owl-next:hover {
  background: none;
}

.owl-dots {
  margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #f26122;
}

/*features list */

.features-list,
.talk-list {
  margin-top: 60px;
}

.features-list .row {
  padding: 0;
}

.features-list li {
  list-style: none;
}

.feature-card {
  border: solid 3px #00b520;
  font-size: 21px;
  padding: 0;
  overflow: hidden;
  display: flex;
  height: auto;
  border-radius: 35px;
  -webkit-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: 0.1s ease all;
}

.feature-card:hover {
  -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.feature-card a p {
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 0;
  line-height: 18px;
  color: #000;
  display: flex;
}

/*.feature-card a p>span{margin-bottom: auto; margin-top: auto;}*/

.feature-card a:hover {
  text-decoration: none;
}

.feature-card .content {
  padding: 15px;
  margin-top: auto;
  margin-bottom: auto;
  flex-wrap: wrap;
  min-height: 150px;
}

/*.feature-card .two-line-title-content {
    padding: 30px 15px 0 15px!important;
}*/

.feature-card .content-container {
  align-self: flex-end;
  width: 100%;
}

.feature-card .btn-container {
  align-self: flex-end;
}

.feature-card .btn-container a {
  padding: 5px 15px;
  font-size: 11px;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
}

.feature-card .btn-container a:first-child {
  padding: 0;
}

.main-central-col .feature-card .btn-container a {
  color: white !important;
}

.feature-card .card-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
  min-height: 46px;
  padding-bottom: 10px;
}

.feature-card .card-desc {
  min-height: 85px;
}

.icon-cont {
  width: 110px;
  height: 92px;
}

.feature-card .icon {
  display: flex;
  min-width: 115px;
}

.icon img {
  max-height: 90px;
  margin-bottom: auto;
  margin-top: auto !important;
}

.card-button {
  font-size: 11px;
  border-radius: 20px;
  color: #fff;
  border: none;
  padding: 0 14px;
}

.card-button:hover {
  -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  cursor: pointer;
}

.button-cont {
  text-align: center;
}

.green {
  background-color: #00b520;
}

.orange {
  background-color: #f26122;
}

.blue {
  background-color: #2c9dc3;
}

/* The stack */

.the-stack .row {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  color: #00b520;
}

.the-stack .row .col {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  line-height: 20px;
  text-align: center;
  font-weight: 900;
  -webkit-box-shadow: 0.5px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0.5px 2px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0.5px 2px 6px 0px rgba(0, 0, 0, 0.1);
  margin: 15px 5px;
  border-radius: 15px;
  min-height: 70px;
  padding: 0;
}

.the-stack .category-title {
  padding: 0px;
  position: relative;
  left: -60px;
  top: -30px;
}

.the-stack .category-title a {
  font-size: 15px !important;
}

.the-stack .row .col a {
  /*padding:15px;*/
  width: 100%;
  color: #00b520;
}

.the-stack .row .col a:hover {
  text-decoration: none !important;
}

.the-stack .row .col span {
  padding: 15px;
  color: rgb(255, 255, 255) !important;
}

.the-stack .row .col a > span {
  padding: 0px;
}

.the-stack .has-unique-col .col a {
  font-size: 20px;
  min-height: 0px;
  width: 100%;
}

.the-stack .has-unique-col .col span {
  font-size: 15px;
  min-height: 0px;
}

.the-stack .rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.the-stack .dapps {
  padding: 20px;
}

.the-stack .dapps .col {
  margin: 5px;
}

.the-stack .bitcoin .col {
  background: #ff9900 !important;
}

.the-stack .bitcoin .col a {
  color: white !important;
}

.the-stack .dapps .col span,
.the-stack .defi {
  padding: 10px;
}

.the-stack .dapps .col a {
  font-size: 15px;
}

.the-stack .rsk_green .col {
  color: rgb(0, 181, 32) !important;
  background-color: rgb(0, 181, 32) !important;
}

.the-stack .rsk_green .col a {
  color: rgb(255, 255, 255) !important;
  width: 100%;
}

.the-stack .rsk_green .col span a {
  color: rgb(255, 255, 255) !important;
}

/* rif blue bg white text */

.the-stack .rif_blue .col {
  color: #008cff !important;
  padding: 1px;
  margin: 5px;
  background: white !important;
}

.the-stack .rif_blue .col a {
  color: #008cff !important;
  width: 100%;
}

.the-stack .rif_blue .col span {
  color: #008cff !important;
}

.the-stack .rif_blue .col.grey span,
.the-stack .rsk_green .col.grey span {
  color: #666666 !important;
}

/* rif blue text white bg */

.the-stack .rif_blue_text .col {
  color: rgb(0, 191, 255) !important;
}

.the-stack .rif_blue_text .col a {
  color: #008cff !important;
  width: 100%;
}

.the-stack .rif_blue_text .col span {
  color: #008cff !important;
}

.row .has-unique-col .rsk_green a {
  color: rgb(255, 255, 255) !important;
}

/* rsk blue bg white text */

.the-stack .rsk_blue .col {
  color: #008cff !important;
  background-color: rgb(255, 255, 255) !important;
}

.the-stack .rsk_blue .col a {
  color: #008cff !important;
  width: 100%;
}

.the-stack .rsk_blue .col span {
  color: #008cff !important;
}

/* rsk blue text white bg */

.the-stack .rsk_blue_text .col {
  color: #008cff !important;
}

.the-stack .rsk_blue_text .col a {
  color: #008cff !important;
  width: 100%;
}

.the-stack .rsk_blue_text .col span {
  color: #008cff !important;
}

.the-stack .green_reverse .col {
  background: #00b520 !important;
}

.the-stack .green_reverse .col a {
  color: white !important;
  padding: 15px;
  width: 100%;
}

.the-stack .green_reverse .col span {
  color: white !important;
  padding: 15px;
}

.the-stack .green_reverse .col a > span {
  color: white !important;
  padding: 0px;
}

.nav-search-item > a {
  font-family: 'Quicksand', sans-serif;
  color: #0e0e0e;
  font-weight: bold;
  padding: 7px 0;
  display: block;
  font-size: 1.2em;
}

.search-button {
  border-radius: 50px;
  color: white;
  background: #008cff !important;
  border-color: #008cff;
}

.search-button:hover {
  color: white;
  background: #008cff;
  border-color: #008cff;
  -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  cursor: pointer;
}

.search-input {
  /*border-top: none;
	border-left: none;
	border-right: none;*/
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.first_level .subnav li a:before {
  content: '|';
}

.hide-element {
  display: none;
}

/*newsletter*/

.newsletter h2 {
  font-size: 30px;
}

.newsletter-group{
    justify-content: center;
}

.newsletter-group-input {
    padding: 11px 30px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 2px solid #D9D9D9;
    border-right: 0px;
    width:65%;
}

.newsletter-form .af-body input.text,
.newsletter-form .af-body textarea{
    color:#000000;
}

@media (max-width: 991px) {
    .newsletter-group-input {width:50%;}
    }

    @media (max-width: 465px) {
    .newsletter-group-input {width:45%;}
    }

     @media (max-width: 400px) {
    .newsletter-group-input {width:100%;
        border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-right: 2px solid #D9D9D9;}

    }


.newsletter-group-input:focus {
    border: 2px solid #D9D9D9;
    border-right: 0px;
}

.btn-suscribe {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background: #00B520;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
    border: none;
    padding: 0 30px;
}

    @media (max-width: 400px) {
   .btn-suscribe {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px 30px;
    margin-top: 15px;
}
}

.newsletter-group-input:hover {
    background: transparent;
    color: #fff;
    -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    cursor: pointer;
}

.newsletter-group-input::-webkit-input-placeholder {
    /* Edge */
    color: #CCC !important;
    font-size: 18px;
}

.newsletter-group-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #CCC !important;
    font-size: 18px;
}

.newsletter-group-input::placeholder {
    color: #CCC !important;
    font-size: 18px;
}

  @media (max-width: 400px) {
    .newsletter-group-input::-webkit-input-placeholder {
    /* Edge */
    text-align: center;
}

.newsletter-group-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    text-align: center;
}

.newsletter-group-input::placeholder {
    text-align: center;
}
  }

/* tables with borders */

.table-with-border {
  border: 0;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.table-with-border thead,
.table-with-border tbody,
.table-with-border tfoot,
.table-with-border tr,
.table-with-border td,
.table-with-border th {
  border: none;
  border-collapse: inherit;
}

.table-with-border td,
.table-with-border th {
  padding: 0.1em 0.5em 0.1em 0.5em;
}

.table-with-border tr {
  border-bottom: 1px solid #dedede;
}

/* rsk token bridge support */

.rsk-token-bridge-support-input-area {
  margin: 2em 0.5em 2em 0.5em;
}

.rsk-token-bridge-support-input-area input,
.rsk-token-bridge-support-input-area select {
  min-width: 80%;
  margin-bottom: 0.5em;
}

/* Powpeg verifier check */

.pegin-address-verifier {
  margin: 10px auto;
}

.pegin-address-verifier .address {
  margin: 10px auto;
  min-width: 380px;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 14px;
}

/* multi terminal */

.multi-terminal-group {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.multi-terminal-tab {
  float: left;
  border: 1px solid #c2c2c2;
  border-bottom: 1px solid #ffffff;
  border-radius: 2px 2px 0 0;
  padding: 0.1em 0.25em 0 0.25em;
  margin: 0 0.1em 0 0;
  background-color: #b0b0b0;
}

.multi-terminal-tab:hover {
  background-color: #c2c2c2;
}

.multi-terminal-tabtitle {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 0.25em;
  transition: 0.25s;
  font-size: 1.25em;
}

.multi-terminal-tabcontent {
  display: none;
  width: 100%;
  border: 1px solid #c2c2c2;
  border-radius: 0 2px 2px 2px;
  margin: -1px 0 1em 0;
  padding: 5px;
}

.multi-terminal-tab.active {
  background-color: #ffffff;
}

.multi-terminal-tabcontent.active {
  display: block;
}

/* pygments overrides */

.multi-terminal-tabcontent .highlight {
  margin: 0;
  padding: 0;
}

.multi-terminal-tabcontent .highlight .highlight {
  padding: 5px;
}

.multi-terminal-tabcontent code {
  display: inline;
  font-size: 16px;
}

.multi-terminal-tabcontent pre {
  display: block;
  white-space: pre-wrap;
  padding: 0;
  color: transparent;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

.multi-terminal-tabcontent .highlight {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

/* linux terminal */
.multi-terminal-tabcontent-linux .highlight pre,
.multi-terminal-tabcontent-linux .highlight {
  background-color: #000000;
}

.multi-terminal-tabcontent-linux::before {
  content: "Terminal";
  display: block;
  height: 39px;
  border-width: 0px 39px 0px 39px;
  border-style: solid;
  border-image:
    url("../img/custom-terminals/linux-terminal-title-bar.png")
    0 39 0 39
    fill;
  color: transparent;
}

.multi-terminal-tabcontent-linux .language-shell {
  display: block;
  min-height: 45px;
  border-width: 1px 14px 21px 3px;
  border-style: solid;
  border-image:
    url("../img/custom-terminals/linux-terminal-body.png")
    1 14 21 3
    stretch;
    color: #e0e0e0;
  background-color: #000000;
  font-family: "Ubuntu Mono", consolas, monospace;
  margin: 0 0 0 0;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  overflow-x: hidden;
  font-style: normal;
  font-weight: normal;
}

.multi-terminal-tabcontent-linux .language-shell *::selection {
  background: #22f200;
}

/* mac terminal */
.multi-terminal-tabcontent-mac .highlight pre,
.multi-terminal-tabcontent-mac .highlight {
  background-color: #242424;
}

.multi-terminal-tabcontent-mac::before {
  content: "Terminal";
  display: block;
  height: 23px;
  border-width: 0px 6px 0px 62px;
  border-style: solid;
  border-image:
    url("../img/custom-terminals/mac-terminal-title-bar.png")
    0 6 0 62
    fill;
  color: transparent;
}

.multi-terminal-tabcontent-mac .language-shell {
  display: block;
  min-height: 45px;
  border-width: 1px 16px 13px 6px;
  border-style: solid;
  border-image:
    url("../img/custom-terminals/mac-terminal-body.png")
    1 7 13 7
    stretch;
    color: #e0e0e0;
  background-color: #242424;
  font-family: "Ubuntu Mono", consolas, monospace;
  margin: 0 0 0 0;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  overflow-x: hidden;
  font-style: normal;
  font-weight: normal;
}

.multi-terminal-tabcontent-mac .language-shell *::selection {
  background: #22f200;
}

/* windows-command-prompt */

.windows-command-prompt {
  padding-left: 0;
}

.windows-command-prompt::before {
  content: 'Command Prompt';
  display: block;
  height: 31px;
  border-width: 0px 129px 0px 139px;
  border-style: solid;
  border-image: url('../img/custom-terminals/windows-command-prompt-title-bar.png') 0 129 0 139 fill;
  color: transparent;
  background-color: #ffffff;
}

.windows-command-prompt > .language-windows-command-prompt {
  display: block;
  min-height: 31px;
  border-width: 16px 19px 16px 2px;
  border-style: solid;
  border-image: url('../img/custom-terminals/windows-command-prompt-body.png') 16 19 16 2 stretch;
  color: #e0e0e0;
  background-color: #0c0c0c;
  font-family: 'MS Sans Serif', consolas, monospace;
  margin: 0 0 0 0;
  padding: 0 0.5em 0 0.5em;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  overflow-x: hidden;
  font-style: normal;
  font-weight: normal;
}

.windows-command-prompt > .language-windows-command-prompt::selection {
  background: #aaaaaa;
}

/* sprite transform animation */

.sprite-transform-animation {
  height: 100%;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.sprite-transform-animation.rsk-mining {
  width: 1800%;
  background-image: url('../img/home/rsk-mining-animation-sprite.png');
  animation-name: sprite-transform-animation-keyframes-18;
  animation-duration: 10s;
  animation-timing-function: steps(17);
  animation-iteration-count: infinite;
}

.sprite-transform-animation.rsk-peg {
  width: 900%;
  background-image: url('../img/home/rsk-peg-animation-sprite.png');
  animation-name: sprite-transform-animation-keyframes-9;
  animation-duration: 20s;
  animation-timing-function: steps(8);
  animation-iteration-count: infinite;
}

@keyframes sprite-transform-animation-keyframes-18 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-94.44444444%);
  }
}

@keyframes sprite-transform-animation-keyframes-9 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-88.88888889%);
  }
}

.sprite-transform-animation-wrapper {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 386px;
}

/* newsletter sign up page */

table.table.newsletter input[type='checkbox'] {
  margin-right: 5px;
}

/* media queries*/

@media (min-width: 992px) {
  .navbar-expand-lg > .container {
    min-width: 960px;
  }
}

@media (max-width: 991px) {
  a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
  }
  .header-inner {
    margin-bottom: 0px;
  }
  .input-col,
  .main-left-col,
  .main-right-col {
    display: none;
  }
  /* nav */
  .subnav > ul {
    display: block;
  }
  .first_level > span {
    display: none !important;
  }
  .first_level > a {
    color: #008cff !important;
  }
  .first_level > a::before {
    background: #008cff;
  }
  .menu-container li > span {
    display: none !important;
  }
  .hide-mobile {
    display: none;
  }
  a.active {
    color: black !important;
    font-weight: bold;
  }
  .breadcrumb {
    display: none;
  }
  .nav-link {
    color: #000000 !important;
    padding: 5px 15px !important;
  }
  .menu-container {
    padding-bottom: 0px;
  }
  .menu-container ul {
    padding-left: 15px;
  }
  .main-central-col {
    border: none;
  }
  .next-button-mobile {
    display: block;
    margin-top: 45px;
  }
  .mobile-left-menu {
    display: block;
  }
  .prev-next-links .next {
    float: left;
  }

  .feature-card a p {
    min-height: 82px;
  }

  .toggle-nav-column-visibility {
    display: none;
  }

  #footer .footer-top .footer-info p {
    max-width: inherit;
  }

  #footer .footer-top .social-links {
    float: left;
  }
  .pl-0-mobile {
    padding-left: 0px;
  }
  #footer .footer-top {
    padding: 60px 15px 30px 15px;
  }
  #footer .footer-top .social-links a {
    margin-bottom: 10px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: inherit;
  }
  #footer .credits {
    text-align: left;
  }
}

.btn-rns-register {
  background-color: #008cff;
  color: white;
}

.rns-integrate-box {
  padding: 10px;
}

.rns-index-box {
  padding: 10px;
}

.metamask-screenshot {
  margin: 1em auto;
  max-width: 250px;
}

.gitter-open-chat-button,
.gitter-open-chat-button:visited {
  background: #00b520 !important;
}

@media (max-width: 768px) {
  #footer .footer-top .social-links {
    margin-top: 50px;
    float: left;
  }
}

@media (max-width: 576px) {
  .navbar::after {
    top: 35px;
  }
  .drop-mobile-left-menu {
    width: 90vw;
  }
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
    color: white;
  }
}

@media (max-width: 375px) {
  .drop-mobile-left-menu {
    width: 85vw;
  }
}

@media screen and (max-width: 1200px) {
  .navbar::after {
    content: '';
    width: 150%;
  }
  .the-stack .row .col {
    margin-bottom: 0px;
  }
  .the-stack .row {
    margin-bottom: 25px;
  }
  .the-stack .reverse_mobile .col {
    background: #00b520;
  }
  .the-stack .reverse_mobile .col a {
    color: #ffffff !important;
  }
  .the-stack .reverse_mobile span {
    color: #ffffff !important;
  }
}

@media screen and (min-width: 1900px) {
  .navbar::after {
    width: 130%;
    top: 65px;
  }
  #home {
    padding-top: 300px;
  }
}

@media (min-width: 2600px) {
  #home {
    padding-top: 350px;
  }
}

/* rWallet */
.graph .row,
.grafbox {
  font-family: 'Quicksand', sans-serif;
  line-height: 20px;
  text-align: center;
  font-weight: 900;
  border-radius: 15px;
  min-height: 70px;
  padding: 0;
  font-size: 14px;
}

.grafboxrow,
.grafbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px 0px;
  -webkit-box-shadow: 0.5px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0.5px 2px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0.5px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

.grafboxrow {
  margin-top: 15px;
  margin-bottom: 15px;
}

.grafbox {
  margin: 15px 0px;
}

.grafbox.h-100 {
  height: calc(100% - 30px) !important;
}

.one-third-height {
  min-height: 45px !important;
}

.orange-bitcoin {
  background: #ff9900 !important;
  color: white !important;
}

.orange-bitcoin a {
  color: white !important;
}

.orange-bitcoin a:hover {
  color: white !important;
  text-decoration: none;
}

.green-rsk {
  color: rgb(0, 181, 32) !important;
}

.green-rsk a {
  color: rgb(0, 181, 32) !important;
}

.green-rsk a:hover {
  color: rgb(0, 181, 32) !important;
  text-decoration: none;
}

.green-rsk-solid {
  background: rgb(0, 181, 32) !important;
  color: white !important;
}

.green-rsk-solid a {
  color: white !important;
}

.green-rsk-solid a:hover {
  color: white !important;
  text-decoration: none;
}

.graph .grey {
  color: #666666 !important;
}

.graph .grey a {
  color: #666666 !important;
}

.graph .grey a:hover {
  color: #666666 !important;
  text-decoration: none;
}

.graph .rif_blue {
  color: #008cff !important;
}

.graph .rif_blue a {
  color: #008cff !important;
}

.graph .rif_blue a:hover {
  color: #008cff !important;
  text-decoration: none;
}

.graph .rsk_orange {
  color: #f26122 !important;
}

.graph .rsk_orange a {
  color: #f26122 !important;
}

.graph .rsk_orange a:hover {
  color: #f26122 !important;
  text-decoration: none;
}

#rWallet {
  margin-left: 80px;
}

#walletAPI::before {
  content: '';
  width: 1px;
  border-left: solid 2px #cccccc;
  position: absolute;
  left: 50%;
  top: -30px;
  height: 45px;
}

#walletAPI::after {
  content: '';
  width: 1px;
  border-left: solid 2px #cccccc;
  position: absolute;
  left: 50%;
  bottom: -15px;
  height: 30px;
}

#walletAPI_content::after {
  content: '';
  width: 534px;
  border-bottom: solid 2px #cccccc;
  position: absolute;
  left: -30%;
  bottom: -15px;
  height: 2px;
}

#explorerAPI::before {
  content: '';
  width: 30px;
  border-bottom: solid 2px #cccccc;
  position: absolute;
  left: -15px;
  top: 50%;
  height: 2px;
}

#rsk3::before,
#rnslibs::before,
#bitcoinjs::before {
  content: '';
  width: 1px;
  border-left: solid 2px #cccccc;
  position: absolute;
  left: 50%;
  height: 15px;
}

/* markdown rendered elements */
.markdown-light-rounded-border {
  float: left;
  text-align: center;
  border: solid #f8f9fa;
  margin: 5%;
  border-radius: 2em;
}

.markdown-width20 {
  width: 20%;
}

.markdown-width40 {
  width: 40%;
}

.markdown-width50 {
  width: 50%;
}

.markdown-width70 {
  width: 70%;
}

.markdown-margin10 {
  margin-left: 30%;
  margin-right: 30%;
}

.markdown-horizontal-margin30 {
  margin-left: 30%;
  margin-right: 30%;
}

@media screen and (max-width: 1200px) {
  #walletAPI_content::after {
    width: 445px;
  }
  #rWallet {
    margin-left: 60px;
  }
}

@media screen and (max-width: 768px) {
  #rWallet {
    margin-left: 40px;
  }
  #walletAPI_content::after {
    width: 327px;
  }
  .graph .row,
  .grafbox {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  #group-row {
    padding-right: 15px !important;
  }
  .one-third-height {
    min-height: 70px !important;
  }
  #walletAPI::before {
    top: -70px;
    height: 85px;
  }
  #walletAPI_content::after {
    width: 187%;
    left: 25%;
  }
  #rWallet {
    margin-left: unset;
    padding: 0 !important;
  }
  .grafboxrow_mobile {
    align-items: center;
    justify-content: center;
    margin-top: 15px 0px;
    -webkit-box-shadow: 0.5px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0.5px 2px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0.5px 2px 6px 0px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
  }
  .pr-0-sm {
    padding-right: 0px !important;
  }
  .rotate {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    line-height: 12px;
    min-width: 150px;
  }
  @media screen and (max-width: 450px) {
    #walletAPI_content::after {
      width: 190%;
      left: 25%;
    }
  }
}

.no-style {
  list-style:none;
  padding:0;
  margin:0;
}


/* RIF Accordion customization: START */
.accordion__rsk {
  border: none;
}

.accordion__rsk .card-header {
  background-color: white;
  color: #444;
  cursor: pointer;
  border: none;
  border-radius: 0;
  border-top-style: solid;
  border-top-width: 0.1rem;
  border-top-color: #ccc;
  outline: none;
}

.accordion__rsk .card-header .btn {
  text-align: left;
  width: 100%;
  font-weight: normal;
}

.accordion__rsk .card-header .btn[aria-expanded=true], .accordion__rsk .card-header .btn:hover {
  color: rgb(0, 181, 32);
}

.accordion__rsk .card-header .btn .hint::after {
  content: '\276F';
  float: right;
  margin-left: 5px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg);
  transition: 0.4s ease-out;
}

.accordion__rsk .card-header .btn[aria-expanded=true] .hint::after {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -moz-transform: rotate(-90deg); /* Firefox */
  -webkit-transform: rotate(-90deg); /* Safari and Chrome */
  -o-transform: rotate(-90deg);
  transition: 0.4s ease-out;
}

.accordion__rsk .card-header .btn::after {
  float: right;
  content: 'Show more';
  padding-right: 0.5rem;
}

.accordion__rsk .card-header .btn[aria-expanded=true]::after {
  content: 'Show less';
}
/* RIF Accordion customization: END */