html {
	overflow-x: hidden;
}

*:focus {
	outline: none;
}

body {
	font-family: 'Open Sans', sans-serif!important;
	color: #000!important;
	font-size: 16px!important;
	line-height: 25px!important;
}

.navbar_bottom_shape {
	width: 100%;
	height: 200px;
	background: url(/assets/img/green_shape.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: contain;
	display: block;
	position: absolute;
	top: -15px;
	transition: all 0.5s ease;
}

button:active {
	outline: none;
	border: none;
}

button:focus {
	outline: 0;
}

.navbar-dark .navbar-toggler {
	border: none;
}

.bg-dark {
	background-color: #00B520!important;
}

.logo {
	width: 150px;
	max-width: 150px;
	height: auto;
	transition: all 0.5s ease;
}

.nav-link {
	color: white!important;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	padding: 10px 15px!important;
}

.nav-link:hover {
	color: white!important;
}

.navbar-dark .navbar-nav .active>.nav-link {
	font-weight: 700;
}

.navbar-nav {
	padding-top: 15px;
}

.navbar {
	transition: all 0.5s ease;
}

.navbar.header-scrolled {
	background: #00B520 !important;
}

.navbar.header-scrolled::after {
	top: -50px;
	height: 0px;
}

.navbar_bottom_shape.header-scrolled {
	height: 0px;
}

.logo.header-scrolled {
	width: 90px!important;
}


/*sections */

#home {
	min-height: 100vh;
	padding-top: 200px;
	padding-bottom: 250px;
}

.btn-outline-secondary {
	font-weight: bold;
	border: none;
}

.btn-outline-secondary .parag {
	color: black;
}

.btn-outline-secondary:hover {
	background: transparent;
	color: #CCC;
	opacity: 1;
}

.btn-outline-secondary:active {
	outline: none!important;
	border: none!important;
}

.btn-outline-secondary:focus {
	outline: none!important;
}

.show>.btn-outline-secondary.dropdown-toggle {
	color: #CCC;
	background-color: #FFF;
	border-color: transparent;
}

.dropdown-menu {
	min-width: 16rem;
}

.dropdown-toggle::after {
	display: none;
}

.fa-chevron-down:before {
	content: "\f078";
	position: relative;
	top: 3px;
	margin-left: 5px;
}

.input-col {
	padding-left: 30px;
}

.mobile-left-menu {
	display: none;
	margin-top: 30px;
	margin-bottom: 30px;
}

.dropdown-item {
	white-space: normal;
}

.drop-mobile-left-menu {
	width: 100%;
	margin-top: 230px;
	padding: 15px;
	height: calc(100vh - 100px);
	overflow-y: scroll;
}

.drop-mobile-left-menu.show {
	border: 1px #009DC3 solid;
}

.second_level {
	padding-left: 45px!important;
}

.search-input {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	border: 0;
	border: solid 1px #009DC3;
	border-radius: 50px;
	padding: 8px 30px;
	color: #009DC3 !important;
	font-size: 18px;
	transition: 0.3s;
	max-width: 100%;
}

::-webkit-input-placeholder {
	/* Edge */
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	color: #009DC3 !important;
	font-size: 18px;
	transition: 0.3s;
	text-transform: capitalize!important;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	color: #009DC3 !important;
	font-size: 18px;
	transition: 0.3s;
	text-transform: capitalize!important;
}

::placeholder {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	color: #009DC3 !important;
	font-size: 18px;
	transition: 0.3s;
	text-transform: capitalize!important;
}


/* left col desktop */

.main-left-col {
	border-right: solid 1px #CCC;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.menu-container {
	color: #6c757d;
	width: 100%;
	padding-bottom: 100px;
	font-family: 'Open Sans', sans-serif;
	padding-right: 15px;
	font-size: 12px;
	line-height: 1.5;
	margin-bottom: 0px;
	display: inline-block;
}


.menu-container a {
	display: block;
	width: 100%;
}

.menu-container a.index {
	font-family: 'Quicksand', sans-serif!important;
	color:#CCCCCC!important;
	font-weight:bold!important;
	padding: 0 0 10px 0;
	font-size:15px;
}

.toggle-nav-column-visibility {
	padding: 0 0 30px 0;
}

.menu-container > div > a:hover {
	color:black!important;
}

.menu-container a:hover {
	text-decoration: none;
}

.menu-container  ul {
	list-style: none;
	padding-left: 10px;
}

.menu-container  li {
	padding-bottom: 3px;
}

.rotate-chevron > a{padding-bottom: 3px;}


.exclude-doc-from-breadcrumbs {
	padding-left: 0px!important;
}

.first_level > ul {
	padding-left: 0px!important;
}



.hide{display:none;}
.fa-chevron-right{float:right;}
.fa-chevron-right:before {
    content: " + "!important;
}
.rotate-chevron > .fa-chevron-right:before {
    content: " _ "!important;
}





li > a{ color:#666666!important;}
li:hover > a, li.current > a{font-weight:bold!important;color:black!important;}
li:hover > span, li.current > span{color:black!important;}
li > span{position: relative;
    top: 3px;
    color: #666666;}

/*.rotate-chevron > a{color:black!important; font-weight:bold;}
.rotate-chevron > a::before{background: black;}*/
.rotate-chevron > span{top: -3px;}


.first_level > a{font-family: 'Quicksand', sans-serif!important; color:#666666!important; font-weight:bold!important; padding: 7px 0;
    display: block; font-size:13px;}
.first_level > span{position: relative;
    top: 10px;
    color: #666666;}
.first_level > a::before{
content: "\A";
width: 7px;
height: 7px;
border-radius: 50%;
background: #CCC;
display: inline-block;
margin: 0 10px 0 0;}
.first_level:hover > a{color:#009DC3!important;}
.first_level:hover > a::before{background: #009DC3;}
.first_level:hover > span{color:#009DC3!important;}


/*.first_level.rotate-chevron > a{color:#009DC3!important;}
.first_level.rotate-chevron > a::before{background: #009DC3;}*/
.first_level.rotate-chevron > span{top:5px;}

.first_level.current > a, .first_level.current > span{color:#009DC3!important;}
.first_level.current > a::before{content: "\A";width: 7px;
height: 7px;
border-radius: 50%;background:#009DC3!important;
display: inline-block;
margin: 0 10px 0 0;}

.subnav{display:block;}
.subnav > ul {display:none;}
.subnav-reveal{display:block!important;}


.open > ul{display:block!important;}

/* central column*/

.breadcrumb {
	background: transparent;
	color: #CCCCCC;
	padding: 5px 10px;
	font-size: 12px;
}



.breadcrumb li a {
	padding-top: 8px;
	font-size: 12px;
	font-family: 'Quicksand', sans-serif;
	color: #CCCCCC!important;
	text-decoration: none;
	margin-right: 5px;
	margin-left: 5px;
}

.breadcrumb li:last-child a{font-weight: bold!important; color:black!important;}


.breadcrumb .active a {
	font-weight: bold;
	color: black;
}

.breadcrumb li a:hover {
	color: black;
}

.highlight {
  margin: 30px 0!important;
	padding: 0px!important;
	background-color: #CCCCCC!important;
}

.highlight .highlight {
	padding: 15px!important;
}


pre {
	white-space: pre-wrap;
	padding: 5px;
}

code {
	display: inline;
	font-size: 16px!important;
}

.main-central-col {
	padding: 0px 30px 200px;
}

.main-central-col img{margin-bottom:30px; margin-top: 15px;}


/* right column*/

.main-right-col {
	padding-left: 30px;
	border-left: solid 1px #CCCCCC;
}

.table-of-content {
	color: #CCC;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
}

.table-of-content .selected-chapter {
	color: #00B520;
	font-weight: 700;
}

.inner-right-column {
	padding-left: 15px;
}

.next-button {
	display: block;
	text-align: center;
}

.next-button-mobile {
	display: none;
}


/*header*/

h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	display: block;
	padding-bottom: 15px;
	font-size: 22px;
}

h2 {
	font-family: 'Open Sans', sans-serif!important;
	font-weight: bold;
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
margin: 0 0 15px 0;
}

h3 {
	font-family: 'Open Sans', sans-serif!important;
	font-weight: bold;
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
margin: 0 0 15px 0;
}

h4 {
	font-family: 'Open Sans', sans-serif!important;
	font-weight: bold;
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
margin: 0 0 15px 0;
}

h5,
{
	font-family: 'Open Sans', sans-serif!important;
	font-weight: bold;
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
margin: 0 0 15px 0;
}

h6 {
	font-family: 'Open Sans', sans-serif!important;
	font-weight: bold;
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
margin: 0 0 15px 0;
}




/*tipos*/

.content p {
	font-size: 14px;
	line-height: 20px;
}

.bold {
	font-weight: 700;
}

.rsk_blue {
	color: #009DC3!important;
}



.rsk_green {
	color: #00B520;
}

.rsk_orange {
	color: #F26122;
}

.title-section {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	display: block;
	padding-bottom: 15px;
	font-size: 22px;
}

.main-central-col p {
	font-size: 16px;
}

.page-metadata ,
.page-metadata a{
	font-size: 12px;
	font-weight: bold;
	color: #00B520!important;
}

.main-central-col p a,
.main-central-col a{
	font-size: 16px;
	font-weight: bold;
	color: #00B520!important;
}

.subtitle_seccion {
	font-weight: bold;
	display: block;
}


/*images*/

img {
	max-width: 100%;
}


/*videos*/

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* prev-next-links */

.prev-next-links {
	display: block;
	width: auto;
	overflow: hidden;
}

/*buttons*/

.green-button {
	background: #00B520;
}

.green-button {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	border: 0;
	border-radius: 50px;
	padding: 8px 30px;
	color: #fff !important;
	font-size: 18px;
	transition: 0.3s;
	margin-right: 30px;
}

.green-button:hover {
	text-decoration: none;
}

.main-central-col .green-button{
color:white!important;
}

.footer-button {
	font-family: 'Open Sans', sans-serif!important;
	font-weight: 600;
	border: 0;
	padding: 8px 30px;
	color: #fff !important;
	font-size: 14px;
	transition: 0.3s;
	background: #00B520;
}

.footer-button:hover {
	text-decoration: none;
	font-weight: 600!important;
}

.rounded {
	border-radius: 50px!important;
}

.scrollup {
    position: fixed;
    bottom: 50px;
    right: -10px;
    color: #666;
    font-size: 14px;
    transform: rotate(-90deg);
    font-family: 'Quicksand', sans-serif;
    transition: all 0.5s ease;
}

/* prev-next-links */

.prev-next-links {
	display: block;
	width: auto;
	overflow: hidden;
}

.prev-next-links .prev, .prev-next-links .next {
	display: block;
	margin: 1em 0;
}

.prev-next-links .prev {
	float: left;
}

.prev-next-links .next {
	float: right;
}

/*footer*/

#footer {
	font-size: 16px;
	font-weight: 300;
	margin-top: -400px;
}

#footer::before {
	content: '';
	width: 100%;
	height: 200px;
	background: url(/assets/img/black_shape.png);
	background-position: center top;
	position: relative;
	z-index: 0;
	background-size: cover;
	top: 134px;
	display: block;
}

.powered_by {
	width: 250px;
	height: auto;
	margin-bottom: 30px;
}

#footer .footer-top {
	padding: 60px 0 30px 0;
	background: black;
}



#footer .footer-top .footer-info {
	margin-bottom: 30px;
}

#footer .footer-top .footer-info p {
	line-height: 28px;
	margin-bottom: 0;
	color: white;
}

#footer .footer-top .social-links {
	margin-top: 30px;
	float: right;
}

#footer .footer-top .social-links a {
	font-size: 18px;
	display: inline-block;
	background: white;
	color: black;
	line-height: 1;
	padding: 6px 0;
	margin-right: 8px;
	border-radius: 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
	background: white;
	color: black;
}

#footer li:hover > a {font-weight:300!important}
#footer li:hover > span {font-weight:300!important}
#footer li:hover {font-weight:300!important}

#footer .footer-top h4 {
	font-size: 14px;
	font-weight: bold;
	color: #413e66;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul li {
	padding: 6px 0;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
	color: white;
}

#footer .footer-top .footer-links ul a {
	color: white!important;
}

#footer .footer-top .footer-links ul a:hover {
	color: white!important;
	text-decoration: none;

}

#footer .footer-top .footer-links ul li:hover .bold {
	font-weight: 700!important;
}

#footer .footer-top .footer-links ul a {
	color: white!important;
}


#footer .footer-top .footer-links .sub-item-footer {
	padding: 0 0 0px 15px !important;
	font-style: italic;
}

.negbottom{margin-bottom:-4px;}

.mb-30 {
	display: block;
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact {
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
	line-height: 26px;
}

#footer .copyright {
	text-align: left;
	padding-top: 30px;
	color: white;
	font-size: 12px;
	padding: 0px;
	margin: 30px 0px 0px 0px;
}

#footer .credits {
	text-align: right;
	font-size: 12px;
	padding-top: 4px;
	color: #00B520;
	padding: 0px;
	margin: 30px 0px 0px 0px;
}

#footer .credits a {
	color: #1bb1dc;
}

#footer .credits a:hover {
	color: #0a98c0;
}

/* specifics */

/*carousel*/

.owl-carousel {
	background: white;
}

.owl-carousel .owl-item {
	opacity: 0.2;
	transition: opacity 0.5s ease;
}

.owl-carousel .owl-item:hover {
	opacity: 1;
}

.owl-item.active.center {
	opacity: 1;
}

.company-name {
	opacity: 0;
	transition: opacity 0.5s ease;
	position: relative;
	top: -20px;
}

.company-name:hover {
	text-decoration: none;
}

.owl-carousel .owl-item:hover>.item>.company-name {
	opacity: 1;
}

.owl-item.active.center>.item>.company-name {
	opacity: 1;
}

.owl-theme .owl-nav {
	margin-top: -90px!important;
}

.owl-carousel .owl-nav .owl-prev {
	margin-left: -6px!important;
	position: relative;
	top: 80px;
}

.owl-carousel .owl-nav .owl-next {
	margin-right: 30px!important;
	position: relative;
	top: 80px;
}

.controls {
	display: flex;
}

.controls p {
	font-size: 9px;
	display: inline-block;
	margin-bottom: 0px;
}

.slider-labels {
	justify-content: space-between;
	margin-bottom: 40px;
}

.slider-labels,
.slider .controls {
	display: flex;
	margin-top: 100px;
}

.slider .controls p {
	margin: 0;
	font-size: 14px;
}

.slider-title {
	margin: 0;
	color: #F26122;
	font-weight: 700;
	font-family: 'Quicksand', sans-serif;
}

.slider .controls p {
	margin-right: 10px;
}

.owl-btn {
	margin-left: 10px;
	margin-left: 10px;
	background-color: #000;
	opacity: .15;
	color: #fff;
	padding: 0 15px;
	border-radius: 20px;
}

.owl-btn:hover {
	opacity: 1;
	color: #fff;
	text-decoration: none;
}

.slider {
	margin-bottom: 100px;
}

.rsk-btn:hover,
.rsk-btn:active {
	background-color: #00B520!important;
}

.rif-btn:hover,
.rif-btn:active {
	background-color: #009DC3!important;
}

.owl-carousel .item {
	width: 140px;
	height: 220px;
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
}

.owl-carousel .item img {
	width: 100%;
	align-self: flex-end;
}

.owl-carousel .item a {
	align-self: flex-end;
	margin: 0 auto;
	font-size: 14px;
	color: #000;
	text-align: center;
}

.owl-nav {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 30%;
	margin: 0;
}

.owl-prev span,
.owl-next span {
	display: none;
}

.owl-prev::after,
.owl-next::after {
	transform: scale(0.6);
	position: absolute;
	top: 0;
}

.owl-prev::after {
	content: url('/assets/img/prev-arrow.png');
	width: 32px;
	height: 36px;
}

.owl-next::after {
	content: url('/assets/img/next-arrow.png');
}

#stats-carousel.owl-carousel .item img {
	max-width: 90px;
	max-height: 90px;
	width: auto;
	height: auto;
	margin: 0 auto;
}

.owl-theme .owl-nav .owl-prev:hover,
.owl-theme .owl-nav .owl-next:hover {
	background: none;
}

.owl-dots {
	margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #F26122;
}


/*features list */

.features-list,
.talk-list {
	margin-top: 60px;
}

.features-list .row {
	padding: 0;
}

.features-list li {
	list-style: none;
}

.feature-card {
	min-height: 185px;
	font-size: 21px;
	padding: 0;
	overflow: hidden;
	display: flex;
	height: auto;
	border-radius: 35px;
	-webkit-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	transition: .1s ease all;
}

.feature-card:hover {
	-webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.feature-card a p {
	font-weight: 300;
	font-size: 13px;
	margin-bottom: 0;
	line-height: 18px;
	padding-bottom: 10px;
	min-height: 46px;
	color: #000;
}

.feature-card a:hover {
	text-decoration: none;
}

.feature-card .content {
	padding: 45px 15px 0 15px;
	flex-wrap: wrap;
}

.feature-card .two-line-title-content {
	padding: 30px 15px 0 15px!important;
}

.feature-card .content-container {
	align-self: flex-end;
	width: 100%;
}

.feature-card .btn-container {
	align-self: flex-end;
}

.feature-card .btn-container a {
	padding: 5px 15px;
	font-size: 11px;
	border-radius: 30px;
	color: #fff;
	text-decoration: none;
}

.main-central-col .feature-card .btn-container a {
	color:white!important;
}

.feature-card .card-title {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 20px;
	padding-bottom: 10px;
	min-height: auto;
}

.icon-cont {
	width: 110px;
	height: 92px;
}

.feature-card .icon {
	display: flex;
	min-width: 115px;
}

.icon img {
	max-height: 90px;
	/*  margin: 20px;*/
}

.card-button {
	font-size: 11px;
	border-radius: 20px;
	color: #fff;
	border: none;
	padding: 0 14px;
}

.button-cont {
	text-align: center;
}

.green {
	background-color: #00b520;
}

.orange {
	background-color: #f26122;
}

.blue {
	background-color: #2c9dc3;
}

/* The stack */

.the-stack{}

.the-stack .row{display: flex;
	align-items: stretch;
    flex-wrap: wrap;
 color:#00b520;}



.the-stack .row .col{
	display: flex;
	 align-items: center;
	 justify-content: center;
	font-family: 'Quicksand', sans-serif;
	    line-height: 20px;
	 text-align: center;
    font-weight: 900;
webkit-box-shadow: 0.5px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0.5px 2px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0.5px 2px 6px 0px rgba(0, 0, 0, 0.1);
    margin: 15px 5px;
    border-radius: 15px;
    min-height:70px;
    padding: 0;
}



.the-stack .category-title {
    padding: 0px;
    position: relative;
    left: -60px;
    top: -30px;
}

.the-stack .category-title a {
	font-size: 15px!important;
}

.the-stack .row .col a{
	/*padding:15px;*/
	width: 100%;
	color:#00b520;
}

.the-stack .row .col a:hover{
	text-decoration: none!important;
}

.the-stack .row .col span{
	padding:15px;
	color: rgb(255, 255, 255)!important;
}

.the-stack .row .col a > span{
	padding:0px;

}


.the-stack .has-unique-col .col a{
	font-size:20px;
	min-height:0px;
	width: 100%;
}

.the-stack .has-unique-col .col span{
	font-size:15px;
	 min-height:0px;
}

.the-stack .rotate{
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.the-stack .dapps {
	padding: 20px;
}

.the-stack .dapps .col {
	margin: 5px;
}

.the-stack .bitcoin .col {
	background: #FF9900;
}
.the-stack .bitcoin .col a {
	color: white!important;
}

.the-stack .dapps .col span,
.the-stack .defi {
	padding: 10px;
}

.the-stack .dapps .col a {
	font-size: 15px;
}

.the-stack .rsk_green .col {
	color: rgb(255, 255, 255)!important;
	background-color: rgb(0, 181, 32)!important;
}

.the-stack .rsk_green .col a {
	color: rgb(255, 255, 255)!important;
	width: 100%;
}

.the-stack .rsk_green .col span a{
	color:rgb(255, 255, 255)!important;
}

/* rif blue bg white text */

.the-stack .rif_blue .col {
	color: rgb(255, 255, 255)!important;
	background-color: rgb(0, 191, 255)!important;
	padding: 1px;
    margin: 5px;
}

.the-stack .rif_blue .col a {
	color: rgb(255, 255, 255)!important;
	    width: 100%;
}

.the-stack .rif_blue .col span{
	color:rgb(255, 255, 255)!important;
}

.the-stack .rif_blue .col.grey,
.the-stack .rsk_green .col.grey {
	background-color: #666666!important;
}

/* rif blue text white bg */

.the-stack .rif_blue_text .col {
	color: rgb(0, 191, 255)!important;

}

.the-stack .rif_blue_text .col a {
	color: rgb(0, 191, 255)!important;
	    width: 100%;
}

.the-stack .rif_blue_text .col span{
	color: rgb(0, 191, 255)!important;
}

.row .has-unique-col .rsk_green a {
	color: rgb(255, 255, 255)!important;
}

/* rsk blue bg white text */

.the-stack .rsk_blue .col {
	color: rgb(255, 255, 255)!important;
	background-color: rgb(0, 157, 195)!important;
}

.the-stack .rsk_blue .col a {
	color: rgb(255, 255, 255)!important;
	    width: 100%;
}

.the-stack .rsk_blue .col span{
	color:rgb(255, 255, 255)!important;
}


/* rsk blue text white bg */

.the-stack .rsk_blue_text .col {
	color: rgb(0, 157, 195)!important;

}

.the-stack .rsk_blue_text .col a {
	color: rgb(0, 157, 195)!important;
	    width: 100%;
}

.the-stack .rsk_blue_text .col span{
	color: rgb(0, 157, 195)!important;
}




.the-stack .green_reverse .col{
	background:#00B520!important;
}

.the-stack .green_reverse .col a{
	color: white!important;
	padding:15px;
	    width: 100%;
}

.the-stack .green_reverse .col span{
	color: white!important;
	padding:15px;
}

.the-stack .green_reverse .col a > span{
	color: white!important;
	padding:0px;
}

.nav-search-item > a {
	font-family: 'Quicksand', sans-serif;
	color: #0e0e0e;
	font-weight: bold;
	padding: 7px 0;
	display: block;
	font-size: 1.2em;
}

/* media queries*/

@media (min-width: 992px) {
	.navbar-expand-lg>.container {
		min-width: 960px;
	}
}

@media (max-width: 991px) {

	a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
   pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

#home {
    padding-top: 165px;}
.header-inner {
    margin-bottom: 0px;
}

	.input-col,
	.main-left-col,
	.main-right-col {
		display: none;
	}
	.navbar_bottom_shape {
		top: -40px;
	}

	/* nav */
	.subnav > ul {
    display: block;
}

.first_level > span{display:none!important;}

.first_level > a{color:#009DC3!important;}
.first_level > a::before{background: #009DC3;}


li > span{display:none!important;}
.hide-mobile{display:none;}

a.active{color:black!important; font-weight:bold;}

	.breadcrumb {
		display: none;
	}
	.nav-link {
		color: #FFF!important;
		padding: 5px 15px!important;
	}
  .menu-container{padding-bottom:0px;}
  .menu-container ul {
    padding-left: 15px;
}
	.main-central-col {
		border: none;
	}
	.next-button-mobile {
		display: block;
		margin-top: 45px;
	}
	.mobile-left-menu {
		display: block;
	}
	#footer .footer-top .social-links {
		float: left;
	}
	.pl-0-mobile {
		padding-left: 0px;
	}
	#footer .footer-top {
		padding: 60px 15px 30px 15px;
	}
	#footer .footer-top .social-links a {
		margin-bottom: 10px;
	}
	#footer .footer-top .footer-links {
		margin-bottom: inherit;
	}
	#footer .credits {
		text-align: left;
	}
}

@media (max-width: 576px) {
	.navbar_bottom_shape {
		top: -60px;
	}
	.navbar::after {
		top: 35px;
	}

	.drop-mobile-left-menu {
    width: 90vw;}
}

@media (max-width: 375px) {
	.drop-mobile-left-menu {
    width: 85vw;}
	}

@media screen and (max-width: 1200px) {
	.navbar::after {
		content: '';
		width: 150%;
	}



.the-stack .row .col{margin-bottom:0px;}
.the-stack .row {margin-bottom:25px;}

.the-stack .reverse_mobile .col{
background:#00b520;
}

.the-stack .reverse_mobile .col a{
	color:#FFFFFF!important;
}

.the-stack .reverse_mobile span{
	color:#FFFFFF!important;
}





}

@media (min-width: 1500px) {
	.navbar_bottom_shape {
		background-position: bottom center;
		background-size: cover;
		top: 0px;
	}
}

@media screen and (min-width: 1900px) {
	.navbar::after {
		width: 130%;
		top: 65px;
	}
	#home {
		padding-top: 300px;
	}
	.navbar_bottom_shape {
		background-position: bottom center;
		background-size: cover;
		top: 40px;
	}
	#footer::before {
		top: 50px;
	}
}

@media (min-width: 2600px) {
	#home {
		padding-top: 350px;
	}
	.navbar_bottom_shape {
		top: 75px;
	}
}
