html {
	overflow-x: hidden;
}

*:focus {
	outline: none;
}

body {
	font-family: 'Open Sans', sans-serif!important;
	color: #000!important;
	font-size: 16px!important;
	line-height: 25px!important;
}


.navbar_bottom_shape {
	width: 100%;
	height: 200px;
	background: url(/assets/img/green_shape.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: contain;
	display: block;
	position: absolute;
	top: -15px;
	transition: all 0.5s ease;
}

button:active {
	outline: none;
	border: none;
}

button:focus {
	outline: 0;
}

.navbar-dark .navbar-toggler {
	border: none;
}

.bg-dark {
	background-color: #00B520!important;
}

.logo {
	width: 150px;
	max-width: 150px;
	height: auto;
	transition: all 0.5s ease;
}

.nav-link {
	color: white!important;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	padding: 10px 15px!important;
}

.navbar-dark .navbar-nav .active>.nav-link {
	font-weight: 700;
}

.navbar-nav {
	padding-top: 15px;
}

.navbar {
	transition: all 0.5s ease;
}

.navbar.header-scrolled {
	background: #00B520 !important;
}

.navbar.header-scrolled::after {
	top: -50px;
	height: 0px;
}

.navbar_bottom_shape.header-scrolled {
	height: 0px;
}

.logo.header-scrolled {
	width: 90px!important;
}


/*sections */

#home {
	min-height: 100vh;
	padding-top: 250px;
	padding-bottom: 250px;
}

.header-inner {
	margin-bottom: 50px;
}

.btn-outline-secondary {
	font-weight: bold;
	border: none;
}

.btn-outline-secondary .parag {
	color: black;
}

.btn-outline-secondary:hover {
	background: transparent;
	color: #CCC;
	opacity: 1;
}

.btn-outline-secondary:active {
	outline: none!important;
	border: none!important;
}

.btn-outline-secondary:focus {
	outline: none!important;
}

.show>.btn-outline-secondary.dropdown-toggle {
	color: #CCC;
	background-color: #FFF;
	border-color: transparent;
}

.dropdown-menu {
	min-width: 16rem;
}

.dropdown-toggle::after {
	display: none;
}

.fa-chevron-down:before {
	content: "\f078";
	position: relative;
	top: 3px;
	margin-left: 5px;
}

.input-col {
	padding-left: 30px;
}

.mobile-left-menu {
	display: none;
	margin-top: 30px;
	margin-bottom: 30px;
}

.dropdown-item {
	white-space: normal;
}

.drop-mobile-left-menu {
	width: 85vw;
	margin-top: 360px;
	padding: 15px;
}

.drop-mobile-left-menu.show {
	border: 1px #009DC3 solid;
}

.second_level {
	padding-left: 45px!important;
}

.search-input {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	border: 0;
	border: solid 1px #009DC3;
	border-radius: 50px;
	padding: 8px 30px;
	color: #009DC3 !important;
	font-size: 18px;
	transition: 0.3s;
	max-width: 100%;
}

::-webkit-input-placeholder {
	/* Edge */
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	color: #009DC3 !important;
	font-size: 18px;
	transition: 0.3s;
	text-transform: capitalize!important;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	color: #009DC3 !important;
	font-size: 18px;
	transition: 0.3s;
	text-transform: capitalize!important;
}

::placeholder {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	color: #009DC3 !important;
	font-size: 18px;
	transition: 0.3s;
	text-transform: capitalize!important;
}


/* left col desktop */

.main-left-col {
	border-right: solid 1px #CCC;
}

#accordion {
	width: 100%;
	padding-bottom: 100px;
	font-family: 'Quicksand', sans-serif;
	padding-right: 30px;
}

#accordion a {
	font-weight: bold;
	color: #6c757d;
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 25px;
	display: inline-block;
}

#accordion a:hover {
	text-decoration: none;
}

#accordion ul {
	list-style: none;
	padding-left: 0px;
}


/*first item*/

#accordion ul li,
#accordion ul li a {
	color: #CCCCCC;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0px;
	line-height: 18px;
}

#accordion ul li:hover,
#accordion ul li a:hover {
	color: #009DC3;
}

#accordion ul li a {
	margin-bottom: 30px;
}


/*other items */

#accordion ul li ul li:hover,
#accordion ul li ul li a:hover {
	color: #000000;
}


/*dot on first item*/

#accordion ul li a::before {
	content: "\A";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #CCC;
	display: inline-block;
	margin: 0 10px 0 0;
}

#accordion ul li a:hover::before {
	background: #009DC3;
}

#accordion ul li.active a {
	color: #009DC3;
}

#accordion ul li.active a::before {
	background: #009DC3;
}


/*dot on other item*/

#accordion ul li ul li a::before {
	display: none;
}


/* padding on list */

#accordion ul li ul {
	padding-left: 0px!important;
}

#accordion ul li ul li ul {
	padding-left: 15px!important;
}

#accordion ul li.active-parent>a {
	color: #009DC3!important;
	font-weight: bold;
}

#accordion ul li.active-parent>a::before {
	background: #009DC3!important;
}

#accordion ul li ul li,
#accordion ul li ul li a {
	color: #CCCCCC!important;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	line-height: 18px;
}

#accordion ul li ul li a {
	margin-bottom: 15px;
}

#accordion ul li ul li.active>a {
	color: black!important;
	font-weight: bold;
}

#accordion ul li ul li.active-parent>a {
	color: black!important;
	font-weight: bold;
}

#accordion ul li ul li>a:hover {
	color: black!important;
	font-weight: bold;
}

#accordion ul li ul li ul li,
#accordion ul li ul li ul li a {
	color: #CCCCCC;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	line-height: 18px;
}


/*#accordion ul li ul li ul li:first-child{margin-top:15px;}*/

#accordion ul li ul li ul li.active>a {
	color: black;
	font-weight: bold;
}

#accordion ul li ul li ul li.active-parent>a {
	color: black;
	font-weight: bold;
}

#accordion ul li ul li ul li>a:hover {
	color: black!important;
	font-weight: bold;
}

#accordion ul li ul li ul li ul li,
#accordion ul li ul li ul li ul li a {
	color: #CCCCCC;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	line-height: 18px;
}

#accordion ul li ul li ul li ul li>a {
	margin-bottom: 15px;
}

#accordion ul li ul li ul li ul li.active>a {
	color: black;
	font-weight: bold;
}

#accordion ul li ul li ul li ul li.active-parent>a {
	color: black;
	font-weight: bold;
}

#accordion ul li ul li ul li ul li.active-parent>a:hover {
	color: black!important;
	font-weight: bold;
}

#accordion ul li ul li ul li ul li ul li,
#accordion ul li ul li ul li ul li ul li a {
	color: #CCCCCC;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	line-height: 18px;
}

#accordion ul li ul li ul li ul li ul li a {
	margin-bottom: 15px;
}

#accordion ul li ul li ul li ul li ul li.active>a {
	color: black;
	font-weight: bold;
}

#accordion ul li ul li ul li ul li ul li.active-parent>a {
	color: black;
	font-weight: bold;
}

#accordion ul li ul li ul li ul li ul li>a:hover {
	color: black!important;
	font-weight: bold;
}

#accordion ul li ul li ul li ul li ul li ul li,
#accordion ul li ul li ul li ul li ul li ul li a {
	color: #CCCCCC;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	line-height: 18px;
}

#accordion ul li ul li ul li ul li ul li ul li a {
	margin-bottom: 15px;
}

#accordion ul li ul li ul li ul li ul li ul li.active>a {
	color: black;
	font-weight: bold;
}

#accordion ul li ul li ul li ul li ul li ul li.active-parent>a {
	color: black;
	font-weight: bold;
}

#accordion ul li ul li ul li ul li ul li ul li>a:hover {
	color: black!important;
	font-weight: bold;
}


/* central column*/

.breadcrumb {
	background: transparent;
	color: #CCCCCC;
	padding: 5px 10px;
}

.breadcrumb li a {
	padding-top: 8px;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	color: #CCCCCC;
	text-decoration: none;
	margin-right: 5px;
	margin-left: 5px;
}

.breadcrumb .active a {
	font-weight: bold;
	color: black;
}

.breadcrumb li a:hover {
	color: black;
}

.highlight {
  margin-bottom: 30px;
  margin-top: 30px;
	padding: 0px;
	background-color: #CCCCCC;
}

.highlight .highlight {
	padding: 15px;
}

pre {
	white-space: pre-wrap;
	padding: 5px;
}

code {
	display: inline;
	font-size: 16px!important;
}

.main-central-col {
	padding: 0px 30px 200px;
}


/* right column*/

.main-right-col {
	padding-left: 30px;
	border-left: solid 1px #CCCCCC;
}

.table-of-content {
	color: #CCC;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
}

.table-of-content .selected-chapter {
	color: #00B520;
	font-weight: 700;
}

.inner-right-column {
	padding-left: 15px;
}

.next-button {
	display: block;
	text-align: center;
}

.next-button-mobile {
	display: none;
}


/*header*/

h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	display: block;
	padding-bottom: 15px;
	font-size: 22px;
}

h2 {
	font-family: 'Open Sans', sans-serif!important;
	font-weight: bold;
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
  margin:0px;
}

h3 {
	font-family: 'Open Sans', sans-serif!important;
	font-weight: bold;
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
  margin:0px;
}

h4 {
	font-family: 'Open Sans', sans-serif!important;
	font-weight: bold;
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
  margin:0px;
}

h5,
{
	font-family: 'Open Sans', sans-serif!important;
	font-weight: bold;
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
  margin:0px;
}

h6 {
	font-family: 'Open Sans', sans-serif!important;
	font-weight: bold;
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
  margin:0px;
}




/*tipos*/

.content p {
	font-size: 14px;
	line-height: 20px;
}

.bold {
	font-weight: 700;
}

.rsk_blue {
	color: #009DC3!important;
}

.rsk_green {
	color: #00B520;
}

.rsk_orange {
	color: #F26122;
}

.title-section {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	display: block;
	padding-bottom: 15px;
	font-size: 22px;
}

.main-central-col p {
	font-size: 16px;
}

.page-metadata {
	margin-bottom: 20px;
}

.main-central-col p a,
.main-central-col a,
.page-metadata a {
	font-size: 16px;
	font-weight: bold;
	color: #00B520;
}

.subtitle_seccion {
	font-weight: bold;
	display: block;
}


/*images*/

img {
	max-width: 100%;
}


/*videos*/

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*buttons*/

.green-button {
	background: #00B520;
}

.green-button {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	border: 0;
	border-radius: 50px;
	padding: 8px 30px;
	color: #fff !important;
	font-size: 18px;
	transition: 0.3s;
	margin-right: 30px;
}

.green-button:hover {
	text-decoration: none;
}

.footer-button {
	font-family: 'Open Sans', sans-serif!important;
	font-weight: 600;
	border: 0;
	padding: 8px 30px;
	color: #fff !important;
	font-size: 14px;
	transition: 0.3s;
	background: #00B520;
}

.footer-button:hover {
	text-decoration: none;
}

.rounded {
	border-radius: 50px!important;
}


/*footer*/

#footer {
	font-size: 16px;
	font-weight: 300;
	margin-top: -400px;
}

#footer::before {
	content: '';
	width: 100%;
	height: 200px;
	background: url(/assets/img/black_shape.png);
	background-position: center top;
	position: relative;
	z-index: 0;
	background-size: cover;
	top: 134px;
	display: block;
}

.powered_by {
	width: 250px;
	height: auto;
	margin-bottom: 30px;
}

#footer .footer-top {
	padding: 60px 0 30px 0;
	background: black;
}

#footer .footer-top .footer-info {
	margin-bottom: 30px;
}

#footer .footer-top .footer-info p {
	line-height: 28px;
	margin-bottom: 0;
	color: white;
}

#footer .footer-top .social-links {
	margin-top: 30px;
	float: right;
}

#footer .footer-top .social-links a {
	font-size: 18px;
	display: inline-block;
	background: white;
	color: black;
	line-height: 1;
	padding: 6px 0;
	margin-right: 8px;
	border-radius: 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
	background: white;
	color: black;
}

#footer .footer-top h4 {
	font-size: 14px;
	font-weight: bold;
	color: #413e66;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul li {
	padding: 6px 0;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
	color: white;
}

#footer .footer-top .footer-links ul a {
	color: white;
}

#footer .footer-top .footer-links ul a:hover {
	color: white;
	text-decoration: none;
}

#footer .footer-top .footer-links .sub-item-footer {
	padding: 0 0 0 15px !important;
	font-style: italic;
}

.mb-30 {
	display: block;
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact {
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
	line-height: 26px;
}

#footer .copyright {
	text-align: left;
	padding-top: 30px;
	color: white;
	font-size: 12px;
	padding: 0px;
	margin: 30px 0px 0px 0px;
}

#footer .credits {
	text-align: right;
	font-size: 12px;
	padding-top: 4px;
	color: #00B520;
	padding: 0px;
	margin: 30px 0px 0px 0px;
}

#footer .credits a {
	color: #1bb1dc;
}

#footer .credits a:hover {
	color: #0a98c0;
}

/* specifics */

/*carousel*/

.owl-carousel {
	background: white;
}

.owl-carousel .owl-item {
	opacity: 0.2;
	transition: opacity 0.5s ease;
}

.owl-carousel .owl-item:hover {
	opacity: 1;
}

.owl-item.active.center {
	opacity: 1;
}

.company-name {
	opacity: 0;
	transition: opacity 0.5s ease;
	position: relative;
	top: -20px;
}

.company-name:hover {
	text-decoration: none;
}

.owl-carousel .owl-item:hover>.item>.company-name {
	opacity: 1;
}

.owl-item.active.center>.item>.company-name {
	opacity: 1;
}

.owl-theme .owl-nav {
	margin-top: -90px!important;
}

.owl-carousel .owl-nav .owl-prev {
	margin-left: -6px!important;
	position: relative;
	top: 80px;
}

.owl-carousel .owl-nav .owl-next {
	margin-right: 30px!important;
	position: relative;
	top: 80px;
}

.controls {
	display: flex;
}

.controls p {
	font-size: 9px;
	display: inline-block;
	margin-bottom: 0px;
}

.slider-labels {
	justify-content: space-between;
	margin-bottom: 40px;
}

.slider-labels,
.slider .controls {
	display: flex;
	margin-top: 100px;
}

.slider .controls p {
	margin: 0;
	font-size: 14px;
}

.slider-title {
	margin: 0;
	color: #F26122;
	font-weight: 700;
	font-family: 'Quicksand', sans-serif;
}

.slider .controls p {
	margin-right: 10px;
}

.owl-btn {
	margin-left: 10px;
	margin-left: 10px;
	background-color: #000;
	opacity: .15;
	color: #fff;
	padding: 0 15px;
	border-radius: 20px;
}

.owl-btn:hover {
	opacity: 1;
	color: #fff;
	text-decoration: none;
}

.slider {
	margin-bottom: 100px;
}

.rsk-btn:hover,
.rsk-btn:active {
	background-color: #00B520!important;
}

.rif-btn:hover,
.rif-btn:active {
	background-color: #009DC3!important;
}

.owl-carousel .item {
	width: 140px;
	height: 220px;
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
}

.owl-carousel .item img {
	width: 100%;
	align-self: flex-end;
}

.owl-carousel .item a {
	align-self: flex-end;
	margin: 0 auto;
	font-size: 14px;
	color: #000;
	text-align: center;
}

#square-fix {
	padding: 0 30px;
}

.owl-nav {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 30%;
	margin: 0;
}

.owl-prev span,
.owl-next span {
	display: none;
}

.owl-prev::after,
.owl-next::after {
	transform: scale(0.6);
	position: absolute;
	top: 0;
}

.owl-prev::after {
	content: url('/assets/img/prev-arrow.png');
	width: 32px;
	height: 36px;
}

.owl-next::after {
	content: url('/assets/img/next-arrow.png');
}

#stats-carousel.owl-carousel .item img {
	max-width: 90px;
	max-height: 90px;
	width: auto;
	height: auto;
	margin: 0 auto;
}

.owl-theme .owl-nav .owl-prev:hover,
.owl-theme .owl-nav .owl-next:hover {
	background: none;
}

.owl-dots {
	margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #F26122;
}


/* media queries*/

@media (min-width: 992px) {
	.navbar-expand-lg>.container {
		min-width: 960px;
	}
}

@media (max-width: 991px) {
	.input-col,
	.main-left-col,
	.main-right-col {
		display: none;
	}
	.navbar_bottom_shape {
		top: -40px;
	}
	.breadcrumbs {
		display: none;
	}
	.nav-link {
		color: #FFF!important;
		padding: 5px 15px!important;
	}
  #accordion{padding-bottom:0px;}
  
	.main-central-col {
		border: none;
	}
	.next-button-mobile {
		display: block;
		margin-top: 45px;
	}
	.mobile-left-menu {
		display: block;
	}
	#footer .footer-top .social-links {
		float: left;
	}
	.pl-0-mobile {
		padding-left: 0px;
	}
	#footer .footer-top {
		padding: 60px 15px 30px 15px;
	}
	#footer .footer-top .social-links a {
		margin-bottom: 10px;
	}
	#footer .footer-top .footer-links {
		margin-bottom: inherit;
	}
	#footer .credits {
		text-align: left;
	}
}

@media (max-width: 576px) {
	.navbar_bottom_shape {
		top: -60px;
	}
	.navbar::after {
		top: 35px;
	}
}

@media screen and (max-width: 1200px) {
	.navbar::after {
		content: '';
		width: 150%;
	}
}

@media (min-width: 1500px) {
	.navbar_bottom_shape {
		background-position: bottom center;
		background-size: cover;
		top: 0px;
	}
}

@media screen and (min-width: 1900px) {
	.navbar::after {
		width: 130%;
		top: 65px;
	}
	#home {
		padding-top: 300px;
	}
	.navbar_bottom_shape {
		background-position: bottom center;
		background-size: cover;
		top: 40px;
	}
	#footer::before {
		top: 50px;
	}
}

@media (min-width: 2600px) {
	#home {
		padding-top: 350px;
	}
	.navbar_bottom_shape {
		top: 75px;
	}
}