<footer id="footer" class="section-bg">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="../img/powered_by_iov.svg" class="img-fluid powered_by">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-info">
                        <p>RSK является самой защищенной сетью смарт-контрактов в мире, где децентрализованные приложения, защищенные сетью Биткойна, помогают расширить возможности и улучшить качество жизни миллионов людей.
                        </p>
                        <br>
                        <a href="https://developers.rsk.co/" target="_blank" rel="nofollow noopener noreferrer" class="footer-button rounded" title="Start now">Начать сейчас</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="footer-links">
                                <ul>
                                    <li class="negbottom">Проектные документы</li>
                                    <li class="sub-item-footer"><a href="https://rsk.co/ru/Whitepapers/RSK_White_Paper-original-ru.pdf" rel="nofollow noopener noreferrer" target="_blank">Оригинальная версия</a></li>
                                    <li class="sub-item-footer"><a href="https://rsk.co/ru/Whitepapers/RSK-White-Paper-Updated-ru.pdf" rel="nofollow noopener noreferrer" target="_blank">Обновление</a></li>
                                    <li class="sub-item-footer"><a href="https://docs.rifos.org/rif-whitepaper-ru.pdf" rel="nofollow noopener noreferrer" target="_blank">RIF</a></li>
                                    <li><a href="https://rsk.co/ru/development-roadmap" rel="nofollow noopener noreferrer" target="_blank">Roadmap</a></li>
                                    <li><a href="https://explorer.rsk.co/" rel="nofollow noopener noreferrer" target="_blank">Explorer</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="footer-links">
                                <ul>
                                    <li><a href="https://mining.rsk.co/ru/index.html" rel="nofollow noopener noreferrer" target="_blank">Слитный майнинг</a></li>
                                    <li><a href="https://www.rsk.co/bounty-program/index" rel="nofollow noopener noreferrer" target="_blank">Bounty Program</a></li>
                                    <li><a href="https://grants.rsk.co" rel="nofollow noopener noreferrer" target="_blank">Grants Program</a></li>
                                    <li><a href="https://fund.rsk.co/ru/index.html" rel="nofollow noopener noreferrer" target="_blank">Экосистемный фонд</a></li>
                                    <li><a href="https://studio.rsk.co/ru/index.html" rel="nofollow noopener noreferrer" target="_blank">Инновационная студия</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="footer-links">
                                <ul>
                                    <li><a href="https://developers.rsk.co/defi/ru/" rel="noopener noreferrer" target="_blank">Open Finance</a></li>
                                    <li><a href="https://rsk.co/ru/Use-cases" rel="nofollow noopener noreferrer" target="_blank">Сценарии использования</a></li>
                                    <li><a href="https://rsk.co/ru/faqs" rel="nofollow noopener noreferrer" target="_blank">Ответы на часто задаваемые вопросы</a></li>
                                    <li><a href="https://blog.rsk.co/ru/" rel="nofollow noopener noreferrer" target="_blank">Блог</a></li>
                                    <li><a href="https://rsk.co/ru/Brand_Guidelines/RSK_BrandManual_V6_ru-ru.pdf" target="_blank" rel="nofollow noopener noreferrer">Руководство по использованию корпоративного стиля</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="footer-links lastcol">
                                <ul>
                                    <li><a class="bold" href="https://rsk.co/ru/terms-conditions" rel="nofollow noopener noreferrer" target="_blank">Правила и условия</a></li>
                                    <li><a class="bold" href="https://rsk.co/ru/privacy-policy" rel="nofollow noopener noreferrer" target="_blank">Политика конфиденциальности</a></li>
                                    <li><a class="bold" href="https://www.iovlabs.org/ru/index.html" rel="nofollow noopener noreferrer" target="_blank">О IOVlabs</a></li>
                                    <li><a class="bold lastcol-lastitem" href="https://www.iovlabs.org/ru/contact.html" rel="nofollow noopener noreferrer" target="_blank">Как связаться с IOVlabs</a></li>
                                    <a href="https://developers.doc.rsk.co/docs" rel="nofollow noopener noreferrer" target="_blank" class="footer-button" title="Documentation">Документация</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="social-links">
                        <a href="https://twitter.com/rsksmart" rel="nofollow noopener noreferrer" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/rsksmart" rel="nofollow noopener noreferrer" target="_blank" class="facebook"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.facebook.com/RSKsmart/" rel="nofollow noopener noreferrer" target="_blank" class="linkedin"><i class="fab fa-facebook"></i></a>
                        <a href="https://gitter.im/rsksmart" rel="nofollow noopener noreferrer" target="_blank" class="instagram"><i class="fab fa-gitter"></i></a>
                        <a href="https://www.reddit.com/r/rootstock/" rel="nofollow noopener noreferrer" target="_blank" class="instagram"><i class="fab fa-reddit"></i></a>
                        <a href="https://t.me/rskofficialcommunity" rel="nofollow noopener noreferrer" target="_blank" class="instagram"><i class="fab fa-telegram"></i></a>
                        <a href="https://medium.com/@RSKNews" rel="nofollow noopener noreferrer" target="_blank" class="instagram"><i class="fab fa-medium"></i></a>
                        <a href="https://t.me/rsksmartcontract" rel="nofollow noopener noreferrer" target="_blank" class="instagram"><i class="fab fa-telegram"></i></a>
                        <a href="https://www.instagram.com/rsksmart/" rel="nofollow noopener noreferrer" target="_blank" class=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-xs-12 pl-0-mobile">
                        <p class="copyright">Copyright © 2015 - 2020 RSK Labs. Все права защищены.</p>
                    </div>
                    <div class="col-md-6 col-xs-12 pl-0-mobile">
                        <p class="credits">Открытый ключ RSK (2ED3 E888 0384 D3D9 70B6 A612 BEBC A6A9 63F6 1479)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>