<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="https://www.rsk.co/ru/"><img id="logo" src="../img/rsk_logo.svg" class="logo" alt="RSK"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle lang_nav" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Platforms
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="https://www.rsk.co/rsk-blockchain/">RSK Blockchain</a>
                        <a class="dropdown-item" href="https://www.rifos.org/ru/" target="_blank" rel="noopener noreferrer">RSK Infrastructure Framework (RIF)</a>
                        <a class="dropdown-item" href="https://www.rsk.co/enterprise/ru/">RSK Enterprise Cloud</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle lang_nav" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Разработчики
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="https://developers.rsk.co/the-stack/" target="_blank" rel="noopener noreferrer">The Stack</a>
                        <a class="dropdown-item" href="https://developers.rsk.co/" target="_blank" rel="noopener noreferrer">Dev Portal</a>
                        <a class="dropdown-item" href="https://www.rsk.co/ru/development-roadmap">Roadmap</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/defi/ru/">Open Finance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://fund.rsk.co/ru/index.html">Экосистемный фонд</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://developers.rsk.co/webinars/">Webinars</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle lang_nav bold" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        pусский
                    </a>
                    <div class="dropdown-menu Objective_bold" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="../">english</a>
                        <a class="dropdown-item" href="../zh-Hans/">简体中文</a>
                        <a class="dropdown-item" href="../ko/">한국어</a>
                        <a class="dropdown-item" href="../ja/">日本語</a>
                        <a class="dropdown-item" href="../es/">español</a>
                        <a class="dropdown-item" href="../pt-pt/">português</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>