<!DOCTYPE html>
<html lang="en" data-theme="dark">

{% include revamp/head.html %}

<body class="darktheme">

{% include revamp/header.html %}

<div class="container">
    <!-- Mat-->
    <div class="row main_content">
        <!-- LEFT NAV COLUMN -->
<div class="col-lg-3 menu_content d-none d-lg-block ">
    <div class="col_menu sticky-top">
        {% include revamp/nav-page-menu.html %}
   </div>
</div>
        <!-- BETA CONTENT column -->
        <div class="col-lg-9 col-md-12 col-xs-12 col-sm-12 beta_content">
          {% include revamp/actionbar.html %}
            
            <!-- page info -->
            <div class="row">
                <div class="col-12">
                    <!-- On this page -->
                    {% if page.toc %}
                    <div class="row mb-5">
                    <div class="col-12 content-box">
                        <h3 class="subtitle">On this page</h3>
                        {% toc %}
                    </div>
                    </div>
                    {% endif %}
                    <!-- On this page ends -->
                    <div class="row">
                        <!--description-->
                        <div class="col-12 content-box topic-content">

                            {{ content }}

                        </div>
                    </div><!-- description ends -->
                </div>
            </div><!-- page info ends -->
        </div> <!-- beta contents ends -->
        <!-- content ends here -->
    </div>
</div>
<!-- TERMINA EL BODY -->

{% include revamp/footer.html %}

<!-- VIDEO MODAL -->
<div class="modal fade" id="homevideomodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <iframe width="auto" height="500px" src="https://www.youtube.com/embed/6U0_UkuOh2I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
</div>
<!-- VIDEO MODAL ENDS -->

</body>

{% include revamp/include.html %}

</html>

