.before-content {
  @extend .rounded-4;
  margin-top: 40px;
  display: block;
  padding: 24px;
  text-indent: 40px hanging each-line;
  font-size: 20px;
  font-weight: bold;
  background-color: $pink;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

  &:hover * {
    // text-decoration: underline;
    color: lighten(#000, 5%);
    background-color: darken($pink, 3%);
  }
}

.before-content a {
  color: #000;
  text-decoration: none;
}