html {
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif!important;
  color: #000!important;
  font-size: 16px!important;
  line-height: 25px!important;
}


/* nav */

.navbar::after {
  content: '';
  width: 110%;
  height: 60px;
  background: url(/assets/img/green_shape.png);
  background-position: center;
  position: absolute;
  background-size: 150%;
  background-repeat: no-repeat;
  z-index: -1;
  top: 108px;
  display: block;
  left: -100px;
  transition: all 0.4s ease;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.bg-dark {
  background-color: #00B520!important;
}

.logo {
  width: 150px;
  height: auto;
  transition: all 0.5s ease;
}

.nav-link {
  color: white!important;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  padding: 10px 15px!important;
}

.navbar-dark .navbar-nav .active>.nav-link {
  font-weight: 700;
}

.navbar-nav {
  padding-top: 15px;
}

.navbar {
  transition: all 0.5s ease;
}

.navbar.header-scrolled {
  background: #00B520 !important;
}

.navbar.header-scrolled::after {
  top: -50px;
  height: 0px;
}

.logo.header-scrolled {
  width: 90px!important;
}


/*sections */

#home {
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 250px;
}

.header-inner {
  margin-bottom: 50px;
}

.btn-outline-secondary {
  font-weight: bold;
  border: none;
}

.btn-outline-secondary .parag {
  color: black;
}

.btn-outline-secondary:hover {
  background: transparent;
  color: #CCC;
  opacity: 1;
}

.btn-outline-secondary:active {
  outline: none!important;
  border: none!important;
}

.btn-outline-secondary:focus {
  outline: none!important;
}

.show>.btn-outline-secondary.dropdown-toggle {
  color: #CCC;
  background-color: #FFF;
  border-color: transparent;
}

.dropdown-menu {
  min-width: 16rem;
}

.dropdown-toggle::after {
  display: none;
}

.fa-chevron-down:before {
  content: "\f078";
  position: relative;
  top: 3px;
  margin-left: 5px;
}

.input-col {
  padding-left: 30px;
}

.mobile-left-menu {
  display: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dropdown-item {
  white-space: normal;
}

.drop-mobile-left-menu {
  max-width: 90vw;
  margin-top: 360px;
}

.drop-mobile-left-menu.show {
  border: 1px #009DC3 solid;
}

.second_level {
  padding-left: 45px!important;
}

.search-input {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  border: 0;
  border: solid 1px #009DC3;
  border-radius: 50px;
  padding: 8px 30px;
  color: #009DC3 !important;
  font-size: 18px;
  transition: 0.3s;
  max-width: 100%;
}

::-webkit-input-placeholder {
  /* Edge */
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #009DC3 !important;
  font-size: 18px;
  transition: 0.3s;
  text-transform: capitalize!important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #009DC3 !important;
  font-size: 18px;
  transition: 0.3s;
  text-transform: capitalize!important;
}

::placeholder {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #009DC3 !important;
  font-size: 18px;
  transition: 0.3s;
  text-transform: capitalize!important;
}


/* left col desktop */

.main-left-col,
.main-central-col {
  border-right: solid 1px #CCC;
}

#accordion {
  width: 100%;
}

#accordion h2 {
  cursor: pointer;
  color: #CCC;
  font-size: 16px;
}

#accordion h2:before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #CCC;
  display: inline-block;
  margin: 0 10px;
}

#accordion .content {
  padding: 15px;
  color: #ccc;
  height: auto;
}

#accordion .content h3 {
  font-family: 'Open Sans', sans-serif!important;
}

#accordion .content h3.active {
  color: black;
  font-weight: bold;
}

#accordion h2.active,
#accordion h2:hover {
  color: #009DC3;
  font-weight: bold;
}

#accordion h2.active:before,
#accordion h2:hover:before {
  background: #009DC3;
}


/* central column*/

pre {
  white-space: pre-wrap;
  padding: 5px;
}

code {
  display: inline;
  padding: 5px;
  font-size: 16px!important;
}

.main-central-col {
  padding: 0px 30px 200px;
}


/* right column*/

.main-right-col {
  padding-left: 30px;
}

.table-of-content {
  color: #CCC;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.table-of-content .selected-chapter {
  color: #00B520;
  font-weight: 700;
}

.inner-right-column {
  padding-left: 15px;
}

.next-button {
  display: block;
  text-align: center;
}

.next-button-mobile {
  display: none;
}


/*header*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin: 15px 0;
  font-weight: bold;
}

h1{ 
  font-size: 22px;
}


/*tipos*/

.content p {
  font-size: 14px;
  line-height: 20px;
}

.bold {
  font-weight: 700;
}

.rsk_blue {
  color: #009DC3!important;
}

.rsk_green {
  color: #00B520;
}

.rsk_orange {
  color: #F26122;
}

.title-section {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  display: block;
  padding-bottom: 15px;
  font-size: 22px;
}

.main-central-col p {
  font-size: 16px;
}

.main-central-col p a {
  font-size: 16px;
  font-weight: bold;
  color: #00B520;
}

.subtitle_seccion {
  font-weight: bold;
  display: block;
}

/*images*/
img {
  max-width: 100%;
}

/*videos*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*buttons*/

.green-button {
  background: #00B520;
}

.green-button {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 50px;
  padding: 8px 30px;
  color: #fff !important;
  font-size: 18px;
  transition: 0.3s;
  margin-right: 30px;
}

.green-button:hover {
  text-decoration: none;
}

.footer-button {
  font-family: 'Open Sans', sans-serif!important;
  font-weight: 600;
  border: 0;
  padding: 8px 30px;
  color: #fff !important;
  font-size: 14px;
  transition: 0.3s;
  background: #00B520;
}

.footer-button:hover {
  text-decoration: none;
}

.rounded {
  border-radius: 50px!important;
}


/*footer*/

#footer {
  font-size: 16px;
  font-weight: 300;
  margin-top: -400px;
}

#footer::before {
  content: '';
  width: 100%;
  height: 200px;
  background: url(/assets/img/black_shape.png);
  background-position: center top;
  position: relative;
  z-index: 0;
  background-size: cover;
  top: 134px;
  display: block;
}

.powered_by {
  width: 250px;
  height: auto;
  margin-bottom: 30px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: black;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info p {
  line-height: 28px;
  margin-bottom: 0;
  color: white;
}

#footer .footer-top .social-links {
  margin-top: 30px;
  float: right;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: white;
  color: black;
  line-height: 1;
  padding: 6px 0;
  margin-right: 8px;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: white;
  color: black;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #413e66;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 6px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
  color: white;
}

#footer .footer-top .footer-links ul a {
  color: white;
}

#footer .footer-top .footer-links ul a:hover {
  color: white;
  text-decoration: none;
}

#footer .footer-top .footer-links .sub-item-footer {
  padding: 0 0 0 15px !important;
  font-style: italic;
}

.mb-30 {
  display: block;
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: left;
  padding-top: 30px;
  color: white;
  font-size: 12px;
  padding: 0px;
  margin: 30px 0px 0px 0px;
}

#footer .credits {
  text-align: right;
  font-size: 12px;
  padding-top: 4px;
  color: #00B520;
  padding: 0px;
  margin: 30px 0px 0px 0px;
}

#footer .credits a {
  color: #1bb1dc;
}

#footer .credits a:hover {
  color: #0a98c0;
}


/* media queries*/

@media screen and (min-width: 1900px) {
  .navbar::after {
    width: 130%;
    top: 65px;
  }
  #footer::before {
    top: 50px;
  }
}
@media screen and (max-width: 1200px) {
.navbar::after {
    content: '';
    width: 150%;
  }
  }

@media (max-width: 991px) {
  .input-col,
  .main-left-col,
  .main-right-col {
    display: none;
  }
  .nav-link {
    color: #FFF!important;
    padding: 5px 15px!important;
  }
  .main-central-col {
    border: none;
  }
  
  .next-button-mobile {
    display: block;
    margin-top: 45px;
  }
  .mobile-left-menu {
    display: block;
  }
  #footer .footer-top .social-links {
    float: left;
  }
  .pl-0-mobile {
    padding-left: 0px;
  }
  #footer .footer-top {
    padding: 60px 15px 30px 15px;
  }
  #footer .footer-top .social-links a {
    margin-bottom: 10px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: inherit;
  }
  #footer .credits {
    text-align: left;
  }
}

@media (max-width: 576px) {
.navbar::after {
   top:35px;
  }
}