/* html {
	overflow-x: hidden;
} */


body {
	font-family: 'Open Sans', sans-serif!important;
	color: #000!important;
	font-size: 16px!important;
	line-height: 28px!important;
}

.scrollup {
	position: fixed;
	bottom: 50px;
	right: -10px;
	color: #000;
	font-size: 14px;
	transform: rotate(-90deg);
	font-family: 'Quicksand', sans-serif;
	transition: all 0.5s ease;
}

.scrollup:hover {
	text-decoration: none;
	color: #000;
	bottom: 60px;
}

.bajada {
	font-size: 20px!important;
	line-height: 30px!important;
}


/* nav */

button:active {
	outline: none;
	border: none;
}

button:focus {
	outline: 0;
}

.navbar-light .navbar-toggler {
	border: none;
}

/*.bg-dark {
	background-color: transparent!important;
}
*/
.logo {
	width: 150px;
	height: auto;
	transition: all 0.5s ease;
}

.nav-link {
	color: black!important;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	padding: 10px 15px!important;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
.nav-link {font-size: 13px;}
}

.navbar-dark .navbar-nav .active>.nav-link {
	font-weight: 700;
}

.navbar-nav {
	padding-top: 15px;
}

.navbar {
	transition: all 0.5s ease;
	background: #FFFFFF;
}

.navbar.header-scrolled {
	background: #FFFFFF !important;
	webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
}

.logo.header-scrolled {
	width: 90px!important;
}

.dropdown-toggle::after {
    vertical-align: .100em;}

@media (min-width:992px) {
.dropdown>.dropdown-menu {
  transform: scale(0);
  transition: 0.3s all ease-in-out;
  display: block;
  border: 1px solid #00B520;
}

.dropdown:hover>.dropdown-menu {
  transform: scale(1);
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
}

.noevent {
    pointer-events: none;
    cursor: default!important;
}

/* circles images */

.semi-circle-right {
    width: 100px;
    height: auto;
    position: absolute;
}

.semi-circle-left {
    width: 70px;
    height: auto;
    position: absolute;
}

#usecases_content .semi-circle-left {left:0px; margin-top:-150px;}

#blog .semi-circle-right, #use-cases .semi-circle-right {
    right: 0px;
    margin-top: 0px;
}

#privacy_index .semi-circle-right {
    right: 0px;
    margin-top: -50px;
}

.circle-green{ width: 40px;
    height: auto;
    position: absolute;}
#talk-to-us .circle-green{
	left: 70%;
    margin-top: 35px;
}

 #blog_inner .circle-green{
	left: 70%;
    margin-top: 25px;
}

#blog_inner .semi-circle-right{    right: 0px;
    margin-top: 75%;
    transform: rotateY(180deg);}


#faqs_index .semi-circle-right, #terms .semi-circle-right , #privacy_index .semi-circle-right{    
	width:85px;right: 0px;
    margin-top: -50px;
    transform: rotateY(180deg);

}

#faqs_content .semi-circle-left, #terms .semi-circle-left, #privacy_content .semi-circle-left {    
	width:55px;left: 0px;
    margin-top: -150px;
    transform: rotateY(180deg);

}

#roadmap .semi-circle-left{  
    width: 70px;
    left: 0px;
    margin-top: 110px;
    transform: rotateY(180deg);

}

#roadmap .semi-circle-right {
    width: 95px;
    right: 0px;
    margin-top: 750px;
    transform: rotateY(180deg);
}


#blog .circle-green{
	width: 25px;
	left: 15%;
    margin-top: 0px;
}

/*sections */

#home {
	height:100vh;
	padding-top:110px;
	color: black;
	position: relative;
}



#home-main-content,
#home-integration,
#talk-to-us,
#home-video,
#blog {
	padding-top: 100px;
}

#home-integration .rsk_blue{font-weight: 600!important;}

/*home slider*/
.slider {
  max-width: 475px;
  height: 430px;
  position: relative;
}

@media (max-width:1200px) {
.slider {
  height: 360px;
}
}

@media (max-width:992px) {
.slider {
    width:325px;
    margin:20px auto;
  height: 315px;
}
}

.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(../img/RSK_Website_Home_Images_1.png)no-repeat center;
      background-size: cover;
    animation:fade 20s infinite;
-webkit-animation:fade 20s infinite;

} 
.slide2 {
  background: url(../img/RSK_Website_Home_Images_2.png)no-repeat center;
      background-size: cover;
    animation:fade2 20s infinite;
-webkit-animation:fade2 20s infinite;
}
.slide3 {
    background: url(../img/RSK_Website_Home_Images_3.png)no-repeat center;
      background-size: cover;
    animation:fade3 20s infinite;
-webkit-animation:fade3 20s infinite;
}

.slide4 {
    background: url(../img/RSK_Website_Home_Images_4.png)no-repeat center;
      background-size: cover;
    animation:fade4 20s infinite;
-webkit-animation:fade4 20s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  25% { opacity: 0}
  50% { opacity: 0}
  75% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  25% { opacity: 1}
  50% { opacity: 0 }
  75% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  25% { opacity: 0}
  50% { opacity: 1}
  75% { opacity: 0}
  100% { opacity: 0}
}

@keyframes fade4
{
  0%   {opacity:0}
  25% { opacity: 0}
  50% { opacity: 0}
  75% { opacity: 1}
  100% { opacity: 0}
}
/*fin home slider*/
/*features list */

.features-list,
.talk-list {
	margin-top: 60px;
}

.features-list .row {
	padding: 0;
}

.features-list li {
	list-style: none;
}

.feature-card {
	min-height: 185px;
	font-size: 21px;
	padding: 0;
	overflow: hidden;
	display: flex;
	height: auto;
	border-radius: 35px;
	border:solid 3px #00b520;
	margin-bottom: 30px;
	transition: .1s ease all;
}

.feature-card:hover {

	-webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.feature-card a p {
	font-weight: 300;
	font-size: 13px;
	margin-bottom: 0;
	line-height: 18px;
	padding-bottom: 10px;
	min-height: 46px;
	color: #000;
}

.feature-card a:hover {
	text-decoration: none;
}

.feature-card .content {
	padding: 45px 15px 0 15px;
	flex-wrap: wrap;
}

.feature-card .two-line-title-content {
	padding: 30px 15px 0 15px!important;
}

.feature-card .content-container {
	align-self: flex-end;
	width: 100%;
}

.feature-card .btn-container {
	align-self: flex-end;
}

.feature-card .btn-container a:first-child {
    padding: 0px;
}

.feature-card .btn-container a {
	padding: 5px 15px;
	font-size: 11px;
	border-radius: 30px;
	color: #fff;
	text-decoration: none;
}

.feature-card .card-title {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 20px;
	padding-bottom: 10px;
	min-height: auto;
}

.icon-cont {
	width: 110px;
	height: 92px;
}

.feature-card .icon {
	display: flex;
	min-width: 115px;
}

.icon img {
	max-height: 90px;
	
}

.card-button {
	font-size: 11px;
	border-radius: 20px;
	color: #fff;
	border: none;
	padding: 0 14px;

}

.button-cont {
	text-align: center;
}

.green {
	background-color: #00b520;
}

.orange {
	background-color: #f26122;
}

.blue {
	background-color: #008CFF;
}




/*collaborations*/

.rsk-sign {
	max-width: 50%;
	margin-bottom: 50px;
}

.full-row {
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	height: 100px;
	left: 50%;
}


/* talk-to-us*/

#talk-to-us {
	position: relative;
	z-index: 100;
}


/*video */

#home-video {
	color: #000000;
	position: relative;
}







.video-desc {
	color: #fff;
	width: 25%;
	position: absolute;
	bottom: 5em;
	right: 1em;
	font-size: 3em;
}

.modal-backdrop {
	background-color: #00B520;
	opacity: 1 !important;
}

.modal-backdrop .blue {
	background-color: #008CFF!important;
}
	
}

.pointer:hover {
	cursor: pointer!important;
}

/* ======================================================= Blog PAGE ======================================== */

#blog_header {
	height: 150px;
	color: white;
}

#blog_inner {
	padding-top: 40px;
}

.blog-entry>.blog-date {
	font-size: 13px;
}

.blog-entry>.blog-title {
	font-size: 28px;
	line-height: 35px;
	max-width: 550px;
	text-align: left;
}

.blog-entry>.blog-bajada {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif!important;
	max-width: 680px;
	text-align: left;
}

.blog-entry>.green-button {
	font-size: 14px;
}

.blog-entry-full>.blog-title {
	font-size: 28px;
	line-height: 35px;
	max-width: 100%;
	text-align: left;
}

.blog-entry-full>.green-button {
	font-size: 14px;
}

.iconleft {
	border: solid 1px #00B520;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background-image: url(../img/zoom.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 38px;
}

.input-group-prepend {
	background: #00B520;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.searchinput {
	border: solid 1px #00B520!important;
	border-top-right-radius: 50px!important;
	border-bottom-right-radius: 50px!important;
}

textarea:focus,
input:focus {
	outline: none;
}
.form-control{font-family: 'Open Sans', sans-serif!important;
	font-weight: 700;
	color: #000!important;
	font-size: 14px;}
.form-control:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}

::-webkit-input-placeholder {
	/* Edge */
	font-family: 'Open Sans', sans-serif!important;
	font-weight: 700;
	color: #000!important;
	font-size: 14px;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	font-family: 'Open Sans', sans-serif!important;
	font-weight: 700;
	color: #000!important;
	font-size: 14px;
}

::placeholder {
	font-family: 'Open Sans', sans-serif!important;
	font-weight: 700;
	color: #000!important;
	font-size: 14px;
}

.bottom30 {
	margin-bottom: 40px;
}


/*blog entries*/

#blog {

}

.blog-entry {
	margin-bottom: 50px;
	padding-right: 65px;
}

.blog-feature-container {
	margin-top: 75px;
	margin-bottom: 50px;
}

.blog-date {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 5px;
	font-family: 'Quicksand', sans-serif;
}



.feature-card.blog {
	-webkit-filter: none;
    filter: none;
    opacity: 1;
	height: auto;
	display: block;
	font-family: 'Quicksand', sans-serif;
	border:solid 0px;
	-webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	transition: all 0.5s ease;
}

.feature-card.blog:hover {
	-webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.3);
}

.feature-card.blog p {
	font-size: 28px;
	line-height: normal;
	min-height: 130px;
}

.blog .desc {
	padding: 30px;
}
.blog-link{font-weight: 700;}
.blog-link:hover{text-decoration: none;}

/*newsletter*/

.hs-form-612287d3-ddb5-45be-8f2b-2cae26b66270_83707078-16a3-4af5-bd4e-f2c73245f67d .hs-form-field label {display:none!important;}
.email-suscribe {
  padding: 25px 30px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border: 2px solid #D9D9D9;
  border-right: 0px;
}

.email-suscribe:focus {
  border: 2px solid #D9D9D9;
  border-right: 0px;
}

.btn-suscribe {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: #00B520;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  border: none;
  padding:0 30px;
}

.btn-suscribe:hover {
  
  background: #00B520;
  color: #fff;
  -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	cursor: pointer;

}

.email-suscribe::-webkit-input-placeholder { /* Edge */
  color: #CCC!important;
  font-size:18px;
}

.email-suscribe:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #CCC!important;
  font-size:18px;
}

.email-suscribe::placeholder {
  color: #CCC!important;
  font-size:18px;
}

/*shapes*/


.how-to-apply_top_shape {
	width: 100%;
	height: 200px;
	background: url(../img/white_shape_two.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	display: block;
	position: relative;
	top: -1px;
}

.how-to-apply_bottom_shape {
	width: 100%;
	height: 200px;
	background: url(../img/white_shape.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	display: none;
	position: relative;
	top: -199px;
}


/*header*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Quicksand', sans-serif;
	font-size: 47px;
	margin-bottom: 30px;
}

h1,
h2 {
	font-weight: 400;
}

h4,
h5,
h6 {
	font-weight: 700;
}

h4 {
	color: #00B520;
}

h6 {
	color: #008CFF;
}


/*tipos*/

.block{display:block;}

.explicit-link {
	color: #00b520!important;
	font-weight: 600!important;
}

.explicit-link:hover {
	text-decoration: none!important;
	color: #00b520!important;
}

.implicit-link {
	color: #00B520;
	font-weight: 600!important;
}

.implicit-link:hover {
	text-decoration: none!important;
	color: #00B520!important;
}

.bold {
	font-weight: 700;
}

.rsk_blue {
	color: #008CFF!important;
}

.rsk_blue:hover{text-decoration: none;}

.rsk_green {
	color: #00B520!important;
}

.rsk_orange {
	color: #F26122!important;
}

.rsk_grey {
	color: #383838!important;
}

#home p,
#home_mobile p,
#home-video p {
	font-size: 70px;
	font-family: 'Quicksand', sans-serif;
	line-height: 1;
	margin-bottom: 3rem;
      text-align: left;
}



#how-to-apply p {
	font-size: 20px;
	max-width: 530px;
	margin-bottom: 30px;
}

#home p a,
#how-to-apply p a {
	color: white;
}

#home p a:hover,
#how-to-apply p a:hover {
	text-decoration: none;
}

#home p.subtitule {
	font-size: 31px;
    line-height: 38px;
}


/*buttons*/

.green-button {
	background: #00B520;
}

.orange-button {
	background: #F26122;
}

.blue-button {
	background: #008CFF;
}

.green-button,
.orange-button,
.blue-button {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	border: 0;
	border-radius: 50px;
	padding: 8px 30px;
	color: #fff !important;
	font-size: 18px;
	transition: 0.3s;
	margin-right: 30px;
	transition: .1s ease all;
}

.green-button:hover,
.orange-button:hover,
.blue-button:hover {
	-webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	cursor: pointer;
}

.footer-button {
	font-family: 'Open Sans', sans-serif!important;
	font-weight: 600;
	border: 0;
	padding: 8px 30px;
	color: #fff !important;
	font-size: 14px;
	transition: 0.3s;
	background: #00B520;

}


.footer-button:hover {
	text-decoration: none;
}

.rounded {
	border-radius: 50px!important;
}

#videomodal button.btn.btn-default {
	position: absolute;
	right: -50px;
	top: -10px;
	color: white!important;
	font-size: 40px!important;
	font-family: 'vp-close-icon' !important;
	speak: none !important;
	font-style: normal !important;
	font-weight: 100 !important;
	background: transparent;
	font-variant: normal !important;
	text-transform: none !important;
	line-height: 1 !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	content: "\61";
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
	cursor: ponter;
}




/*footer*/

#footer {
	font-size: 16px;
	font-weight: 300;
    margin-top:3rem!important;
}



.powered_by {
	width: 250px;
	height: auto;
	margin-bottom: 30px;
}

#footer .footer-top {
	padding: 60px 0 30px 0;
	background: black;
}

#footer .footer-top .footer-info {
	margin-bottom: 30px;
}

#footer .footer-top .footer-info p {
	line-height: 28px;
	margin-bottom: 0;
	color: white;
	 max-width: 265px;
}

#footer .footer-top .social-links {
    margin-top: 50px;
    float: right;
}

.negletterspacing {
    letter-spacing: -2px;
}

.ja .footer-button {
    padding: 8px 10px!important;
}

.ja .negletterspacing {
    letter-spacing: -2px;
}

#footer .footer-top .social-links a {
	font-size: 18px;
	display: inline-block;
	background: white;
	color: black;
	line-height: 1;
	padding: 6px 0;
	margin-right: 8px;
	border-radius: 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
	background: white;
	color: black;
}

#footer .footer-top h4 {
	font-size: 14px;
	font-weight: bold;
	color: #413e66;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul li {
	padding: 6px 0;
  margin-bottom: 4px;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
	color: white;
}

#footer .footer-top .footer-links ul a {
	color: white;
}

#footer .footer-top .footer-links ul li a {
    line-height:20px;
        display: block;
}

#footer .footer-top .footer-links ul a:hover {
	color: white;
	text-decoration: none;
}

#footer .footer-top .footer-links .sub-item-footer {
	padding: 0 0 0px 15px !important;
	font-style: italic;
  margin-bottom: 3px;
}

.lastcol ul li {
    padding: 6px 0;
    margin-bottom: 0px!important;
}


.lastcol-lastitem {
    margin-bottom: 18px;
}

.negbottom{ margin-bottom: 7px!important;
    line-height: 20px;}

.mb-30 {
	display: block;
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact {
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
	line-height: 26px;
}

#footer .copyright {
	text-align: left;
	padding-top: 30px;
	color: white;
	font-size: 12px;
	padding: 0px;
	margin: 30px 0px 0px 0px;
}

#footer .credits {
	text-align: right;
	font-size: 12px;
	padding-top: 4px;
	color: #00B520;
	padding: 0px;
	margin: 30px 0px 0px 0px;
}

#footer .credits a {
	color: #1bb1dc;
}

#footer .credits a:hover {
	color: #0a98c0;
}


/* ======================================================= FAQS PAGE ======================================== */
#faqs {
	height: 150px;
	color: white;
}

#terms-conditions {
	height: 150px;
	color: white;
}



#faqs_index,
#privacy_index,
#terms,
#roadmap_index, #use-cases {
	padding-top: 100px;
}


#faqs_index h3,
#privacy_index h3 {
	font-size: 17px;
	color: #00B520;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
	padding-top: 20px;
}

#faqs_index .container {
	border-bottom: solid 1px #CCC;
	padding-bottom: 50px;
}

.faq_index_list {
	padding-left: 50px;
	list-style: none;
}

.faq_index_list li {
	padding-bottom: 10px;
}

.faq_index_list li::before {
	content: "\2022";
	display: inline-block;
	width: 0.7em;
	margin-left: -0.7em;
}

.faq-index-link {
	color: #000;
}

.faq-index-link:hover {
	text-decoration: none;
	color: #00B520;
	font-weight: 500;
}

#faqs_content {
	padding-top: 50px;
}

#faqs_content h4 {
	font-size: 24px;
	color: #00B520;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	margin-bottom: 30px;
	padding-top: 20px;
}

.faq_index_answer {
	padding-left: 0.7em!important;
	display: block;
	list-style: none;
}

.faq_index_answer li .question {
	font-weight: 700;
	list-style: none;
	margin-bottom: 15px;
}

.faq_index_answer li .question:before {
	content: "\2022";
	display: inline-block;
	width: 0.7em;
	margin-left: -0.7em;
}

.answer {
	padding-left: 30px;
	margin-bottom: 50px;
}

.answer p {
	word-break: break-word;
}

.inner-link-faqs {
	font-weight: 700;
	color: #008CFF;
}

.inner-link-faqs:hover {
	text-decoration: none;
	color: #008CFF;
}

.decimal-list {
	list-style-type: decimal;
}


/* ======================================================= USE CASES PAGE ======================================== */
#usecases {
	height: 150px;
	color: white;
}

.usecase-logo {
	max-height: 150px;
	margin-bottom: 50px;
	max-width: 300px;
}

.industry {
	color: #00b520;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	font-weight: 700;
}

.question_usecases {
	display: block;
}

.case-description {
	display: block;
}

.module {
	margin-bottom: 200px;
}

#usecases_content .container .module:nth-child(odd) .use-cases-circle:after{
	content:'';
width:40px;
height:40px;
display:block;
position:absolute;
left: 15%;
    margin-top: 50px;
z-index:900;
background-image: url(../img/circles/circle-green.png);
background-repeat: no-repeat;
background-size: 40px 40px;
}

#usecases_content .container .module:nth-child(even) .use-cases-circle:after{
	content:'';
width:20px;
height:20px;
display:block;
position:absolute;
left: 75%;
    margin-top: 50px;
z-index:900;
background-image: url(../img/circles/circle-blue.png);
background-repeat: no-repeat;
background-size: 20px 20px;
}


.module a.collapsed:after {
	content: 'Read More';
}

.module a:not(.collapsed):after {
	content: 'Close';
}




.module #bitgive.collapse:not(.show),
.module #angels.collapse:not(.show),
.module #sesocio.collapse:not(.show),
.module #moneychain.collapse:not(.show),
.module #eighti.collapse:not(.show),
.module #dex.collapse:not(.show),
.module #cryptoshift.collapse:not(.show),
.module #watafan.collapse:not(.show),
.module #tokkenit.collapse:not(.show),
.module #oscity.collapse:not(.show),
.module #enargas.collapse:not(.show),
.module #mmp.collapse:not(.show),
.module #carnes.collapse:not(.show),
.module #davivienda.collapse:not(.show),
.module #bfourh.collapse:not(.show),
.module #neoris.collapse:not(.show) {
	display: block;
	/* height = lineheight * no of lines to display */
	height: 11.5em;
	overflow: hidden;
}

.module #bitgive.collapsing,
.module #angels.collapsing,
.module #sesocio.collapsing,
.module #moneychain.collapsing,
.module #eighti.collapsing,
.module #dex.collapsing,
.module #cryptoshift.collapsing,
.module #watafan.collapsing,
.module #tokkenit.collapsing,
.module #oscity.collapsing,
.module #enargas.collapsing,
.module #mmp.collapsing,
.module #carnes.collapsing,
.module #davivienda.collapsing,
.module #bfourh.collapsing,
.module #neoris.collapsing {
	height: 11.5em;
}

.module #bitgive.collapse.show>.usecases_shadow,
.module #angels.collapse.show>.usecases_shadow,
.module #sesocio.collapse.show>.usecases_shadow,
.module #moneychain.collapse.show>.usecases_shadow,
.module #eighti.collapse.show>.usecases_shadow,
.module #dex.collapse.show>.usecases_shadow,
.module #cryptoshift.collapse.show>.usecases_shadow,
.module #watafan.collapse.show>.usecases_shadow,
.module #tokkenit.collapse.show>.usecases_shadow,
.module #oscity.collapse.show>.usecases_shadow,
.module #enargas.collapse.show>.usecases_shadow,
.module #mmp.collapse.show>.usecases_shadow,
.module #carnes.collapse.show>.usecases_shadow,
.module #davivienda.collapse.show>.usecases_shadow,
.module #bfourh.collapse.show>.usecases_shadow,
.module #neoris.collapse.show>.usecases_shadow {
	height: 0px;
}

.collapsecontainer {
	margin-bottom: 30px;
	position: relative;
}

.usecases_shadow {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 140px;
	background-position: bottom center;
	background-size: 100% 20px;
	background-repeat: no-repeat;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#FFFFFF', GradientType=0);
}

.usecase-button {
	color: white;
	background: #00b520;
	border-radius: 50px;
	padding: 8px 30px;
}

.usecase-button:hover {
	text-decoration: none;
	color: white;
	background: #00b520;
}




/* ======================================================= ROADMAP PAGE ======================================== */
.hideondesk {
	display: none!important;
}

.hideondesk-1200 {
	display: none!important;
}

#roadmap {
	
	height: 150px;
	color: white;
}

#roadmap_index h2 {
	margin-bottom: 100px;
}

.roadmap_container {
	border-left: solid 2px #CCC;
	max-height: 670px;
	margin-bottom: 200px;
}

.relative-container {
	position: relative;
	top: -25px;
}

.roadmap_level_title {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	color: #00B520;
}

.modal-title {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}

/*.first-level-title {
	color: #00B520;
}*/

.modal-content {
	border-radius: 0px;
}

.modal-header {
	border-bottom: 0px solid #dee2e6;
}

.modal-body {
	font-size: 12px;
	line-height: 15px;
}

.modal {

}

.first-level-title:before {
	content: "\A";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: block;
	margin-right: 10px;
	position: relative;
	z-index: 2;
	top: 22px;
	left: -8px;
}

.second-level-title {
	color: #00B520;
}

.second-level-title:before {
	content: "\A";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: block;
	margin-right: 10px;
	position: relative;
	z-index: 2;
	top: 22px;
	left: -8px;
}

.third-level-title {
	color: #00B520;
}

.third-level-title:before {
	content: "\A";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: block;
	margin-right: 10px;
	position: relative;
	z-index: 2;
	top: 22px;
	left: -8px;
}

.fourth-level-title {
	color: #00B520;
}

.fourth-level-title:before {
	content: "\A";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: block;
	margin-right: 10px;
	position: relative;
	z-index: 2;
	top: 22px;
	left: -8px;
}

.fifth-level-title {
	color: #008CFF;
}

.fifth-level-title:before {
	content: "\A";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: block;
	margin-right: 10px;
	position: relative;
	z-index: 2;
	top: 22px;
	left: -8px;
}

.sixth-level-title {
	color: #008CFF;
	margin-top:40px;
}

.sixth-level-title:before {
	content: "\A";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: block;
	margin-right: 10px;
	position: relative;
	z-index: 2;
	top: 22px;
	left: -8px;
}


.seventh-level-title {
	color: #00B520;
	margin-top:40px;
}

.seventh-level-title:before {
	content: "\A";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: block;
	margin-right: 10px;
	position: relative;
	z-index: 2;
	top: 22px;
	left: -8px;
}

.roadmap_level_content {
	font-size: 11px;
	line-height: 15px;
	padding-left: 35px;
	min-height: 112px;
}

.roadmap_level_content .col-lg-2{height:115px;}


.has-inner{
	min-height:75px;
	max-height:75px;
}

.roadmap-entry {
	font-weight: 600;
	cursor: pointer;
	text-align: left;
}

.entry-info {
	display: none;
	position: absolute;
	z-index: 5;
	top: 75px;
	left: 70px;
	background:  #00B520;
	color: #FFF;
	font-size: 11px;
	width: 200px;
	text-align: left;
	padding: 10px;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.14);
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.14);
}

.entry-info-green {
	display: none;
	position: absolute;
	z-index: 5;
	top: 75px;
	left: 70px;
	background: #00B520!important;
	color: #FFF;
	font-size: 11px;
	width: 200px;
	text-align: left;
	padding: 10px;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.14);
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.14);
}

.entry-info-blue {
	display: none;
	position: absolute;
	z-index: 5;
	top: 75px;
	background: #008CFF!important;
	color: #FFF;
	font-size: 11px;
	width: 200px;
	text-align: left;
	padding: 10px;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.14);
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.14);
}

.entry-info:after {
	bottom: 100%;
	left: 5%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #F26122;
	border-width: 5px;
}

.entry-info-green:after {
	bottom: 100%;
	left: 5%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #00B520;
	border-width: 5px;
}

.entry-info-blue:after {
	bottom: 100%;
	left: 5%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #008CFF;
	border-width: 5px;
}

.roadmap-entry:hover+.entry-info {
	display: block;
}

.roadmap-entry:hover+.entry-info-green {
	display: block;
}

.roadmap-entry:hover+.entry-info-blue {
	display: block;
}

.entry-list {
	list-style: none;
	padding-left: 55px!important;
}

.entry-list li {
	padding-left: 0px;
	max-width: 110px;
}

.entry-list.rsk li:before {
    background: #00B520;
}

.entry-list.rif li:before {
background: #008CFF;
}


.first-level-title:before {
	background: #00B520;
}

.second-level-title:before {
	background: #00B520;
}

.third-level-title:before {
	background: #00B520;
}

.fourth-level-title:before {
	background: #00B520;
}

.fifth-level-title:before {
	background: #008CFF;
}

.sixth-level-title:before {
	background: #008CFF;
}

.seventh-level-title:before {
	background: #00B520;
}

.entry-list.rsk:before {
	border-color:  #00B520;
}

.entry-list.rif:before {
	border-color:  #008CFF;
}

/*.second-level-content .entry-list li:before {
	background: #00B520;
}

.second-level-content .entry-list:before {
	border-color:  #00B520;
}

.third-level-content .entry-list li:before {
	background:  #00B520;
}

.third-level-content-inner{

    max-height: 112px!important;}

.third-level-content-inner .entry-list li:before {
    background: #008CFF;
}

.third-level-content .entry-list:before {
	border-color:  #00B520;
}

.third-level-content-inner .entry-list:before {
	border-color:  #008CFF;
}

.fourth-level-content .entry-list li:before {
	background:  #00B520;
}

.fourth-level-content .entry-list:before {
	border-color:  #00B520;
}

.fifth-level-content .entry-list li:before {
	background: #008CFF;
}

.fifth-level-content .entry-list:before {
	border-color: #008CFF;
}


.sixth-level-content .entry-list{padding-left:15px!important;}
.sixth-level-content .first-entry{padding-left:55px!important;}

.sixth-level-content .entry-list li:before {
	background: #008CFF;
}

.sixth-level-content .entry-list:before {
	border-color: #008CFF;
	width:30px;
	left:-50px;
}

.seventh-level-content .entry-list li:before {
	background: #00B520;
}

.seventh-level-content .entry-list:before {
	border-color: #00B520;
}*/

.entry-list li:before {
	content: "\A";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	display: block;
	margin-right: 10px;
	position: relative;
	z-index: 2;
	top: 12px;
	left: -20px;
}


.entry-list:before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 100%;
    border-bottom: 2px solid;
    position: relative;
    top: 20px;
    left: -75px;

}

.first-entry:before {
	border-bottom: none!important;
}



.curved-border {
	width: 95px;
	border-radius: 0 0 0 50px;
	position: relative;
	z-index: 2;
	left: -107px;
}

.firstline.curved-border{
	height: 43px;
	top: -79px;}

.secondline.curved-border{
	height: 160px;
    top: -197px;}

    .thirdline.curved-border{
	height: 160px;
    top: -211px;}

    .fourthline.curved-border{
	height: 153px;
    top: -159px;}

     .fifthline.curved-border{
	height: 160px;
    top: -181px;}


 .second-level-content .firstline.curved-border{
	top: -49px;}

 .second-level-content .secondline.curved-border{
	top: -195px;}

	 .second-level-content .thirdline.curved-border{
	top: -165px;}

	 .second-level-content .fourthline.curved-border{
	top: -211px;}

.rsk .curved-border {
	border-bottom: solid 2px #00B520;
	border-left: solid 2px #00B520;
}

.rif .curved-border {
	border-bottom: solid 2px #008CFF;
	border-left: solid 2px #008CFF;
}










/*.fourth-level-content .curved-border {
	border-bottom: solid 2px #00B520;
	border-left: solid 2px #00B520;
	top: -49px;
}

.second-level-content .curved-border {
	border-bottom: solid 2px #00B520;
	border-left: solid 2px #00B520;
}

.fifth-level-content .curved-border {
	border-bottom: solid 2px #008CFF;
	border-left: solid 2px #008CFF;
	top: -79px;
}

.sixth-level-content .curved-border {
	border-bottom: solid 2px #008CFF;
	border-left: solid 2px #008CFF;
	top: -65px;
}

.seventh-level-content .curved-border {
	border-bottom: solid 2px #00B520;
	border-left: solid 2px #00B520;
	top: -49px;
}

.third-level-content .curved-border {
	border-bottom: solid 2px #00B520;
	border-left: solid 2px #00B520;
}

.third-level-content-inner .curved-border {
    border-bottom: solid 2px #008CFF;
    border-left: solid 2px #008CFF;
    height: 112px;
    top: -149px;
}*/


/* ======================================================= PRIVACY POLICY PAGE ======================================== */
#privacy-policy {
	height: 150px;
	color: white;
}

#intro-policy {
	padding-bottom: 50px;
}

.privacy-col-left {
	padding-right: 50px;
}

.privacy-col-right {
	padding-left: 50px;
}

.privacy-col-left p,
.privacy-col-right p {
	margin-bottom: 28px;
}

.privacy_index_list {
	padding-left: 0.7em;
	margin-bottom: 0px;
	list-style: none;
}

.privacy_index_list li {
	padding-bottom: 10px;
}

.privacy_index_list li::before {
	content: "\2022";
	display: inline-block;
	width: 0.7em;
	margin-left: -0.7em;
}

.privacy-index-link {
	color: #000;
	font-family: 'Quicksand', sans-serif;
	font-size: 21px;
}

.privacy-index-link:hover {
	text-decoration: none;
	color: #00B520;
	font-weight: 500;
}

#menu-policy {
	padding-top: 50px;
}

#privacy_content {
	padding-top: 50px;
}

#privacy_content h4,
#terms h4 {
	font-size: 30px;
	color: #00B520;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	margin-bottom: 30px;
	padding-top: 20px;
}

.indenteddiv {
	padding-left: 30px;
}



/* ======================================================= TERMS AND CONDITIONS PAGE ======================================== */


/* ======================================================= MEDIA QUERIES ======================================== */

@media (hover: none) {
    .feature-card{
	-webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
  opacity:1;
}
}


@media screen and (min-width: 1900px) {
	
	.how-to-apply_top_shape {
		background: url(../img/white_shape.png);
		width: 150%;
		-webkit-transform: scaleY(-1);
		transform: scaleY(-1);
		background-position: top left;
		background-size: cover;
	}
	
  	

	

}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 70vw;
	}
}


@media screen and (max-width: 1200px) {
	#privacy_content,
	#terms {
		word-break: break-word;
	}
	.privacy-col-left {
		padding-right: 15px;
	}
	.privacy-col-right {
		padding-left: 15px;
	}

	/*roadmap media queries */







	.hideondesk-1200 {
		display: block!important;
	}
	.roadmap_container {
		max-height: none;
		margin-bottom: unset;
		    border-left: unset;
	}

/*	.first-level-content:before{


        content: "";
		display: block;
		position: absolute;
		left: -16px;
		top: 30px;
		border: 2px solid  #CCC;
		border-width: 0 0 0 2px;
		height: 1575px;
}*/

	.first-level-content .rsk-items:before{
    content: "";
    display: block;
    position: absolute;
    left: 73px;
    top: 78px;
    border: 2px solid #00B520;
    border-width: 0 0 0 2px;
    height: 218px;

}

	.first-level-content .rif-items:before{
content: "";
    display: block;
    position: absolute;
    left: 73px;
    top: 365px;
    border: 2px solid #008CFF;
    border-width: 0 0 0 2px;
    height: 175px;
}


	.second-level-content .rsk-items:before{
		    content: "";
        display: block;
    position: absolute;
    left: 73px;
    top: 650px;
    border: 2px solid #00B520;
    border-width: 0 0 0 2px;
    height: 415px;
}

	.second-level-content .rif-items:before{
content: "";
    display: block;
    position: absolute;
    left: 73px;
       top: 1148px;
    border: 2px solid #008CFF;
    border-width: 0 0 0 2px;
    height: 240px;
}

.third-level-content .rsk-items:before {
    content: "";
    display: block;
    position: absolute;
    left: 73px;
    top: 1491px;
    border: 2px solid #00B520;
    border-width: 0 0 0 2px;
    height: 345px;
}


.curved-border{display:none;}
.rsk-items .has-curved-mobile{display: block;
    position: absolute;
    top: -11px!important;
    left: -38px;}

.rif-items .has-curved-mobile{
       display: block;
    position: absolute;
    top: -295px;
    left: -37px;
    height: 327px;}

.second-level-content .rif-items .has-curved-mobile{    display: block;
    position: absolute;
    top: -503px;
    left: -38px;
    height: 535px;}

.secondline.curved-border, .thirdline.curved-border, .fifthline.curved-border{display:none;}
.roadmap_level_content .col-lg-2 {
    height: auto;
}


	.entry-list:before {
		border-color: #FFF!important;
	}
	.fullcolrow {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.roadmap-entry:hover+.entry-info {
		display: none;
	}
	.roadmap-entry {
		width: auto;
	}
	/*.first-entry {
		margin-bottom: -30px;
	}*/
	.seventh-level-content .curved-border {
		top: -49px;
	}
	/*.roadmap_container {
		
	}*/
	/*.first-level-content {
		margin-top: -220px;
	}*/
	/*.first-level-content:before {
		content: "";
		display: block;
		position: relative;
		left: 53px;
		top: 250px;
		border: 2px solid #00B520;
		border-width: 0 0 0 2px;
		height: 220px;
	}*/
	/*.second-level-content {
		margin-top: -190px;
	}*/
/*	.second-level-content:before {
		content: "";
		display: block;
		position: relative;
		left: 53px;
		top: 220px;
		border: 2px solid #00B520;
		border-width: 0 0 0 2px;
		height: 190px;
	}*/
	/*.third-level-content {
		margin-top: -240px;
	}
	.third-level-content:before {
		content: "";
		display: block;
		position: relative;
		left: 53px;
		top: 272px;
		border: 2px solid #00B520;
		border-width: 0 0 0 2px;
		height: 240px;
	}


.third-level-content-inner:before {
		    content: "";
    display: block;
    position: absolute;
    left: 73px;
    top: 1006px;
    border: 2px solid #008CFF;
    border-width: 0 0 0 2px;
    height: 85px;
	}


.third-level-content-inner {
    max-height: inherit!important;
    margin-top: 480px;
}

.third-level-content-inner .curved-border{height:350px; top:-385px;}
.third-level-content-inner .first-entry{max-height:112px;}*/

.inner-first-col{}

.fourth-level-title {
		margin-top: 15px;
	}
	.fourth-level-content {
		/*margin-top: -135px;*/
		margin-top: -135px;
	}
	.fourth-level-content:before {
		content: "";
		display: block;
		position: relative;
		left: 53px;
		top: 165px;
		border: 2px solid #00B520;
		border-width: 0 0 0 2px;
		height: 135px;
	}
	.fifth-level-content {
		margin-top: -315px;
	}
	.fifth-level-content:before {
		content: "";
    display: block;
    position: relative;
    left: 53px;
    top: 345px;
    border: 2px solid #008CFF;
    border-width: 0 0 0 2px;
    height: 315px;
}
	

.sixth-level-title{margin-top:640px;}

	.sixth-level-content {
		margin-top: -485px;
	}
	
		.sixth-level-content:before {
    content: "";
    display: block;
    position: relative;
    left: 53px;
    top: 515px;
    border: 2px solid #008CFF;
    border-width: 0 0 0 2px;
    height: 485px;
	}
.sixth-level-content .entry-list {
    padding-left: 55px!important;
}

.seventh-level-title{margin-top:980px;}
	.seventh-level-content {
		margin-top: -215px;
	}
	.seventh-level-content:before {
		content: "";
		display: block;
		position: relative;
		left: 53px;
		top: 250px;
		border: 2px solid #00B520;
		border-width: 0 0 0 2px;
		height: 215px;
	}
  
}


@media (max-width: 991px) {

	#blog_inner .semi-circle-right {
    margin-top: 100%;
}

	#use-cases .semi-circle-right {
    width:55px;
    margin-top: -120px;
}

.feature-card{
	cursor: pointer;
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
  opacity:1;
}

.video_image{margin-bottom:30px;}
 

 /*p{text-align:justify} */

 
	.custom-toggler .navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
	.custom-toggler .navbar-toggler-icon.header-scrolled {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
	.nav-link {
		color: #000000!important;
		padding: 5px 15px!important;
	}
	.falsebreak {
		display: none;
	}
	.feature-1 {
		display: none;
	}
	.feature-3 {
		display: inline-flex;
	}
	.feature-3,
	.feature-2 {
		margin-top: 30px;
		margin-bottom: 30px;
		max-width: 50%;
	}
	#home {
		height: auto;
	}
  
  
  
	
	#home-main-content {
		padding-top: 100px;
	}
	#home-integration {
		padding-top: 100px;
	}


	#talk-to-us {
		padding-top: 100px;
	}
	#home-text {
		margin-top:10vh!important;
		margin-bottom: 10vh!important;
	}   
	¿
	#how-to-apply {
		height: calc( 75vh + 200px);
		background: url(../img/in2.jpg);
		background-position: left center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.how-to-apply_top_shape {
		top: -18px;
	}
	.how-to-apply_bottom_shape {
		display: block;
		top: -150px;
	}
	#how-to-apply-text {
		display: none;
	}
	#how-to-apply_mobile {
		display: block;
		margin-top: -250px;
		padding-bottom: 200px;
	}
	h5 {
		color: #00B520;
	}
	.how-to-apply_mobile_title_bold {
		font-weight: 700;
		color: #F26122!important;
	}
	.home_mobile_bold {
		font-weight: 700;
		color: #00B520!important;
	}
	.home_mobile_bold:hover {
		text-decoration: none;
	}
	.how-to-apply_mobile_bold {
		font-weight: 700;
		color: #008CFF!important;
	}
	.how-to-apply_mobile_bold:hover {
		text-decoration: none;
	}
	#our-thesis,
	{
		padding-top: 70px;
	}
	#our-thesis .right-col {
		padding-left: 15px;
	}
	#our-thesis .left-col {
		padding-right: 15px;
	}
	.img-partners-left,
	.img-partners-right {
		max-width: 75%;
	}
	.img-partners-left,
	.img-partners-right {
		float: inherit;
		padding: 15px;
		margin: 0 auto;
		display: block;
		margin-top: 50px;
	}
	.img-partners-left {
		padding-left: 0px;
	}
	.img-partners-right {
		padding-right: 0px;
	}
	

	#home-video {
		height: auto;
		}
	.follow-us {
		position: inherit;
		width: calc( 100% - 30px);
		margin-top: 30px;
	}

	  #footer .footer-top .footer-info p {
    max-width: inherit;
}

	#footer .footer-top .social-links {
		float: left;
	}
	.pl-0-mobile {
		padding-left: 0px;
	}
	#footer .footer-top {
		padding: 60px 15px 30px 15px;
	}
	#footer .footer-top .social-links a {
		margin-bottom: 10px;
	}
	#footer .footer-top .footer-links {
		margin-bottom: inherit;
	}
	#footer .credits {
		text-align: left;
	}
  	.hideondesk {
		display: block!important;
	}

	  .modal.show .modal-dialog {
    max-width: 90vw;}


}

@media (max-width: 768px) {

	#blog_inner .circle-green {
    margin-top: -55px;
}

	#blog_inner .semi-circle-right {
   display:none;
}
	
 
  .scrollup{display:none;}
  #talk-to-us .circle-green {
    margin-top: -45px;
}

#blog .semi-circle-right {
	width:55px;
    margin-top: -115px;
}
#footer .footer-top .footer-links ul li:first-child {
    padding-top: 6px; 
    color: white;
}

#footer .footer-top .social-links {
    margin-top: 50px;
    float: left;
}


}

@media (max-width: 630px) {


      #faqs_content .semi-circle-left, #terms .semi-circle-left, #privacy_content .semi-circle-left {
    width: 35px;
    margin-top: -5px;
}}

@media (max-width: 576px) {

	#roadmap .semi-circle-left {
    width: 45px;}

    #roadmap .semi-circle-right {
    width: 60px;}

	#faqs_index .semi-circle-right, #terms .semi-circle-right, #privacy_index .semi-circle-right {
	width:55px;	
    margin-top: -115px;}

  
.smaller576{font-size: 30px;}

.scrollup{right: -30px;}
	
	
	#videomodal button.btn.btn-default {
		right: 10px;
		top: 150px;
	}

	#home p,
	#home_mobile p {
		font-size: 30px;
	}
	.orange-button,
	.blue-button {
		display: block;
		margin-bottom: 30px;
		width: 165px;
		text-align: center;
	}
	#how-to-apply {
		background-position: 30% center;
	}
  	
	.answer {
		padding-left: inherit;
	}
	.faq_index_list {
		padding-left: 0.7em;
	}
  
  .slider-labels, .slider .controls {
    display: block;
}
.slider-title {
display:block;}


  
}

@media (max-width: 400px) {
h1,
h2,
h3,
h4,
h5,
h6 {font-size:30px;}
.feature-card a p{font-size:10px;}
}

@media (max-width: 340px) {
.feature-card .icon {display:none;}
}


/* IPADS */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
 .feature-card{
	-webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
  opacity:1;
}}