<!DOCTYPE html>
<html lang="en">
   {% assign event = page.event %}
   <head>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
         new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
         j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
         'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
         })(window,document,'script','dataLayer','GTM-56J7JTD');
      </script>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Welcome to RSK & RIF Webinars!">
      <meta name="author" content="RSK">
      <link rel="canonical" href="{{ site.url }}{{ page.url }}">
      <title>{{ event.title }} - RSK + RIF Webinars</title>
      <!-- og info -->
      <meta property="og:title" content="{{ event.title }} - RSK + RIF Webinars">
      <meta property="og:description" content="{{ event.descriptionSummary }} - RSK + RIF Webinars">
      <meta property="og:url" content="{{ site.url }}{{ page.url }}">
      {% if event.youtubeVideoId != "" %}
         <meta property="og:image" content="https://i.ytimg.com/vi/{{ event.youtubeVideoId }}/maxresdefault.jpg" />
         <meta property="og:type" content="video">
         <meta property="og:video" content="https://www.youtube.com/v/{{ event.youtubeVideoId }}" />
      {% else %}
         <meta property="og:image" content="{{ site.url }}{{ event.bannerImage | default: "/assets/img/logos/rsk-rif-logos-unfurl-og.jpeg" }}">
      {% endif %}
      <!-- Twitter Card data -->
      {% if event.youtubeVideoId != "" %}
         <meta name="twitter:card" content="player">
      {% else %}
         <meta name="twitter:card" content="summary">
      {% endif %}
      <meta name="twitter:title" content="{{ event.title }} - RSK + RIF Webinars">
      <meta name="twitter:description" content="{{ event.descriptionSummary }} - RSK + RIF Webinars">
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
      <meta name="twitter:site" content="{{ event.twitterSite | default: "@rsksmart" }}">
      {% if event.youtubeVideoId != "" %}
         <meta name="twitter:image" content="https://i.ytimg.com/vi/{{ event.youtubeVideoId }}/maxresdefault.jpg" />
         <meta name="twitter:player" content="https://www.youtube.com/embed/{{ event.youtubeVideoId }}" />
         <meta name="twitter:player:width" content="435" />
         <meta name="twitter:player:height" content="251" />
      {% else %}
         <meta name="twitter:image" content="{{ site.url }}{{ event.bannerImage | default: "/assets/img/logos/rsk-rif-logos-unfurl-twitter.jpeg" }}">
      {% endif %}
      <!-- Favicons -->
      <link rel="apple-touch-icon" sizes="180x180" href="/webinars/img/favicons/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/webinars/img/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/webinars/img/favicons/favicon-16x16.png">
      <link rel="manifest" href="/webinars/img/favicons/site.webmanifest">
      <link rel="mask-icon" href="/webinars/img/favicons/safari-pinned-tab.svg" color="#000000">
      <link rel="shortcut icon" href="/webinars/img/favicons/favicon.ico">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-config" content="/webinars/img/favicons/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700,900&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800&display=swap" rel="stylesheet">
      <!-- Bootstrap core CSS -->
      <link href="/webinars/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Libraries CSS Files -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">
      <!-- Main Stylesheet File -->
      <link href="/webinars/css/styles.css" rel="stylesheet">
   </head>
   <body>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-56J7JTD"
         height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      
      {% include header.html %}

      <!-- Page Content -->
      <!-- home -->
      <section id="home">
         <div class="container-fluid h-100">
            <div class="row h-100">
               <div class="container h-100">
                  <div class="row h-100">
                     <div id="home-text" class="col-lg-12 my-auto">
                        <h1>
                          <span class="bold rsk_green">{{ event.title }} - RSK + RIF Webinars</span>
                        </h1>
                        {% if event.youtubeVideoId != "" %}
                           <div class="video-container">
                              <iframe
                                 src="https://www.youtube-nocookie.com/embed/{{ event.youtubeVideoId }}?cc_load_policy=1"
                                 frameborder="0"
                                 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                 allowfullscreen="allowfullscreen">
                              </iframe>
                           </div>
                           <p class="mb-5">
                              {{ content }}
                           </p>
                        {% else %}
                           <p class="mb-5">
                              {{ content }}
                           </p>
                           <p class="mb-5">
                              <div class="image-group image-group-banner" style="background-image: url('{{ event.bannerImage | default: event.image }}');">
                                 <div class="event-type">{{ event.category }}</div>
                              </div>
                           </p>
                        {% endif %}
                        <div
                          class="tiempo mb-5"
                          data-timestamp="{{ event.timestamp }}"
                        >
                          <p class="event-date">
                              <span>
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <span class="text display-date">{{ event.timestamp }}</span>
                              </span>
                          </p>
                          <p class="event-time">
                              <span>
                                 <i class="fa fa-clock" aria-hidden="true"></i>
                                 <span class="text display-time"></span>
                                 <span class="text display-tz"></span>
                              </span>
                          </p>
                          <p class="event-language">
                            <span>
                                <i class="fa fa-language" aria-hidden="true"></i>
                                <span class="text display-language">{{ event.language }}</span>
                            </span>
                          </p>
                          <p class="event-presenters">
                            <i class="fa fa-chalkboard-teacher" aria-hidden="true"></i>
                            <ul>
                            {% for presenter in event.presenters %}
                            <li class="presenter">
                              <span class="presenter-name">{{ presenter.name }}</span>{% if presenter.description %},
                              <span class="presenter-description">{{ presenter.description }}</span>{% endif %}
                              {% if presenter.contact %}- <span class="presenter-contact">{{ presenter.contact }}</span>{% endif %}
                            </li>
                            {% endfor %}
                            </ul>
                          </p>
                          {% assign resourceCount = event.resources | size %}
                          {% if resourceCount > 0 %}
                          <p class="event-resources">
                            <span>
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </span>
                            <ul class="text display-resource">
                                {% for resource in event.resources %}
                                  <li>
                                      <a href="{{ resource.url }}"
                                        rel="noreferrer noopener"
                                        target="_blank">
                                        {{ resource.label }}
                                      </a>
                                  </li>
                                {% endfor %}
                            </ul>
                          </p>
                          {% endif %}
                          <p class="event-recording">
                            {% if event.isPast %}
                              <span>
                                  <i class="fa fa-video" aria-hidden="true"></i>
                                  <span class="text display-recorded-video-url">
                                    {% if event.recordedVideoUrl != "" %}
                                    <a href="{{ event.recordedVideoUrl }}"
                                        rel="noreferrer noopener"
                                        target="_blank">
                                        View Recording
                                    </a>
                                    {% else %}
                                    <span>
                                        Recording not available
                                    </span>
                                    {% endif %}
                                  </span>
                              </span>
                            {% else %}
                              <span>
                                  RSVP now!
                              </span>
                            {% endif %}
                          </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section id="event-rsvp-embed">
        <div class="container-fluid h-100">
          <div class="row h-100">
            <div class="container h-100">
              <div class="row h-100">
                <div id="home-text" class="col-lg-12 my-auto">
                  {% if event.isPast %}
                    <p>
                      This event has concluded, and RSVPs are closed.
                    </p>
                    <p>
                      <a href="/webinars">Check out our future webinars!</a>
                    </p>
                  {% else %}
                    <iframe
                      width="100%"
                      height="420"
                      frameborder="0"
                      src="{{ event.rsvpEmbedUrl }}"
                      title="{{ event.title }}"
                    ></iframe>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- scope -->
      <section id="brands">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 my-auto text-center">
                  <img src="/webinars/img/rsk-rif-iov.png" class="img-fluid three-brands">
               </div>
            </div>
         </div>
      </section>

      {% include footer.html %}

      <!-- Bootstrap core JavaScript -->
      <script src="/webinars/vendor/jquery/jquery.min.js"></script>
      <script src="/webinars/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/webinars/js/isotope.pkgd.min.js"></script>
      <script src="/webinars/js/main.js"></script>
   </body>
</html>