<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
         new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
         j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
         'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
         })(window,document,'script','dataLayer','GTM-56J7JTD');
      </script>
      <!-- End Google Tag Manager -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="RSK is the first open source Smart Contract platform secured by the Bitcoin Network. RSK adds value and expand functionality to the Bitcoin ecosystem by providing smart contracts and greater scalability.">
      <meta name="author" content="RSK Developers Portal">
      <link rel="canonical" href="https://{{ site.domain }}{{ page.url }}">
   	<title>RSK Developers Portal</title>
      <!-- Favicons -->
      <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
      <link rel="manifest" href="/assets/img/favicons/site.webmanifest">
      <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#000000">
      <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-config" content="/assetsimg/favicons/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700,900&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800&display=swap" rel="stylesheet">
      <!-- Bootstrap core CSS -->
      <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Libraries CSS Files -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">
      <link rel="stylesheet" href="/assets/vendor/malihu-custom-scrollbar-plugin-master/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.css" />
      <!-- Main Stylesheet File -->
      <link href="/assets/css/styles.css" rel="stylesheet">
      <link href="/assets/css/styles_dark.css" rel="stylesheet" disabled>
      <link href="/assets/css/code.css" rel="stylesheet">
      <link href="/assets/css/owl.carousel.min.css" rel="stylesheet">
      <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet">
   </head>
   <body>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-56J7JTD"
         height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
         <div class="container">
            <a class="navbar-brand" href="https://rsk.co"><img id="logo" src="/assets/img/rsk_logo.svg" class="logo" alt="RSK Developers Portal"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="/the-stack" target="_self">The Stack
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/develop" target="_self">Develop</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="https://www.rsk.co/development-roadmap" target="_blank">Roadmap</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="https://fund.rsk.co" target="_blank">Ecosystem Fund</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <div class="navbar_bottom_shape"></div>
      <!-- Page Content -->
      <!-- home -->
      <section id="home">
         <div class="container">
            <div class="row header-inner">
               <div class="col-lg-3">
                  <!-- mobile dropdown left column -->
                  <div class="mobile-left-menu">
                     <button class="btn btn-outline-secondary dropdown-toggle rsk_blue" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu <i class="fas fa-chevron-down"></i></button>
                     <div class="dropdown-menu drop-mobile-left-menu">
                        <div class="mobile_accordion">
                           {% include nav-page-menu.html %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <!-- left col desktop -->
               <div class="col-lg-3 main-left-col">
                  <div class="desktop_accordion">
                     {% include nav-page-menu.html %}
                  </div>
               </div>
               <!-- central col -->
               <div class="col-lg-9 main-central-col" id="top">

                  {{ content }}

               </div>
            </div>
         </div>
      </section>


 <!-- footer -->
      <footer id="footer" class="section-bg">
         <div class="footer-top">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <img src="/assets/img/powered_by_iov.svg" class="img-fluid powered_by">
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6">
                  <div class="row">
                     <div class="col-sm-7">
                        <div class="footer-info">
                           <p>Rsk is the most secure smart contract<span class="falsebreak"><br></span> network in the world and enables<span class="falsebreak"><br></span> decentralized applications secured by the<span class="falsebreak"><br></span> Bitcoin Network to empower people and<span class="falsebreak"><br></span> improve the quality of life of millions.</p>
                           <br>
                           <a href="https://developers.rsk.co/" target="_blank" class="footer-button rounded" title="Start now">Start now</a>
                        </div>
                     </div>
                     <div class="col-sm-5"></div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="footer-links">
                           <ul>
                              <li class="negbottom">Whitepapers</li>
                              <li class="sub-item-footer"><a href="https://www.rsk.co/Whitepapers/RSK_White_Paper-ORIGINAL.pdf" rel="noopener noreferrer" target="_blank">Original</a></li>
                              <li class="sub-item-footer"><a href="https://www.rsk.co/Whitepapers/RSK-White-Paper-Updated.pdf" rel="noopener noreferrer" target="_blank">Updated</a></li>
                              <li class="sub-item-footer"><a href="https://docs.rifos.org/rif-whitepaper-en.pdf" rel="noopener noreferrer" target="_blank">RIF</a></li>
                              <li><a href="https://fund.rsk.co" rel="noopener noreferrer" target="_blank">Ecosystem Fund</a></li>
                              <li><a href="https://studio.rsk.co" rel="noopener noreferrer" target="_blank">Innovation Studio</a></li>
                              <li><a href="https://mining.rsk.co" rel="noopener noreferrer" target="_blank">Merged Mining</a></li>
                              <li><a href="https://grants.rsk.co" rel="noopener noreferrer" target="_blank">Grants Program</a></li>
                              <li><a href="https://rsk.co/defi" rel="noopener noreferrer" target="_blank">Defi</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="footer-links">
                           <ul>
                             <li><a href="https://www.rsk.co/development-roadmap/" target="_blank">Roadmap</a></li>
                              <li><a href="https://www.rsk.co/faqs/" target="_blank">Faqs</a></li>
                              <li><a href="https://www.iovlabs.org/about_us.html" target="_blank">About us</a></li>
                              <li><a href="https://www.iovlabs.org/contact.html" target="_blank">Contact</a></li>
                              <li><a href="https://rsk.co/noticias/" target="_blank">Blog</a></li>
                              <li><a href="https://rsk.co/Use-cases">Use cases</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="footer-links">
                           <ul>
                              <li><a class="bold" href="https://www.rsk.co/Brand_Guidelines/RSK_BrandManual_V6.pdf" target="_blank">Brand Guidelines</a></li>
                              <li><a class="bold" href="https://www.rsk.co/terms-conditions/">Terms &amp; Conditions</a></li>
                              <li><a class="bold mb-30" href="https://www.rsk.co/privacy-policy">Privacy Policy</a></li>
                              <a href="https://developers.doc.rsk.co/docs" target="_blank" class="footer-button" title="Documentation">Documentation</a>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="social-links" >
                     <a href="https://twitter.com/rsksmart" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                     <a href="https://www.youtube.com/rsksmart" target="_blank" class="facebook"><i class="fab fa-youtube"></i></a>
                     <a href="https://www.facebook.com/RSKsmart/" target="_blank" class="linkedin"><i class="fab fa-facebook"></i></a>
                     <a href="https://gitter.im/rsksmart" target="_blank" class="instagram"><i class="fab fa-gitter"></i></a>
                     <a href="https://www.reddit.com/r/rootstock/" target="_blank" class="instagram"><i class="fab fa-reddit"></i></a>
                     <a href="https://t.me/rskofficialcommunity" target="_blank" class="instagram"><i class="fab fa-telegram"></i></a>
                     <a href="https://medium.com/@RSKNews" target="_blank" class="instagram"><i class="fab fa-medium"></i></a>
                     <a href="https://t.me/rsksmartcontract"  target="_blank"class="instagram"><i class="fab fa-telegram"></i></a>
                     <a href="https://www.instagram.com/rsksmart/" target="_blank" class=""><i class="fab fa-instagram"></i></a>
                     <a href="https://bitcointalk.org/index.php?topic=5124334" target="_blank" class=""><i class="fab fa-btc"></i></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="col-md-12">
               <div class="row">
                  <div class="col-md-6 col-xs-12 pl-0-mobile">
                     <p class="copyright">Copyright © 2015 - 2019 RSK Labs. All rights reserved.</p>
                  </div>
                  <div class="col-md-6 col-xs-12 pl-0-mobile">
                     <p class="credits"> RSK Public Key (69F6 F997 2497 8762 D541 8AE4 58D2 260D 5998 6758)</p>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- #footer -->
      <a href="#top" class="scrollup"><p>Go to top</p></a>
      <!-- Bootstrap core JavaScript -->
      <script src="/assets/vendor/jquery/jquery.min.js"></script>
      <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/js/main.js"></script>
      <script src="/assets/vendor/malihu-custom-scrollbar-plugin-master/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/assets/vendor/carousel/owl.carousel.min.js"></script>
      <script type="text/javascript">
      $('.owl-carousel').owlCarousel({
          loop:true,
          nav:true,
          center:true,
          URLhashListener:true,
          autoplayHoverPause:true,
          responsive:{
              0:{
                  items:1
              },
              600:{
                  items:1
              },
              1000:{
                  items:3
              }
          }
      });

      </script>

   </body>
</html>
