---
layout: rsk_base
---

<div style="float: left; width: 100%;">
  <div style="float: left;">
    <a href="/rif/identity/">
      <img src="/rif/identity/assets/img/logo.svg" alt="logo-rif-id"p style="height: 60px; margin: 0;" />
    </a>
  </div>
  <div style="float: right; margin: 20px;">
    <a href="/rif/identity/ssi">SSI</a> |
    <a href="/rif/identity/data-vault">Data Vault</a> |
    <a href="/rif/identity/rlogin">rLogin</a> |
    <a href="/rif/identity/manager">Identity Manager</a>
  </div>
</div>

{{ content }}
