<!doctype html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="canonical" href="https://{{ site.domain }}{{ page.url }}">

	<title>{{ page.title }} - Docs - RIF Name Service</title>

	<link rel="stylesheet" href="/dist/styles/main.css">
	<link rel="stylesheet" href="/dist/styles/main-docs.css">
	<link rel="stylesheet" href="/dist/styles/main-docs-dark.css">
	<link rel="stylesheet" href="/dist/styles/code.css">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto+Condensed:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127960783-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-127960783-2');
	</script>
</head>
<body class="">
	<!--[if IE]>
		<div class="alert alert-warning">
			You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		</div>
	<![endif]-->
	<header class="banner" role="banner">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">
				<img src="/dist/images/logo.png" width="100" alt="RNS"/>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primary-nav" aria-controls="primary-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="primary-nav">
				<ul id="menu-primary-nav" class="nav navbar-nav ml-auto">
					<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="nav-item">
						<a title="Github" href="https://github.com/rnsdomains/" class="nav-link">Github</a>
					</li>
					<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="nav-item">
						<a title="Documentation" href="https://docs.rns.rifos.org/" class="nav-link">Documentation</a>
					</li>
					<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="nav-item">
						<a title="RNS Manager" href="https://manager.rns.rifos.org" class="nav-link">Manager</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="page-wrapper">
		<div class="container">
			{% include nav-breadcrumbs-actions.html %}
			<div class="row">
				<div class="col-lg-8 col-lg-push-4">
					<h1 class="page-title">{{ page.title }}</h1>
					<div class="page-metadata">
						<time role="presentation" datetime="{{ page.last_modified_at }}T00:00:00.000Z">{{ page.last_modified_at | date: '%Y-%m-%d' }}</time> |
						{% assign words = content | number_of_words %}{{ words | divided_by:180 }} minutes to read |
						<a href="https://github.com/{{ site.repository }}/edit/master/{{ page.path }}">Edit</a> |
						<div class="dropdown" style="display: inline-block">
							<a href="#" id="share-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Share</a>
							<ul class="dropdown-menu" aria-labelledby="share-menu" style="padding: 5px">
								<li><a class="share-twitter" data-bi-name="twitter" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2F{{ site.domain }}{{ page.url }}&amp;text={{ page.title }}&amp;tw_p=tweetbutton&amp;url=https%3A%2F%2F{{ site.domain }}{{ page.url }}"><span class="docon docon-brand-twitter" aria-hidden="true"></span>Twitter</a></li>
								<li><a class="share-linkedin" data-bi-name="linkedin" href="https://www.linkedin.com/cws/share?url=https%3A%2F%2F{{ site.domain }}{{ page.url }}"><span class="docon docon-brand-linkedin" aria-hidden="true"></span>LinkedIn</a></li>
								<li><a class="share-facebook" data-bi-name="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F{{ site.domain }}{{ page.url }}"><span class="docon docon-brand-facebook" aria-hidden="true"></span>Facebook</a></li>
								<li><a class="share-email" data-bi-name="email" href="mailto:?subject={{ page.title }}&amp;body={{ page.title }}%0A%0Ahttps%3A%2F%2F{{ site.domain }}{{ page.url }}"><span class="docon docon-mail-message-fill" aria-hidden="true"></span>Email</a></li>
								<li><a class="share-link" data-bi-name="link" href="#" onclick="var el = $(document.createElement('input'));$('body').append(el);el.val('https://{{ site.domain }}{{ page.url }}').select();document.execCommand('copy');$(el).remove(); return false;"><span class="docon docon-clipboard-message-fill" aria-hidden="true"></span>Copy link</a></li>
							</ul>
						</div> |
						<a href="#" onclick="$('body').toggleClass('dark');if($(this).text() ==='Dark'){$(this).text('Light')}else{$(this).text('Dark')} return false;">Dark</a>
					</div>
					{{ content }}
				</div>
				<div class="col-lg-4 col-lg-pull-8">
					{% include nav-page-menu.html %}
				</div>
			</div>
		</div>
	</div>

	<footer id="footer" class="bg-dark-alt pt-4 pb-4">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 mb-4">
					<img src="/dist/images/logo-footer.png" alt="RIF OS" width="150" />
				</div>
				<div class="col-sm-3 mb-4">
					<h5 class="text-light">RNS</h5>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="https://rns.rifos.org/">Home</a>
						</li>
						<li class="nav-item">
							<a href="https://github.com/rnsdomains/">Github</a>
						</li>
						<li class="nav-item">
							<a href="https://docs.rifos.org/rif-name-service-specification-en.pdf">Specification</a>
						</li>
						<li class="nav-item">
							<a href="https://githug.com/rnsdomains/RNSIPs/">Collaborate</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-3 mb-4">
					<h5 class="text-light">RESOURCES</h5>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="https://manager.rns.rifos.org/">Manager</a>
						</li>
						<li class="nav-item">
							<a href="https://docs.rns.rifos.org/">Documentation</a>
						</li>
						<li class="nav-item">
							<a href="https://rifos.org/">RIF OS</a>
						</li>
						<li class="nav-item">
							<a href="https://rsk.co/">RSK Smart</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-3 mb-4">
					<h5 class="text-light">COPYRIGHT</h5>
					<p class="text-primary">© 2019 RIF Labs Limited. <br>All Rights Reserved.</p>
					<ul class="nav">
						<li class="nav-item">
								<a class="nav-link h3" href="https://github.com/rnsdomains"><i class="fab fa-github"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link h3" href="https://twitter.com/rif_os"><i class="fab fa-twitter-square"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link h3" href="https://t.me/rif_os"><i class="fab fa-telegram"></i></a>
							</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
